<section id="map" class="map">
	<div class="container">
		<h2 class="map__heading" translate="MAP__HEADING">Вы также можете встретиться с нашим специалистом в любом удобном для Вас месте</h2>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="map__element" id="map__element"></div>
		</div>
	</div>
</section>