section#contacts.contacts
    .container
        .center.contacts__container.row
            h1.contacts__heading Контакты
            .row
                .contacts__side.col-lg-6.col-md-6.col-sm-6.col-xs-12
                    h2.contacts__side-heading По всем вопросам услуг
                    .row
                        .col-lg-6.col-md-6.col-sm-12.col-xs-12
                            p.contacts__side-label Телефон
                            p.contacts__side-info +7 495 545 74 30
                        .col-lg-6.col-md-6.col-sm-12.col-xs-12
                            p.contacts__side-label Email
                            p.contacts__side-info info@archwood.ru
                        .col-lg-12.col-md-12.col-sm-12.col-xs-12
                            a(href='#', title='Консультация').contacts__side-btn.btn.btn--rounded.btn--yellow Консультация
                .contacts__side.col-lg-6.col-md-6.col-sm-6.col-xs-12
                    h2.contacts__side-heading Для партнеров и коммерческих предложений
                    .row
                        .col-lg-6.col-md-6.col-sm-12.col-xs-12
                            p.contacts__side-label Телефон
                            p.contacts__side-info +7 495 545 74 30
                        .col-lg-6.col-md-6.col-sm-12.col-xs-12
                            p.contacts__side-label Email
                            p.contacts__side-info partners@archwood.ru
                        .col-lg-12.col-md-12.col-sm-12.col-xs-12
                            a(href='#', title='Оставить заявку').contacts__side-btn.btn.btn--rounded.btn--yellow Оставить заявку
        .contacts__container.row
            .contacts__action.col-lg-12
                p.contacts__action-text Оставьте заявку на бесплатный выезд архитектора&nbsp;
                    br
                    | на Ваш объект или в офис
                a(href='#', title='Заказать выезд').contacts__action-btn.btn.btn--bordered.btn--rounded Заказать выезд