<section id="special" class="special">
	<div class="container">
		<div class="center">
			<div class="row">
				<div class="special__element-container">
					<div class="special__element col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<h3 class="special__heading" translate="SPECIAL__SUPPORT">Сопровождение ремонта</h3>
						<div ng-bind-html="parts.services.interery.designerSupervision.description" class="special__description projects__editable"></div>
						<a ng-click="moreInfo('service', 'projects');" href="#" title="Подробнее" class="special__btn btn btn--yellow btn--rounded" translate="SPECIAL__MORE">Подробнее</a>
						<a ng-click="popups.showPopup('popup--calc', false)" href="#" title="Оставить заявку" data-win="popup--cooperate" class="special__btn btn btn--bordered btn--rounded open-popup" translate="SPECIAL__BTN">Оставить заявку</a>
					</div>
					<div class="special__element col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<h3 class="special__heading" translate="SPECIAL__SUPERVISION">Авторский надзор</h3>
						<div ng-bind-html="parts.services.interery.repairSupervision.description" class="special__description projects__editable"></div>
						<a ng-click="popups.showPopup('popup--consult', false)" href="#" title="Оставить заявку" data-win="popup--cooperate" class="special__btn btn btn--bordered btn--rounded open-popup" translate="SPECIAL__BTN">Оставить заявку</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>