section#supervision.supervision
    .container
        .center
            h2.supervision__heading Авторский надзор
            p.supervision__text Вы замечали, как находящиеся рядом предметы могут мешать общему восприятию? Например, несовместимые пропорции дивана и стоящего рядом торшера, или часть стены, окрашенная в темный цвет "перевешивает'' светлую часть? Если исключить частные случаи, когда несоответствие масштабов является центром композиции и призвано привлекать внимание, провоцировать зрителя,то мы советуем Вам придерживаться некоторых правил: Не стоит размещать рядом материалы или предметы интерьера, одинаково насыщенные деталями. Например, два вида близких по цвету обоев, с рисунком в одинаковом масштабе.Следите за тем, чтобы размер мебели соответствовал площади помещения: студийный модульный диван не будет смотреться в гостиной среднего размера (в маленькую он просто не влезет).
            p.supervision__text Для многих ритм ассоциируется с пульсом музыки. В архитектуре и дизайне интерьера-это своеобразная повторяющаяся схема построения элементов пространства, которая помогает воспринимать интерьер в движении. Ритм является одним из связующих элементов и может присутствовать как в планировке пространства, так и в декоративных элементах. В интерьере ритм может создаваться искусственно, а может возникать благодаря специфике материалов: если присмотреться, ритм можно увидеть и в повторяющемся рисунке паркета, и в уложенной керамической плитке или мозаике.
            p.supervision__text Цвет в интерьере является одним из элементов, находящих у зрителя наиболее сильный эмоциональный отклик.. Он не только имеет сильное воздействие на атмосферу и пространство, но сочетает в себе почти все вышеперечисленные признаки: правильная работа с цветом обеспечивает единство восприятия, цветовое пятно может являться центральным элементом композиции, цвет вносит баланс, с помощью цвета можно создать
            .supervision__architect.row
                .supervision__architect-about.clearfix
                    img(src='../img/elem/supervision__architect-photo.jpg', alt='Фото архитектора').supervision__architect-photo
                    blockquote.supervision__architect-quote
                        p.supervision__architect-text « Выезжая на объект, архитектор сразу видит недостатки и достоинства конкретной планировки, возможные сложности будущего ремонта и пути их преодоления. Образ внутреннего оформления будущего дома тоже закладывается при первом выезде на место.
                        p.supervision__architect-text Полный дизайн-проект - это большая работа, требующая много времени и определенных затрат, и, конечно, отдельная консультация не может быть равносильна законченному проекту. Но она определенно поможет избежать типичных ошибок при ремонте. »
                    p.supervision__architect-author Марина Измайлова
                        br
                        span.supervision__architect-profession Архитектор, CEO Archwood