<section id="contacts" class="contacts">
	<div class="container">
		<div class="center contacts__container row">
			<h1 class="contacts__heading" translate="CONTACTS__HEADING"></h1>
			<div class="row">
				<div class="contacts__side col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<h2 class="contacts__side-heading" translate="CONTACTS__SUBHEADING_1"></h2>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<p class="contacts__side-label" translate="CONTACTS__PHONE"></p>
							<p class="contacts__side-info">{{ phones.contact.text }}</p>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<p class="contacts__side-label">Email</p>
							<p class="contacts__side-info">info@archwood.ru</p>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><a ng-click="popups.showPopup('popup--consult-small', false);" href="#" title="Консультация" class="contacts__side-btn btn btn--rounded btn--yellow" translate="BTN_CONSULT"></a></div>
					</div>
				</div>
				<div class="contacts__side col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<h2 class="contacts__side-heading" translate="CONTACTS__SUBHEADING_2"></h2>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<p class="contacts__side-label" translate="CONTACTS__PHONE"></p>
							<p class="contacts__side-info">{{ phones.partners.text }}</p>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<p class="contacts__side-label">Email</p>
							<p class="contacts__side-info">partners@archwood.ru</p>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><a ng-click="popups.showPopup('popup--cooperate', false);" href="#" title="Оставить заявку" class="contacts__side-btn btn btn--rounded btn--yellow" translate="BTN_LEAVE_REQ"></a></div>
					</div>
				</div>
			</div>
		</div>
		<div class="contacts__container row">
			<div class="contacts__action col-lg-12">
				<p class="contacts__action-text" translate="CONTACTS__ACTION_TEXT"></p>
				<a ng-click="popups.showPopup('popup--contacts-check', false);" href="#" title="Заказать выезд" class="contacts__action-btn btn btn--bordered btn--rounded" translate="CONTACTS__ACTION_BTN"></a>
			</div>
		</div>
	</div>
</section>