<aside id="sidebar" class="sidebar sidebar--closed">
	<div class="sidebar__flex">
		<ul class="sidebar__menu">
			<li class="sidebar__menu-item"><a ng-click="toPortfolio();" ui-sref-active="sidebar__menu-link--active" href="#" class="sidebar__menu-link" translate="SIDEBAR__PORTFOLIO">Портфолио</a></li>
			<li class="sidebar__menu-item"><a ui-sref="service" ui-sref-active="sidebar__menu-link--active" href="#" class="sidebar__menu-link" translate="SIDEBAR__SERVICES">Услуги</a></li>
			<li class="sidebar__menu-item"><a href="http://casual-home.ru/" class="sidebar__menu-link" translate="SIDEBAR__BLOG">Блог</a></li>
			<li class="sidebar__menu-item"><a ui-sref="about" ui-sref-active="sidebar__menu-link--active" href="#" class="sidebar__menu-link" translate="SIDEBAR__ABOUT">О студии</a></li>
			<li class="sidebar__menu-item"><a ui-sref="contacts" ui-sref-active="sidebar__menu-link--active" href="#" class="sidebar__menu-link" translate="SIDEBAR__CONTACTS">Контакты</a></li>
		</ul>
		<a href="tel:{{ phones.contact.num }}" class="sidebar__phone"><span class="sidebar__phone-underline">{{ phones.contact.text }}</span></a>
		<a ng-click="popups.showPopup('popup--consult', false);"  href="#" class="sidebar__btn btn btn--rounded btn--bordered" translate="SIDEBAR__BTN">Консультация</a>
	</div>
</aside>