<section id="videos" class="videos">
	<div class="container">
		<div class="center">
			<h2 class="videos__heading" translate="VIDEOS"></h2>
			<div class="videos__container clearfix">
				<div class="videos__elem" ng-repeat="vid in parts.about.videos">
					<div class="videos__elem-top"><a href="{{ vid.link }}" title="Открыть попап с видео" class="js-lightbox--video videos__elem-link"><img src="{{ vid.preview }}" alt="{{ vid.title }}" class="videos__elem-preview"></a></div>
					<div class="videos__elem-bottom">
						<p class="videos__elem-heading">{{ currLang == 'ru' ? vid.title : vid.en.title }}</p>
						<p class="videos__elem-description">{{ vid.description }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>