extends ../elements/layout/layout.jade

block title
	title Archwood :: About page

block content
	include ../elements/about/about.jade
	include ../elements/supervision/supervision.jade
	include ../elements/video/video.jade
	include ../elements/publications/publications.jade
	include ../elements/partners/partners.jade
	include ../elements/jobs/jobs.jade
	include ../elements/actions/actions.jade