extends ../elements/layout/layout.jade

block title
	title Archwood :: Home

block content
	include ../elements/contacts/contacts.jade
	include ../elements/map/map.jade
	include ../elements/actions/actions.jade