extends ../elements/layout/layout.jade

block title
	title Archwood :: Home

block content
	include ../elements/promo/promo.jade
	include ../elements/works/works.jade
	include ../elements/actions/actions.jade