extends ../elements/layout/layout.jade

block title
	title Archwood :: Project page

block content
	include ../elements/description/description.jade
	include ../elements/gallery/gallery.jade
	include ../elements/plans/plans.jade
	include ../elements/sketches/sketches.jade
	include ../elements/additional/additional.jade
	include ../elements/actions/actions.jade