extends ../elements/layout/layout.jade

block title
	title Archwood :: Service page

block content
	include ../elements/service/service.jade
	include ../elements/projects/projects.jade
	include ../elements/special/special.jade
	include ../elements/actions/actions.jade