section#description.description
    .container
        a(href='#', title='Закрыть проект').description__close
        .center
            .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    h2.description__heading.description__heading--mobile Проект однакомнатной квартиры серии П-3М
                .description__tech.col-lg-3.col-md-3.col-sm-3.col-xs-12.clearfix
                    .description__tech-element
                        p.description__tech-label Стиль
                        p.description__tech-content Современный
                    .description__tech-element
                        p.description__tech-label Площадь
                        p.description__tech-content 134 м2
                    .description__tech-element
                        p.description__tech-label Срок реализации
                        p.description__tech-content 2 месяца
                    .description__tech-element
                        p.description__tech-label Статус
                        p.description__tech-content Завершено
                .description__content.col-lg-9.col-md-9.col-sm-9.col-xs-12
                    h1.description__heading Проект однакомнатной квартиры серии П-3М
                    p.description__text Для того, чтобы обеспечить поддержку 24/7 для клиентов, а также строить и развивать отношения со своими партнерами, для Booking.com важно оставаться на связи на местном уровне. Для этого, компания имеет более 170 офисов в 70 странах по всему миру, в том числе в Москве.
                    p.description__text Работая совместно с Локальной командой, мы спроектировали зону кафе и отдыха в очень уютном духе, используя некоторые приемы из домашнего интерьера. Главным элементом хоны отдыха стало деревянное кольцо-подиум, напоминающий очаг древнего племени, вокруг которого можно собраться и устроить обсуждение. Два различных слоя штор вокруг этого "очага" позволяют поглощать звук и настраивать разные режимы прозрачности.
                    p.description__text Рабочие зоны спроектированы строго в соответствии с Бренд-буком компании Booking.com и дополнены комфортными неформальными зонами.
                a(href='#', title='читать полностью').description__more.col-lg-12.col-md-12.col-sm-12.col-xs-12 читать полностью