<header id="header" class="header">
	<div class="container header__container">
		<div class="header__flex">
			<a ng-click="toggleMenu();" href="#" class="header__menu header__menu--closed">
				<div class="header__menu-icon header__menu-icon--closed">
					<span class="header__menu-line"></span>
					<span class="header__menu-line"></span>
					<span class="header__menu-line"></span>
				</div>
				<span class="header__menu-text" translate="MENUTOP__MENU">Меню</span>
			</a>
			<a ng-click="toTop();" ui-sref="index" title="На главную" class="header__logo"><img src="/img/elem/logo--new.png" srcset="/img/elem/logo--new@2x.png 2x" alt="Логотип ArchWood"/></a>
			<ul class="header__menulist">
				<li class="header__menulist-item"><a ng-click="toPortfolio();" ui-sref-active="header__menulist-link--active" href="#" class="header__menulist-link" translate="SIDEBAR__PORTFOLIO">Портфолио</a></li>
				<li class="header__menulist-item"><a ui-sref="service" ui-sref-active="header__menulist-link--active" href="#" class="header__menulist-link" translate="SIDEBAR__SERVICES">Услуги</a></li>
				<li class="header__menulist-item"><a target="_blank" href="http://casual-home.ru/" class="header__menulist-link" translate="SIDEBAR__BLOG">Блог</a></li>
				<li class="header__menulist-item"><a ui-sref="about" ui-sref-active="header__menulist-link--active" href="#" class="header__menulist-link" translate="SIDEBAR__ABOUT">О студии</a></li>
				<li class="header__menulist-item"><a ui-sref="contacts" ui-sref-active="header__menulist-link--active" href="#" class="header__menulist-link" translate="SIDEBAR__CONTACTS">Контакты</a></li>
			</ul>
			<div class="header__right clearfix">
				<a href="tel:{{ phones.contact.num }}" title="Контактный телефон" class="header__phone">{{ phones.contact.text }}</a>
				<div class="header__languages">
					<a ng-click="changeLang('ru'); toggleLang();" href="#" title="Сменить язык на RU" class="header__languages-elem header__languages-elem--active">RU</a>
					<a ng-click="changeLang('en'); toggleLang();" href="#" title="Сменить язык на EN" class="header__languages-elem">EN</a>
				</div>
			</div>
			<a ng-click="popups.showPopup('popup--consult', false);" href="#" class="header__btn" translate="SIDEBAR__BTN">Консультация</a>
		</div>
	</div>
</header>