<section class="promo-video">
    <div class="promo-video__inf">
        <span class="promo-video__title" translate="PROMO__HEADING"></span>
        <span class="promo-video__subtitle" translate="PROMO__SUBHEADING"></span>
        <a ng-click="popups.showPopup('popup--service-plan', false)" href="#" title="Расчет проекта" class="btn btn--rounded btn--yellow btn--bordered projects__elem-btn open-popup ng-scope" translate="PROJECTS__BTN_CALC">Расчет проекта</a>
    </div>
    <div class="promo-video__mask"></div>
    <video autoplay="autoplay" loop="loop" poster="/img/videos/video-bg.jpg">
        <source src="/video/arhwood.mp4" type="video/mp4">
        <source src="/video/arhwood.webm" type="video/webm">
        <source src="/video/arhwood.ogv" type="video/ogg">
    </video>
    <img src="/img/videos/video-bg.jpg" alt="">
</section>
<div class="promo__scroll-container">
    <div ng-click="toPortfolio();" class="promo__scroll"></div>
</div>