<section id="partners" class="partners">
	<div class="container">
		<div class="center">
			<div class="partners__description">
				<h2 class="partners__heading" translate="PARTNERS__HEADING"></h2>
				<div ng-bind-html="parts.about.partnersText"></div>
			</div>
			<div class="partners__logos clearfix" data-more="{{ 'PARTNERS__MORE' | translate }}">
				<div class="partners__logo"><img src="/img/partners/partners-new__0.png" alt="Логотип" class="partners__logo-img"></div>
				<div class="partners__logo"><img src="/img/partners/partners-new__1.png" alt="Логотип" class="partners__logo-img"></div>
				<div class="partners__logo"><img src="/img/partners/partners-new__2.png" alt="Логотип" class="partners__logo-img"></div>
				<div class="partners__logo"><img src="/img/partners/partners-new__3.png" alt="Логотип" class="partners__logo-img"></div>
				<div class="partners__logo"><img src="/img/partners/partners-new__4.png" alt="Логотип" class="partners__logo-img"></div>
				<div class="partners__logo"><img src="/img/partners/partners-new__5.png" alt="Логотип" class="partners__logo-img"></div>
				<div class="partners__logo"><img src="/img/partners/partners-new__6.png" alt="Логотип" class="partners__logo-img"></div>
				<div class="partners__logo"><img src="/img/partners/partners-new__7.png" alt="Логотип" class="partners__logo-img"></div>
			</div>
		</div>
	</div>
</section>