<section id="jobs" class="jobs">
	<div class="container">
		<div class="center">
			<h2 class="jobs__heading" translate="JOBS__HEADING">Вакансии</h2>
			<p class="jobs__subtext" translate="JOBS__SUBTEXT">Мы верим, что в мире есть масса возможностей заниматься тем, что по-настоящему нравится.&nbsp;<br>И точно знаем, что это можно делать у нас, в хорошей компании.</p>
			<div class="jobs__container">
				<div ng-repeat="vacancy in parts.about.vacancies" class="jobs__element job job--closed">
					<div class="job__header clearfix">
						<p class="job__header-text">{{ vacancy.name }}</p>
						<a ng-click="toggleJob($event);" href="#" title="Раскрыть подробности" class="job__header-btn"></a>
					</div>
					<div class="job__content">
						<div class="job__content-editable">
							<h3 class="job__content-heading" translate="JOBS__RESPONSIBILITIES">Обязанности:</h3>
							<div ng-bind-html="vacancy.responsibilities"></div>
							<h3 class="job__content-heading" translate="JOBS__REQUIREMENTS">Требования к работнику:</h3>
							<div ng-bind-html="vacancy.claim"></div>
						</div>
						<h2 class="job__content-header" translate="JOBS__TELL_US">Расскажите о себе</h2>
						<form enctype="multipart/form-data" method="post" class="job__content-form clearfix dropzone validate">
							<div class="clearfix">
								<fieldset class="job__content-fieldset"><input name="firstname" type="text" placeholder="Имя" translate-attr-placeholder="JOBS__FORM_NAME" translate class="job__content-field" data-validation="required"></fieldset>
								<fieldset class="job__content-fieldset"><input name="lastname" type="text" placeholder="Фамилия" translate-attr-placeholder="JOBS__FORM_SECOND" translate class="job__content-field" data-validation="required"></fieldset>
								<fieldset class="job__content-fieldset"><input name="email" type="email" placeholder="Email" translate-attr-placeholder="PLACEHOLDER__EMAIL" translate class="job__content-field" data-validation="required"></fieldset>
								<fieldset class="job__content-fieldset"><input name="link" type="text" placeholder="Ссылка на резюме" translate-attr-placeholder="JOBS__FORM_SUMMARY" translate class="job__content-field"></fieldset>
							</div>
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<input name="vacancie" type="hidden" value="{{ vacancy.vacancie }}">
									<div class="job__content-dropzone">
										<div data-content="{{ 'JOBS__ATTACH_1' | translate }}" class="job__dropzone dropzone-previews clearfix" dropzone="dropzoneConfig"></div>
									</div>
									<fieldset class="job__content-fieldset job__content-fieldset--submit">
										<input ng-click="sendForm($event);" name="send" type="submit" value="{{ 'JOBS__BTN' | translate }}" class="job__content-submit btn btn--rounded btn--bordered">
									</fieldset>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>