//- Popups
.w-overlay
#popup--calc-small.w-popup
    .w-popup__wrapper.w-popup__wrapper--small
        a(href='#', title='Закрыть попап').w-popup__close
        h2.w-popup__heading Оставьте заявку и получите расчет вашего проекта через 30 минут!
        form(action='', method='post').w-popup__form.clearfix
            .row
                .col-lg-12
                    fieldset.w-popup__fieldset.col-lg-6
                        input(type='text', placeholder='Имя').w-popup__field
                    fieldset.w-popup__fieldset.col-lg-6
                        input(type='email', placeholder='Email').w-popup__field
                    fieldset.w-popup__fieldset.col-lg-6
                        input(type='tel', placeholder='Телефон').w-popup__field
                    fieldset.w-popup__fieldset.col-lg-6
                        input(type='text', placeholder='Площадь').w-popup__field
                        span.area-sign м
                            sup.area-sign__square 2
                .col-lg-12
                    h3.w-popup__form-heading Тип объекта
                .col-lg-12
                    fieldset.w-popup__fieldset.w-popup__fieldset--radio.col-lg-6
                        label.w-popup__label
                            input(type='radio', name='object-type', value='Квартира', checked='checked').w-popup__radio
                            span.w-popup__faked.w-popup__faked--radio
                            | Квартира
                    fieldset.w-popup__fieldset.w-popup__fieldset--radio.col-lg-6
                        label.w-popup__label
                            input(type='radio', name='object-type', value='Загородный дом').w-popup__radio
                            span.w-popup__faked.w-popup__faked--radio
                            | Загородный дом
                    fieldset.w-popup__fieldset.w-popup__fieldset--radio.col-lg-6
                        label.w-popup__label
                            input(type='radio', name='object-type', value='Коммерческий объект').w-popup__radio
                            span.w-popup__faked.w-popup__faked--radio
                            | Коммерческий объект
                    fieldset.w-popup__fieldset.w-popup__fieldset--radio.col-lg-6
                        label.w-popup__label
                            input(type='radio', name='object-type', value='Участок под ландшафт').w-popup__radio
                            span.w-popup__faked.w-popup__faked--radio
                            | Участок под ландшафт
                .col-lg-12
                    h3.w-popup__form-heading Выберите подарок
                .col-lg-12
                    fieldset.w-popup__fieldset.w-popup__fieldset--radio.col-lg-6
                        label.w-popup__label
                            input(type='radio', name='gift', value='1 месяц авторского надзора', checked='checked').w-popup__radio
                            span.w-popup__faked.w-popup__faked--radio
                            | 1 месяц авторского надзора
                    fieldset.w-popup__fieldset.w-popup__fieldset--radio.col-lg-6
                        label.w-popup__label
                            input(type='radio', name='gift', value='План привязки розеток').w-popup__radio
                            span.w-popup__faked.w-popup__faked--radio
                            | План привязки розеток
                .col-lg-12
                    fieldset.w-popup__fieldset.w-popup__fieldset--comment.col-lg-12
                        input(type='text', placeholder='Ваш комментарий').w-popup__field
                .col-lg-12
                    fieldset.w-popup__fieldset.w-popup__fieldset--submit.col-lg-12
                        input(type='submit', value='Рассчитать проект').w-popup__submit.btn.btn--rounded.btn--bordered

#popup--calc.w-popup.w-popup--wide
    .w-popup__wrapper.w-popup__wrapper--wide
        a(href='#', title='Закрыть попап').w-popup__close
        h2.w-popup__heading Оставьте заявку и получите расчет вашего проекта через 30 минут!
        form(action='', method='post').w-popup__form.clearfix
            .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .row
                        .col-lg-6.col-md-6.col-sm-6.col-xs-12
                            fieldset.w-popup__fieldset.col-lg-6.col-md-6.col-sm-6.col-xs-12
                                input(type='text', placeholder='Имя').w-popup__field
                            fieldset.w-popup__fieldset.col-lg-6.col-md-6.col-sm-6.col-xs-12
                                input(type='email', placeholder='Email').w-popup__field
                            fieldset.w-popup__fieldset.col-lg-6.col-md-6.col-sm-6.col-xs-12
                                input(type='tel', placeholder='Телефон').w-popup__field
                            fieldset.w-popup__fieldset.col-lg-6.col-md-6.col-sm-6.col-xs-12
                                input(type='text', placeholder='Площадь').w-popup__field
                                span.area-sign м
                                    sup.area-sign__square 2
                        .col-lg-6.col-md-6.col-sm-6.col-xs-12
                            .row
                                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                    h3.w-popup__form-heading.w-popup__form-heading--small-mrg Тип объекта
                                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                    fieldset.w-popup__fieldset.w-popup__fieldset--radio.col-lg-6.col-md-6.col-sm-6
                                        label.w-popup__label
                                            input(type='radio', name='object-type', value='Квартира', checked='checked').w-popup__radio
                                            span.w-popup__faked.w-popup__faked--radio
                                            | Квартира
                                    fieldset.w-popup__fieldset.w-popup__fieldset--radio.col-lg-6.col-md-6.col-sm-6
                                        label.w-popup__label
                                            input(type='radio', name='object-type', value='Загородный дом').w-popup__radio
                                            span.w-popup__faked.w-popup__faked--radio
                                            | Загородный дом
                                    fieldset.w-popup__fieldset.w-popup__fieldset--radio.col-lg-6.col-md-6.col-sm-6
                                        label.w-popup__label
                                            input(type='radio', name='object-type', value='Коммерческий объект').w-popup__radio
                                            span.w-popup__faked.w-popup__faked--radio
                                            | Коммерческий объект
                                    fieldset.w-popup__fieldset.w-popup__fieldset--radio.col-lg-6.col-md-6.col-sm-6
                                        label.w-popup__label
                                            input(type='radio', name='object-type', value='Участок под ландшафт').w-popup__radio
                                            span.w-popup__faked.w-popup__faked--radio
                                            | Участок под ландшафт
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .row
                        .col-lg-12.col-md-12.col-sm-12.col-xs-12
                            h3.w-popup__form-heading.w-popup__form-heading--small-mrg Дополнительные услуги
                        .col-lg-6.col-md-6.col-sm-6
                            fieldset.w-popup__fieldset.w-popup__fieldset--checkbox.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                label.w-popup__label
                                    input(type='checkbox', name='additional', value='Помощь в подборе недвижимости').w-popup__checkbox
                                    span.w-popup__faked.w-popup__faked--checkbox
                                    | Помощь в подборе недвижимости
                            fieldset.w-popup__fieldset.w-popup__fieldset--checkbox.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                label.w-popup__label
                                    input(type='checkbox', name='additional', value='Согласование перепланировок, взаимодействие с управляющей компанией').w-popup__checkbox
                                    span.w-popup__faked.w-popup__faked--checkbox
                                    | Согласование перепланировок, взаимодействие с управляющей компанией
                            fieldset.w-popup__fieldset.w-popup__fieldset--checkbox.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                label.w-popup__label
                                    input(type='checkbox', name='additional', value='Контроль качества проводимых ремонтных работ и приемка объекта у застройщика (выезды строительного эксперта)').w-popup__checkbox
                                    span.w-popup__faked.w-popup__faked--checkbox
                                    | Контроль качества проводимых ремонтных работ и приемка объекта у застройщика (выезды строительного эксперта)
                            fieldset.w-popup__fieldset.w-popup__fieldset--checkbox.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                label.w-popup__label
                                    input(type='checkbox', name='additional', value='Управление закупками и поставками с еженедельной отчетностью').w-popup__checkbox
                                    span.w-popup__faked.w-popup__faked--checkbox
                                    | Управление закупками и поставками с еженедельной отчетностью
                        .col-lg-6.col-md-6.col-sm-6
                            fieldset.w-popup__fieldset.w-popup__fieldset--checkbox.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                label.w-popup__label
                                    input(type='checkbox', name='additional', value='Подбор строителей и подрядчиков среди провереных организаций').w-popup__checkbox
                                    span.w-popup__faked.w-popup__faked--checkbox
                                    | Подбор строителей и подрядчиков среди провереных организаций
                            fieldset.w-popup__fieldset.w-popup__fieldset--checkbox.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                label.w-popup__label
                                    input(type='checkbox', name='additional', value='Организация и контроль разработки инженерных проектов').w-popup__checkbox
                                    span.w-popup__faked.w-popup__faked--checkbox
                                    | Организация и контроль разработки инженерных проектов
                            fieldset.w-popup__fieldset.w-popup__fieldset--checkbox.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                label.w-popup__label
                                    input(type='checkbox', name='additional', value='Услуга авторский надзор (выезды архитектора)').w-popup__checkbox
                                    span.w-popup__faked.w-popup__faked--checkbox
                                    | Услуга авторский надзор (выезды архитектора)
                            fieldset.w-popup__fieldset.w-popup__fieldset--checkbox.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                label.w-popup__label
                                    input(type='checkbox', name='additional', value='Декорирование интерьера "под ключ"').w-popup__checkbox
                                    span.w-popup__faked.w-popup__faked--checkbox
                                    | Декорирование интерьера "под ключ"
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    fieldset.w-popup__fieldset.w-popup__fieldset--comment.col-lg-12.col-md-12.col-sm-12.col-xs-12
                        input(type='text', placeholder='Ваш комментарий').w-popup__field
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    fieldset.w-popup__fieldset.w-popup__fieldset--submit.col-lg-12.col-md-12.col-sm-12.col-xs-12
                        input(type='submit', value='Рассчитать проект').w-popup__submit.btn.btn--rounded.btn--bordered

#popup--plan.w-popup.w-popup--full
    .w-popup__wrapper.w-popup__wrapper--full
        section.w-popup__content.w-popup__content--step
            .container
                .center.center--wide
                    a(href='#', title='Закрыть попап').w-popup__close
                    .center
                        h2.w-popup__heading.w-popup__heading--huge Состав планировочного проекта
                        h2.w-popup__heading.w-popup__heading--mobile Разработка планировочного решения
                        .row
                            .w-popup__side.col-lg-6.col-md-6.col-sm-12.col-xs-12
                                .w-popup__gallery
                                    .w-popup__gallery-container
                                        img(src='../img/plan/full/plan__full.jpg', alt='Состав планировочного проекта').w-popup__gallery-full
                                    .w-popup__gallery-previews.clearfix
                                        .w-popup__gallery-preview.w-popup__gallery-preview--active
                                            img(src='../img/plan/preview/plan__preview--0.jpg', alt='Состав планировочного проекта').w-popup__gallery-thumbnail
                                        .w-popup__gallery-preview
                                            img(src='../img/plan/preview/plan__preview--1.jpg', alt='Состав планировочного проекта').w-popup__gallery-thumbnail
                                        .w-popup__gallery-preview
                                            img(src='../img/plan/preview/plan__preview--2.jpg', alt='Состав планировочного проекта').w-popup__gallery-thumbnail
                                        .w-popup__gallery-preview
                                            img(src='../img/plan/preview/plan__preview--3.jpg', alt='Состав планировочного проекта').w-popup__gallery-thumbnail
                            .w-popup__side.col-lg-6.col-md-6.col-sm-12.col-xs-12
                                h2.w-popup__heading.w-popup__heading--desktop Разработка планировочного решения
                                p.w-popup__text После заполнения технического задания (перечень мебели, бытовой техники, сантехники, функциональных зон и т.д, которые должны быть в проекте), приступем к разработке планировочногорешения.
                                p.w-popup__text Мы предоставляем 2­3 варианта планов, на которых отображены возводимые и демонтируемыеперегородки, мебель и сантехника.
                                p.w-popup__text После обсуждения из этих вариантов выбирается лучший, который при необходимости дорабатывается и служит основой для всего проекта.
                                ul.w-popup__list.list.list--dashed
                                    li.w-popup__list-item.list__point Планировочное решение
                                    li.w-popup__list-item.list__point План расстановки мебели
                                    li.w-popup__list-item.list__point Схема возводимых и демонтируемых конструкций
                                    li.w-popup__list-item.list__point План после перепланировки (подходит для БТИ)
                                    li.w-popup__list-item.list__point План расстановки розеток и теплых полов
                                    li.w-popup__list-item.list__point Помощь в подборе подрядчиков бесплатно
        section.w-popup__content.w-popup__content--full
            .container
                .center
                    p.w-popup__full-text Если в дальнейшем Вы решите заказать полный дизайн­-проект,
                        br
                        | то стоимость планировочного проекта будет включена в стоимость полного проекта
                    p.text--center
                        a(href='#', title='к составу полного проекта').w-popup__full-btn.btn.btn--bordered.btn--rounded к составу полного проекта
        section.actions.w-popup__actions
            a(href='#', title='Расчет проекта', data-win='popup--consult').actions__btn.open-popup Расчет проекта
            a(href='#', title='Консультация', data-win='popup--calc').actions__btn.actions__btn--dark.open-popup Консультация

#popup--project.w-popup.w-popup--full
    .w-popup__wrapper.w-popup__wrapper--full
        a(href='#', title='Закрыть попап').w-popup__close
        .container
            .center
                h2.w-popup__heading.w-popup__heading--huge Состав полного дизайн­-проекта
                ul.w-popup__navigation
                    li.w-popup__navigation-item.w-popup__navigation-item--active
                        a(href='#', title='Планировочное решение').w-popup__navigation-link 1. Планировочное решение
                    li.w-popup__navigation-item
                        a(href='#', title='Эскизы').w-popup__navigation-link 2. Эскизы
                    li.w-popup__navigation-item
                        a(href='#', title='Визуализация').w-popup__navigation-link 3. Визуализация
                    li.w-popup__navigation-item
                        a(href='#', title='Чертежи').w-popup__navigation-link 4. Чертежи
                    li.w-popup__navigation-item
                        a(href='#', title='Смета').w-popup__navigation-link 5. Смета
                    li.w-popup__navigation-item
                        a(href='#', title='Авторское сопровождение').w-popup__navigation-link 6. Авторское сопровождение
        section.w-popup__content.w-popup__content--step
            .container
                .center
                    .row
                        .col-lg-6.col-md-6.col-sm-12.col-xs-12
                            p.w-popup__step.w-popup__step--mobile Этап 1
                            h2.w-popup__heading.w-popup__heading--mobile Разработка планировочного решения
                            .w-popup__gallery
                                .w-popup__gallery-container
                                    img(src='../img/plan/full/plan__full--0.jpg', alt='Состав планировочного проекта').w-popup__gallery-full
                                .w-popup__gallery-previews.clearfix
                                    .w-popup__gallery-preview.w-popup__gallery-preview--active
                                        img(src='../img/plan/preview/plan__preview--0.jpg', alt='Состав планировочного проекта').w-popup__gallery-thumbnail
                                    .w-popup__gallery-preview
                                        img(src='../img/plan/preview/plan__preview--1.jpg', alt='Состав планировочного проекта').w-popup__gallery-thumbnail
                                    .w-popup__gallery-preview
                                        img(src='../img/plan/preview/plan__preview--2.jpg', alt='Состав планировочного проекта').w-popup__gallery-thumbnail
                                    .w-popup__gallery-preview
                                        img(src='../img/plan/preview/plan__preview--3.jpg', alt='Состав планировочного проекта').w-popup__gallery-thumbnail
                        .col-lg-6.col-md-6.col-sm-12.col-xs-12
                            p.w-popup__step.w-popup__step--desktop Этап 1
                            h2.w-popup__heading.w-popup__heading--desktop Разработка планировочного решения
                            p.w-popup__text После заполнения технического задания (перечень мебели, бытовой техники, сантехники, функциональных зон и т.д, которые должны быть в проекте), приступем к разработке планировочногорешения.
                            p.w-popup__text Мы предоставляем 2­3 варианта планов, на которых отображены возводимые и демонтируемыеперегородки, мебель и сантехника.
                            p.w-popup__text После обсуждения из этих вариантов выбирается лучший, который при необходимости дорабатывается и служит основой для всего проекта.
                            ul.list.list--dashed
                                li.list__point Планировочное решение
                                li.list__point План расстановки мебели
                                li.list__point Схема возводимых и демонтируемых конструкций
                                li.list__point План после перепланировки (подходит для БТИ)
                                li.list__point План расстановки розеток и теплых полов
                                li.list__point Помощь в подборе подрядчиков бесплатно
        section.w-popup__content.w-popup__content--step
            .container
                .center
                    .row
                        .col-lg-6.col-md-6.col-sm-12.col-xs-12
                            p.w-popup__step.w-popup__step--mobile Этап 2
                            h2.w-popup__heading.w-popup__heading--mobile Прорисовка помещений от руки
                            .w-popup__gallery
                                .w-popup__gallery-container
                                    img(src='../img/plan/full/plan__full--1.jpg', alt='Состав планировочного проекта').w-popup__gallery-full
                        .col-lg-6.col-md-6.col-sm-12.col-xs-12
                            p.w-popup__step.w-popup__step--desktop Этап 2
                            h2.w-popup__heading.w-popup__heading--desktop Прорисовка помещений от руки
                            p.w-popup__text Ручные эскизы создаются на основе согласованного варианта планировки для того, чтобы проработать основное стилевое решение, цветовую гамму, композицию и т.д.
                                br
                                | На этапе ручных эскизов создается идея и образ проекта, основные стилевые решения.
        section.w-popup__content.w-popup__content--step
            .container
                .center
                    .row
                        .col-lg-6.col-md-6.col-sm-12.col-xs-12
                            p.w-popup__step.w-popup__step--mobile Этап 3
                            h2.w-popup__heading.w-popup__heading--mobile Компьютерная визуализация
                            .w-popup__gallery
                                .w-popup__gallery-container
                                    img(src='../img/plan/full/plan__full--2.jpg', alt='Состав планировочного проекта').w-popup__gallery-full
                        .col-lg-6.col-md-6.col-sm-12.col-xs-12
                            p.w-popup__step.w-popup__step--desktop Этап 3
                            h2.w-popup__heading.w-popup__heading--desktop Компьютерная визуализация
                            p.w-popup__text Фотореалистичная 3D графика позволяет увидеть будущее помещение при реальном освещении и материалах. На этом этапе также дорабатываются технические и художественные детали, убираются мелкие недочеты, уточняются пропорции некоторых элементов.
        section.w-popup__content.w-popup__content--step
            .container
                .center
                    .row
                        .col-lg-6.col-md-6.col-sm-12.col-xs-12
                            p.w-popup__step.w-popup__step--mobile Этап 4
                            h2.w-popup__heading.w-popup__heading--mobile Разработка рабочих чертежей
                            .w-popup__gallery
                                .w-popup__gallery-container
                                    img(src='../img/plan/full/plan__full--3.jpg', alt='Состав планировочного проекта').w-popup__gallery-full
                                .w-popup__gallery-previews.clearfix
                                    .w-popup__gallery-preview.w-popup__gallery-preview--active
                                        img(src='../img/plan/preview/plan__preview--4.jpg', alt='Состав планировочного проекта').w-popup__gallery-thumbnail
                                    .w-popup__gallery-preview
                                        img(src='../img/plan/preview/plan__preview--5.jpg', alt='Состав планировочного проекта').w-popup__gallery-thumbnail
                                    .w-popup__gallery-preview
                                        img(src='../img/plan/preview/plan__preview--6.jpg', alt='Состав планировочного проекта').w-popup__gallery-thumbnail
                                    .w-popup__gallery-preview
                                        img(src='../img/plan/preview/plan__preview--7.jpg', alt='Состав планировочного проекта').w-popup__gallery-thumbnail
                                    .w-popup__gallery-preview
                                        img(src='../img/plan/preview/plan__preview--7.jpg', alt='Состав планировочного проекта').w-popup__gallery-thumbnail
                                    .w-popup__gallery-preview
                                        img(src='../img/plan/preview/plan__preview--6.jpg', alt='Состав планировочного проекта').w-popup__gallery-thumbnail
                                    .w-popup__gallery-preview
                                        img(src='../img/plan/preview/plan__preview--5.jpg', alt='Состав планировочного проекта').w-popup__gallery-thumbnail
                                    .w-popup__gallery-preview
                                        img(src='../img/plan/preview/plan__preview--4.jpg', alt='Состав планировочного проекта').w-popup__gallery-thumbnail
                        .col-lg-6.col-md-6.col-sm-12.col-xs-12
                            p.w-popup__step.w-popup__step--desktop Этап 4
                            h2.w-popup__heading.w-popup__heading--desktop Разработка рабочих чертежей
                            p.w-popup__text На этом этапе разрабатываются чертежи, которые необходимы для реализации проекта.
                            p.w-popup__text Состав рабочего проекта:
                            ul.list.list--dashed
                                li.list__point обмерочный план
                                li.list__point план перепланировки
                                li.list__point план расстановки мебели
                                li.list__point план после перепланировки
                                li.list__point схема возводимых и демонтируемых конструкций
                                li.list__point план полов
                                li.list__point план потолков
                                li.list__point план привязки осветительных приборов и выключателей
                                li.list__point план привязки розеток и электорооборудования
                                li.list__point план привязки сантехники
                                li.list__point развертки стен
                                li.list__point раскладки плитки в санузлах
                                li.list__point детали и элементы
        section.w-popup__content.w-popup__content--step
            .container
                .center
                    .row
                        .col-lg-6.col-md-6.col-sm-12.col-xs-12
                            p.w-popup__step.w-popup__step--mobile Этап 5
                            h2.w-popup__heading.w-popup__heading--mobile Разработка сметы
                            .w-popup__gallery
                                .w-popup__gallery-container
                                    img(src='../img/plan/full/plan__full--1.jpg', alt='Состав планировочного проекта').w-popup__gallery-full
                        .col-lg-6.col-md-6.col-sm-12.col-xs-12
                            p.w-popup__step.w-popup__step--desktop Этап 5
                            h2.w-popup__heading.w-popup__heading--desktop Разработка сметы
                            p.w-popup__text Один из важнейших и итоговых этапов­это составление ведомости материалов, мебели, сантехники и осветительных приборов. Мы прописываем все наименования, бренды, артикулы, стоимость и количество всех материалов, которые используются в проекте. Такая же информация дается по всей мебели, сантехнике и осветительным приборам.При выборе материалов, мы ориентируемся на тот бюджет, который оговариваем с Вами перед началом проектирования, это обеспечивает огромную экономию времени при реализации проекта и помогает избежать непредвиденных расходов и, как следствие, отхождения от проекта или затягивания сроков.
        section.w-popup__content.w-popup__content--step
            .container
                .center
                    .row
                        .col-lg-6.col-md-6.col-sm-12.col-xs-12
                            p.w-popup__step.w-popup__step--mobile Этап 6
                            h2.w-popup__heading.w-popup__heading--mobile Разработка сметы
                            .w-popup__gallery
                                .w-popup__gallery-container
                                    img(src='../img/plan/full/plan__full--2.jpg', alt='Состав планировочного проекта').w-popup__gallery-full
                        .col-lg-6.col-md-6.col-sm-12.col-xs-12
                            p.w-popup__step.w-popup__step--desktop Этап 6
                            h2.w-popup__heading.w-popup__heading--desktop Разработка сметы
                            p.w-popup__text Задействовать ли нас в реализации проекта­ это Ваше решение. Но мы всегда рады оказать помощь в авторском надзоре, т.е. на необходимых оговоренных этапах мы выезжаем на объект, решаем возникшие вопросы, и следим за соответствием проводимых работ проектной документации.
                            p.w-popup__text Если у Вас или у Вашей бригады возникают вопросы по проекту, то консультациипо телефону мы даем бесплатно.
        section.actions.w-popup__actions
            a(href='#', title='Расчет проекта', data-win='popup--consult').actions__btn.open-popup Расчет проекта
            a(href='#', title='Консультация', data-win='popup--calc').actions__btn.actions__btn--dark.open-popup Консультация

#popup--cooperate.w-popup.w-popup--small
    .w-popup__wrapper.w-popup__wrapper--small
        a(href='#', title='Закрыть попап').w-popup__close
        h2.w-popup__heading Оставьте заявку на сотрудничество
        form(action='', method='post').w-popup__form.clearfix
            .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    fieldset.w-popup__fieldset.col-lg-6.col-md-6.col-sm-6.col-xs-12
                        input(type='text', placeholder='Имя').w-popup__field
                    fieldset.w-popup__fieldset.col-lg-6.col-md-6.col-sm-6.col-xs-12
                        input(type='email', placeholder='Email').w-popup__field
                    fieldset.w-popup__fieldset.col-lg-6.col-md-6.col-sm-6.col-xs-12
                        input(type='tel', placeholder='Телефон').w-popup__field
                    fieldset.w-popup__fieldset.col-lg-6.col-md-6.col-sm-6.col-xs-12
                        input(type='text', placeholder='Компания').w-popup__field
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    fieldset.w-popup__fieldset.w-popup__fieldset--comment.col-lg-12.col-md-12.col-sm-12.col-xs-12
                        input(type='text', placeholder='Опишите ваше предложение').w-popup__field
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    fieldset.w-popup__fieldset.w-popup__fieldset--submit.col-lg-12.col-md-12.col-sm-12.col-xs-12
                        input(type='submit', value='Отправить').w-popup__submit.btn.btn--rounded.btn--bordered

#popup--consult.w-popup.w-popup--small
    .w-popup__wrapper.w-popup__wrapper--small
        a(href='#', title='Закрыть попап').w-popup__close
        h2.w-popup__heading Оставьте заявку
            br
            | на онлайн консультацию
        form(action='', method='post').w-popup__form.clearfix
            .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    fieldset.w-popup__fieldset.col-lg-6.col-md-6.col-sm-6.col-xs-12
                        input(type='text', placeholder='Имя').w-popup__field
                    fieldset.w-popup__fieldset.col-lg-6.col-md-6.col-sm-6.col-xs-12
                        input(type='email', placeholder='Email').w-popup__field
                    fieldset.w-popup__fieldset.col-lg-6.col-md-6.col-sm-6.col-xs-12
                        input(type='tel', placeholder='Телефон').w-popup__field
                    fieldset.w-popup__fieldset.col-lg-6.col-md-6.col-sm-6.col-xs-12
                        input(type='text', placeholder='Площадь').w-popup__field
                        span.area-sign м
                            sup.area-sign__square 2
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    h3.w-popup__form-heading Тип объекта
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    fieldset.w-popup__fieldset.w-popup__fieldset--radio.col-lg-6.col-md-6.col-sm-6.col-xs-12
                        label.w-popup__label
                            input(type='radio', name='object-type', value='Квартира', checked='checked').w-popup__radio
                            span.w-popup__faked.w-popup__faked--radio
                            | Квартира
                    fieldset.w-popup__fieldset.w-popup__fieldset--radio.col-lg-6.col-md-6.col-sm-6.col-xs-12
                        label.w-popup__label
                            input(type='radio', name='object-type', value='Загородный дом').w-popup__radio
                            span.w-popup__faked.w-popup__faked--radio
                            | Загородный дом
                    fieldset.w-popup__fieldset.w-popup__fieldset--radio.col-lg-6.col-md-6.col-sm-6.col-xs-12
                        label.w-popup__label
                            input(type='radio', name='object-type', value='Коммерческий объект').w-popup__radio
                            span.w-popup__faked.w-popup__faked--radio
                            | Коммерческий объект
                    fieldset.w-popup__fieldset.w-popup__fieldset--radio.col-lg-6.col-md-6.col-sm-6.col-xs-12
                        label.w-popup__label
                            input(type='radio', name='object-type', value='Участок под ландшафт').w-popup__radio
                            span.w-popup__faked.w-popup__faked--radio
                            | Участок под ландшафт
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    fieldset.w-popup__fieldset.w-popup__fieldset--comment.col-lg-12.col-md-12.col-sm-12.col-xs-12
                        input(type='text', placeholder='Дата и время').w-popup__field
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    fieldset.w-popup__fieldset.w-popup__fieldset--comment.col-lg-12.col-md-12.col-sm-12.col-xs-12
                        input(type='text', placeholder='Ваш комментарий').w-popup__field
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    fieldset.w-popup__fieldset.w-popup__fieldset--submit.col-lg-12.col-md-12.col-sm-12.col-xs-12
                        input(type='submit', value='Оставить заявку').w-popup__submit.btn.btn--rounded.btn--bordered