<section id="plans" class="plans">
	<div class="container">
		<div class="center">
			<div class="plans__info">
				<h2 class="plans__info-heading" translate="PLANS_TITLE"></h2>
				<p class="plans__info-text">{{ projectContent.layoutSolution.description }}</p>
			</div>
			<div class="plans__prints js-lightbox--gallery popup-with-move-anim clearfix">
				<div ng-repeat="elem in projectContent.layoutSolution.images" class="plans__prints-elem">
					<a href="{{ elem }}" class="popup-with-move-anim" title="{{ parts.project.title }}">
						<img src="{{ elem }}" alt="{{ parts.project.title }}" class="plans__prints-img">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>