<section id="supervision" class="supervision">
	<div class="container">
		<div class="center">
			<h2 class="supervision__heading" translate="SUPERVISION__HEADING" translate-values="{ newVal: parts.about.supervisionHeading }"></h2>
			<div ng-bind-html="parts.about.supervisionText"></div>
			<div class="supervision__architect row">
				<div class="supervision__architect-about col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
					<img src="/img/elem/supervision__architect-photo.jpg" alt="Фото архитектора" class="supervision__architect-photo">
					<blockquote class="supervision__architect-quote">
						<p class="supervision__architect-text" translate="SUPERVISION__ARCHITECT_TEXT" translate-values="{ newVal: parts.about.architectText }"></p>
					</blockquote>
					<p class="supervision__architect-author"><span translate="SUPERVISION__ARCHITECT_NAME" translate-values="{ newVal: parts.about.architectName }"></span><br><span class="supervision__architect-profession" translate="SUPERVISION__ARCHITECT_POST" translate-values="{ newVal: parts.about.architectPost }"></span></p>
				</div>
			</div>
		</div>
	</div>
</section>