section#jobs.jobs
    .container
        .center
            h2.jobs__heading Вакансии
            p.jobs__subtext Мы верим, что в мире есть масса возможностей заниматься тем, что по-настоящему нравится.&nbsp;
                br
                | И точно знаем, что это можно делать у нас, в хорошей компании.
            .jobs__container
                .jobs__element.job.job--closed
                    .job__header.clearfix
                        p.job__header-text Ведущий инженер-конструктор КЖ КМ
                        a(href='#', title='Раскрыть подробности').job__header-btn
                    .job__content
                        .job__content-editable
                            h3.job__content-heading Обязанности:
                            ul.job__content-list
                                li.job__content-item – Расчеты с персоналом по оплате труда;
                                li.job__content-item – Расчеты с физ/лицами по договорам ГПХ;
                                li.job__content-item – Налоги, взносы с ФОТ, выплат физ/лицам;
                                li.job__content-item – Учет расчетов с ФСС, ПФР;
                                li.job__content-item – Расчеты с подотчетными лицами;
                                li.job__content-item – Касса;
                                li.job__content-item – Банк;
                            h3.job__content-heading Требования к работнику:
                            p.job__content-text Высшее/неоконченное высшее или среднее специальное профессиональное (экономическое) образование и стаж работы по специальности не менее 2 лет.
                            p.job__content-text Должен знать:
                            ul.job__content-list
                                li.job__content-item – законодательные акты, постановления, распоряжения, приказы, руководящие, методические и нормативные материалы по организации бухгалтерского учета имущества, обязательств и хозяйственных операций и составлению отчетности (применительно к данному участку);
                                li.job__content-item – налоговое законодательство РФ;
                                li.job__content-item – законодательство РФ, регулирующее исчисление и уплату страховых взносов;
                                li.job__content-item – трудовое законодательство;
                                li.job__content-item – гражданское право в объеме, необходимом для своего участка работы;
                                li.job__content-item – формы и методы бухгалтерского учета на предприятии;
                                li.job__content-item – план и корреспонденцию счетов;
                                li.job__content-item – организацию документооборота на данном участке бухгалтерского учета;
                        h2.job__content-header Расскажите о себе
                        form(action='', method='post').job__content-form.clearfix
                            fieldset.job__content-fieldset
                                input(type='text', placeholder='Имя').job__content-field
                            fieldset.job__content-fieldset
                                input(type='text', placeholder='Фамиля').job__content-field
                            fieldset.job__content-fieldset
                                input(type='email', placeholder='email@mail.com').job__content-field
                            fieldset.job__content-fieldset
                                input(type='text', placeholder='Ссылка на резюме').job__content-field
                            fieldset.job__content-fieldset.job__content-fieldset--submit
                                input(type='submit', value='Отправить').job__content-submit.btn.btn--rounded.btn--bordered
                .jobs__element.job.job--opened
                    .job__header.clearfix
                        p.job__header-text Ведущий инженер-конструктор КЖ КМ
                        a(href='#', title='Раскрыть подробности').job__header-btn
                    .job__content
                        .job__content-editable
                            h3.job__content-heading Обязанности:
                            ul.job__content-list
                                li.job__content-item – Расчеты с персоналом по оплате труда;
                                li.job__content-item – Расчеты с физ/лицами по договорам ГПХ;
                                li.job__content-item – Налоги, взносы с ФОТ, выплат физ/лицам;
                                li.job__content-item – Учет расчетов с ФСС, ПФР;
                                li.job__content-item – Расчеты с подотчетными лицами;
                                li.job__content-item – Касса;
                                li.job__content-item – Банк;
                            h3.job__content-heading Требования к работнику:
                            p.job__content-text Высшее/неоконченное высшее или среднее специальное профессиональное (экономическое) образование и стаж работы по специальности не менее 2 лет.
                            p.job__content-text Должен знать:
                            ul.job__content-list
                                li.job__content-item – законодательные акты, постановления, распоряжения, приказы, руководящие, методические и нормативные материалы по организации бухгалтерского учета имущества, обязательств и хозяйственных операций и составлению отчетности (применительно к данному участку);
                                li.job__content-item – налоговое законодательство РФ;
                                li.job__content-item – законодательство РФ, регулирующее исчисление и уплату страховых взносов;
                                li.job__content-item – трудовое законодательство;
                                li.job__content-item – гражданское право в объеме, необходимом для своего участка работы;
                                li.job__content-item – формы и методы бухгалтерского учета на предприятии;
                                li.job__content-item – план и корреспонденцию счетов;
                                li.job__content-item – организацию документооборота на данном участке бухгалтерского учета;
                        h2.job__content-header Расскажите о себе
                        form(action='', method='post').job__content-form.clearfix
                            fieldset.job__content-fieldset
                                input(type='text', placeholder='Имя').job__content-field
                            fieldset.job__content-fieldset
                                input(type='text', placeholder='Фамиля').job__content-field
                            fieldset.job__content-fieldset
                                input(type='email', placeholder='email@mail.com').job__content-field
                            fieldset.job__content-fieldset
                                input(type='text', placeholder='Ссылка на резюме').job__content-field
                            fieldset.job__content-fieldset.job__content-fieldset--submit
                                input(type='submit', value='Отправить').job__content-submit.btn.btn--rounded.btn--bordered
                .jobs__element.job.job--closed
                    .job__header.clearfix
                        p.job__header-text Ведущий инженер-конструктор КЖ КМ
                        a(href='#', title='Раскрыть подробности').job__header-btn
                    .job__content
                        .job__content-editable
                            h3.job__content-heading Обязанности:
                            ul.job__content-list
                                li.job__content-item – Расчеты с персоналом по оплате труда;
                                li.job__content-item – Расчеты с физ/лицами по договорам ГПХ;
                                li.job__content-item – Налоги, взносы с ФОТ, выплат физ/лицам;
                                li.job__content-item – Учет расчетов с ФСС, ПФР;
                                li.job__content-item – Расчеты с подотчетными лицами;
                                li.job__content-item – Касса;
                                li.job__content-item – Банк;
                            h3.job__content-heading Требования к работнику:
                            p.job__content-text Высшее/неоконченное высшее или среднее специальное профессиональное (экономическое) образование и стаж работы по специальности не менее 2 лет.
                            p.job__content-text Должен знать:
                            ul.job__content-list
                                li.job__content-item – законодательные акты, постановления, распоряжения, приказы, руководящие, методические и нормативные материалы по организации бухгалтерского учета имущества, обязательств и хозяйственных операций и составлению отчетности (применительно к данному участку);
                                li.job__content-item – налоговое законодательство РФ;
                                li.job__content-item – законодательство РФ, регулирующее исчисление и уплату страховых взносов;
                                li.job__content-item – трудовое законодательство;
                                li.job__content-item – гражданское право в объеме, необходимом для своего участка работы;
                                li.job__content-item – формы и методы бухгалтерского учета на предприятии;
                                li.job__content-item – план и корреспонденцию счетов;
                                li.job__content-item – организацию документооборота на данном участке бухгалтерского учета;
                        h2.job__content-header Расскажите о себе
                        form(action='', method='post').job__content-form.clearfix
                            fieldset.job__content-fieldset
                                input(type='text', placeholder='Имя').job__content-field
                            fieldset.job__content-fieldset
                                input(type='text', placeholder='Фамиля').job__content-field
                            fieldset.job__content-fieldset
                                input(type='email', placeholder='email@mail.com').job__content-field
                            fieldset.job__content-fieldset
                                input(type='text', placeholder='Ссылка на резюме').job__content-field
                            fieldset.job__content-fieldset.job__content-fieldset--submit
                                input(type='submit', value='Отправить').job__content-submit.btn.btn--rounded.btn--bordered