<section id="publications" class="publications">
	<div class="container">
		<div class="center">
			<h2 class="publications__heading" translate="PUBLICATIONS__HEADING">Публикации</h2>
			<div id="publications__carousel" class="publications__carousel js-lightbox--gallery">
				<a ng-repeat="pub in studioContent.publications" href="{{ pub.image }}" class="publications__carousel-item" title="{{ pub.resource }}">
					<img src="{{ pub.miniature }}" alt="{{ pub.resource }}" height="150" width="110">
				</a>
			</div>
			<div class="publications__container js-lightbox--gallery clearfix">
				<a ng-repeat="pub in studioContent.publications" href="{{ pub.image }}" title="{{ pub.resource }}" class="publications__elem">
					<img src="{{ pub.miniature }}" alt="{{ pub.resource }}" height="150" width="110" class="publications__elem-img">
				</a>
			</div>
		</div>
	</div>
</section>