<footer id="footer" class="footer">
	<div class="container">
		<div class="footer__top clearfix">
			<div class="footer__logo-container clearfix"><a ui-sref="index" title="На главную" class="footer__logo"><img src="/img/elem/logo--grey.png" srcset="/img/elem/logo--grey@2x.png 2x" /></a></div>
			<div class="footer__menu-container">
				<div class="footer__menu">
					<div class="footer__menu-row clearfix">
						<div class="footer__menu-column">
							<h3 class="footer__menu-heading"><a ng-click="goToPortfolio('index', 'works');" ui-sref="index" class="footer__menu-title" translate="FOOTER__MENU_TITLE__PORTFOLIO">Портфолио</a></h3>
							<ul class="footer__menu-list">
								<li class="footer__menu-item"><a ng-click="goToPortfolio('index', 'works', 'Квартиры');" href="#" title="Квартиры" class="footer__menu-link" translate="FOOTER__MENU_FLATS">Квартиры</a></li>
								<li class="footer__menu-item"><a ng-click="goToPortfolio('index', 'works', 'Коттеджи');" href="#" title="Коттеджи" class="footer__menu-link" translate="FOOTER__MENU_HOUSES">Коттеджи</a></li>
								<li class="footer__menu-item"><a ng-click="goToPortfolio('index', 'works', 'Общественные интерьеры');" href="#" title="Общественные интерьеры" class="footer__menu-link" translate="FOOTER__MENU_PUBLIC">Общественные</a></li>
							</ul>
						</div>
						<div class="footer__menu-column">
							<h3 class="footer__menu-heading"><a ui-sref="service" class="footer__menu-title" translate="FOOTER__MENU_TITLE__SERVICES">Услуги</a></h3>
							<ul class="footer__menu-list">
								<li class="footer__menu-item"><a ui-sref="service({key: 'interery'})" href="#" title="Дизайн интерьеров" class="footer__menu-link" translate="FOOTER__MENU_INTERIORS">Дизайн интерьеров</a></li>
								<li class="footer__menu-item"><a ui-sref="service({key: 'soprovozhdenie-remonta'})" href="#" title="Сопровождение ремонта" class="footer__menu-link" translate="FOOTER__MENU_SUPPORT">Сопровождение ремонта</a></li>
								<li class="footer__menu-item"><a ui-sref="service({key: 'konsultirovanie'})" href="#" title="Консультирование" class="footer__menu-link" translate="FOOTER__MENU_CONSULT">Консультирование</a></li>
							</ul>
						</div>
						<div class="footer__menu-column">
							<h3 class="footer__menu-heading"><a ui-sref="about" class="footer__menu-title" translate="FOOTER__MENU_TITLE__ABOUT">О студии</a></h3>
							<ul class="footer__menu-list">
								<li class="footer__menu-item"><a ng-click="goToHash('about', 'publications');" href="#" title="Публикации" class="footer__menu-link" translate="FOOTER__MENU_PUBLICATIONS">Публикации</a></li>
								<li class="footer__menu-item"><a ng-click="goToHash('about', 'partners');" href="#" title="Наши партнеры" class="footer__menu-link" translate="FOOTER__MENU_PARTNERS">Наши партнеры</a></li>
								<li class="footer__menu-item"><a ng-click="goToHash('about', 'jobs');" href="#" title="Вакансии" class="footer__menu-link" translate="FOOTER__MENU_JOBS">Вакансии</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="footer__social-container">
				<div class="footer__social">
					<a href="https://www.facebook.com/%D0%94%D0%B8%D0%B7%D0%B0%D0%B9%D0%BD-%D0%B1%D1%8E%D1%80%D0%BE-Archwood-513976712007965/?ref=profile" target="_blank" title="Archwood в Facebook" class="footer__social-link footer__social-link--fb"><img src="/img/elem/footer__social--fb.png" class="footer__social-icon"></a>
					<a href="https://vk.com/archwood" target="_blank" title="Archwood в Vkontakte" class="footer__social-link footer__social-link--twitter"><img src="/img/elem/footer__social--vk.png" class="footer__social-icon"></a>
					<a href="https://www.linkedin.com/company/archwood" target="_blank" title="Archwood на LinkedIn" class="footer__social-link footer__social-link--linkedin"><img src="/img/elem/footer__social--li.png" class="footer__social-icon"></a>
					<a href="https://www.instagram.com/archwood_interiors/" target="_blank" title="Archwood в Instagram" class="footer__social-link footer__social-link--youtube"><img src="/img/elem/footer__social--inst.png" class="footer__social-icon"></a>
				</div>
			</div>
		</div>
		<div class="footer__bottom clearfix">
			<div class="footer__contacts-container">
				<p class="footer__bottom-text footer__bottom-text--contacts"><span translate="FOOTER__PHONE">Телефон</span>: {{ phones.contact.text }}<br>E-mail:&nbsp;<a href="mailto:info@archwood.ru" class="footer__bottom-link">info@archwood.ru</a><br><span translate="FOOTER__ADRESS">109431, г. Москва, ул.Привольная, 57/2/62</span><br><a ng-click="popups.showPopup('popup--confidential', false);" href="#" class="footer__bottom-link"><span translate="FOOTER__PRIVACY">Политика конфиденциальности</span></a></p>
			</div>
			<div class="footer__copyrights-container">
				<p class="footer__bottom-text footer__bottom-text--copyright">&copy; <span translate="FOOTER__COPYRIGHT">ООО Архвуд</span> 2006—2016</p>
			</div>
			<div class="footer__author-container">
				<p class="footer__bottom-text footer__bottom-text--author"><span translate="FOOTER__DEVELOPMENT">Дизайн и разработка сайта</span><br><a href="http://m8digital.ru/?utm_source=archwood" title="Перейти на сайт веб-студии" class="footer__bottom-link footer__bottom-text--big">M8 DIGITAL</a></p>
			</div>
		</div>
	</div>
</footer>