<section id="about" class="about">
	<div class="container">
		<div class="center">
			<h1 class="about__heading" translate="ABOUT__HEADING"></h1>
			<div class="about__promo">
				<img src="/img/elem/about__promo-img.jpg" alt="О студии" class="about__promo-img">
				<p class="about__promo-text" translate="ABOUT__TEXT" translate-values="{ newVal: parts.about.aboutPromo }"></p>
			</div>
		</div>
	</div>
</section>