header#header.header
    .container.header__container
            a(href='index.html', title='На главную').header__logo
                | ArchWood
            a(href='#', data-win='popup--consult').header__btn.open-popup консультация
            .header__languages
                a(href='#', title='Сменить язык на RU').header__languages-elem.header__languages-elem--active RU
                a(href='#', title='Сменить язык на EN').header__languages-elem EN
            a(href='tel:74955457430', title='Контактный телефон').header__phone.text--right +7 (495) 545-74-30
            .header__menu
                ul.header__menu-list
                    li.header__menu-item
                        a(href='project.html', title='Портфолио').header__menu-link Портфолио
                    li.header__menu-item
                        a(href='service.html', title='Услуги').header__menu-link Услуги
                    li.header__menu-item
                        a(href='#', title='Блог').header__menu-link Блог
                    li.header__menu-item
                        a(href='about.html', title='О студии').header__menu-link О студии
                    li.header__menu-item
                        a(href='contacts.html', title='Контакты').header__menu-link Контакты
            a(href='#', title='Открыть меню').header__hamburger
                span.header__hamburger-line
                span.header__hamburger-line
                span.header__hamburger-line