section#additional.additional
    .container
        .center
            .row
                .additional__side.col-lg-6.col-md-6.col-sm-6.col-xs-12
                    h3.additional__heading Услуги по этому проекту
                    .col-lg-6.col-md-6.col-sm-12.col-xs-12
                        .row
                            ul.additional__list
                                li.additional__list-item
                                    a(href='#', title='Планировочные решения').additional__list-link Планировочные решения
                                li.additional__list-item
                                    a(href='#', title='3Д Визуализация').additional__list-link 3Д Визуализация
                                li.additional__list-item
                                    a(href='#', title='Авторский надзор').additional__list-link Авторский надзор
                    .col-lg-6.col-md-6.col-sm-12.col-xs-12
                        .row
                            ul.additional__list
                                li.additional__list-item
                                    a(href='#', title='Планировочные решения').additional__list-link Планировочные решения
                                li.additional__list-item
                                    a(href='#', title='3Д Визуализация').additional__list-link 3Д Визуализация
                                li.additional__list-item
                                    a(href='#', title='Авторский надзор').additional__list-link Авторский надзор
                .additional__side.col-lg-6.col-md-6.col-sm-6.col-xs-12
                    h3.additional__heading Партнеры
                    p.additional__text Phillips, Kerama Marazzi, Keramoteca, TheFurnish
                    p.additional__text Экономия на материалах за счет наших партнерских скидок
                        br
                        | составила&nbsp;
                        strong 346 000 руб.