<section id="additional" class="additional">
	<div class="container">
		<div class="center">
			<div class="row">
				<div ng-show="{{ !!projectContent.services.length }}" class="additional__side col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<h3 class="additional__heading" translate="ADDITIONAL_SERVICES"></h3>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="row">
							<ul class="additional__list">
								<li ng-repeat="service in parts.project.services" class="additional__list-item">
									<a ng-click="additionalTrigger($event);" href="#" title="{{ service }}" class="additional__list-link">{{ service }}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div ng-bind-html="parts.project.partners" class="additional__side additional__partners col-lg-6 col-md-6 col-sm-6 col-xs-12">
				</div>
			</div>
		</div>
	</div>
</section>