<div class="w-overlay w-overlay--white" ng-click="popups.closePopup();"></div>
<div class="w-overlay w-overlay--dark" ng-click="popups.closePopup();"></div>
<div id="popup--plan" class="w-popup w-popup--full">
	<div class="w-popup__wrapper w-popup__wrapper--full">
		<div class="w-popup__wrapper-inner">
			<section class="w-popup__content w-popup__content--step">
				<div class="container">
					<div class="center center--wide">
						<a href="#" title="Закрыть попап" ng-click="popups.closePopup();" class="w-popup__close w-popup__close--fixed"></a>
						<div class="center">
							<h2 class="w-popup__heading w-popup__heading--huge" translate="POPUP__FULL_1__TITLE"></h2>
							<h2 class="w-popup__heading w-popup__heading--mobile" translate="POPUP__FULL_1__TITLE"></h2>
							<div class="row">
								<div class="w-popup__side col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<div class="w-popup__gallery">
										<div class="w-popup__gallery-container"><img src="/img/plan/full/plan__full--0-1.jpg" alt="Состав планировочного проекта" class="w-popup__gallery-full"></div>
										<div class="w-popup__gallery-previews clearfix">
											<div class="w-popup__gallery-preview w-popup__gallery-preview--active"><img ng-click="popups.setThis($event);" src="/img/plan/full/plan__full--0-1.jpg" alt="Состав планировочного проекта" class="w-popup__gallery-thumbnail"></div>
											<div class="w-popup__gallery-preview"><img ng-click="popups.setThis($event);" src="/img/plan/full/plan__full--0-2.jpg" alt="Состав планировочного проекта" class="w-popup__gallery-thumbnail"></div>
											<div class="w-popup__gallery-preview"><img ng-click="popups.setThis($event);" src="/img/plan/full/plan__full--0-3.jpg" alt="Состав планировочного проекта" class="w-popup__gallery-thumbnail"></div>
											<div class="w-popup__gallery-preview"><img ng-click="popups.setThis($event);" src="/img/plan/full/plan__full--0-4.jpg" alt="Состав планировочного проекта" class="w-popup__gallery-thumbnail"></div>
										</div>
									</div>
								</div>
								<div class="w-popup__side col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<h2 class="w-popup__heading w-popup__heading--desktop" translate="STAGE__1__HEADING"></h2>
									<div translate="STAGE__1__CONTENT"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="w-popup__content w-popup__content--full">
				<div class="container">
					<div class="center">
						<p class="w-popup__full-text" translate="POPUP__FULL_1__DISCOUNT"></p>
						<p class="text--center"><a ng-click="popups.showPopup('popup--project', true)" href="#" title="к составу полного проекта" class="w-popup__full-btn btn btn--bordered btn--rounded" translate="BTN__TO_FULL"></a></p>
					</div>
				</div>
			</section>
			<section class="actions w-popup__actions clearfix">
				<a ng-click="popups.showPopup('popup--calc-small', false)" href="#" title="Расчет проекта" data-win="popup--consult" class="actions__btn open-popup" translate="ACTIONS__CALC"></a>
				<a ng-click="popups.showPopup('popup--consult', false)" href="#" title="Консультация" data-win="popup--calc" class="actions__btn actions__btn--dark open-popup" translate="ACTIONS__CONSULT"></a>
			</section>
		</div>
	</div>
</div>
<div id="popup--project" class="w-popup w-popup--full">
	<div class="w-popup__wrapper w-popup__wrapper--full">
		<div class="w-popup__wrapper-inner">
			<a href="#" title="Закрыть попап" ng-click="popups.closePopup();" class="w-popup__close w-popup__close--fixed"></a>
			<div class="container">
				<div class="center">
					<h2 class="w-popup__heading w-popup__heading--huge w-popup__heading--project" translate="POPUP__FULL_2__TITLE"></h2>
					<ul class="w-popup__navigation">
						<li class="w-popup__navigation-item"><a ng-click="popups.scrollToStep('popup--project__step1');" title="Планировочное решение" class="w-popup__navigation-link" translate="POPUP__NAV_1"></a></li>
						<li class="w-popup__navigation-item"><a ng-click="popups.scrollToStep('popup--project__step2');" title="Эскизы" class="w-popup__navigation-link" translate="POPUP__NAV_2"></a></li>
						<li class="w-popup__navigation-item"><a ng-click="popups.scrollToStep('popup--project__step3');" title="Визуализация" class="w-popup__navigation-link" translate="POPUP__NAV_3"></a></li>
						<li class="w-popup__navigation-item"><a ng-click="popups.scrollToStep('popup--project__step4');" title="Чертежи" class="w-popup__navigation-link" translate="POPUP__NAV_4"></a></li>
						<li class="w-popup__navigation-item"><a ng-click="popups.scrollToStep('popup--project__step5');" title="Смета" class="w-popup__navigation-link" translate="POPUP__NAV_5"></a></li>
					</ul>
				</div>
			</div>
			<section id="popup--project__step1" class="w-popup__content w-popup__content--step">
				<div class="container">
					<div class="center">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<p class="w-popup__step w-popup__step--mobile" translate="STAGE__1"></p>
								<h2 class="w-popup__heading w-popup__heading--mobile" translate="STAGE__1__HEADING"></h2>
								<div class="w-popup__gallery">
									<div class="w-popup__gallery-container"><img src="/img/plan/full/plan__full--0-1.jpg" alt="Состав планировочного проекта" class="w-popup__gallery-full"></div>
									<div class="w-popup__gallery-previews clearfix">
										<div class="w-popup__gallery-preview w-popup__gallery-preview--active"><img ng-click="popups.setThis($event);" src="/img/plan/full/plan__full--0-1.jpg" alt="Состав планировочного проекта" class="w-popup__gallery-thumbnail"></div>
										<div class="w-popup__gallery-preview"><img ng-click="popups.setThis($event);" src="/img/plan/full/plan__full--0-2.jpg" alt="Состав планировочного проекта" class="w-popup__gallery-thumbnail"></div>
										<div class="w-popup__gallery-preview"><img ng-click="popups.setThis($event);" src="/img/plan/full/plan__full--0-3.jpg" alt="Состав планировочного проекта" class="w-popup__gallery-thumbnail"></div>
										<div class="w-popup__gallery-preview"><img ng-click="popups.setThis($event);" src="/img/plan/full/plan__full--0-4.jpg" alt="Состав планировочного проекта" class="w-popup__gallery-thumbnail"></div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<p class="w-popup__step w-popup__step--desktop" translate="STAGE__1"></p>
								<h2 class="w-popup__heading w-popup__heading--desktop" translate="STAGE__1__HEADING"></h2>
								<div translate="STAGE__1__CONTENT"></div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="popup--project__step2" class="w-popup__content w-popup__content--step">
				<div class="container">
					<div class="center">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<p class="w-popup__step w-popup__step--mobile" translate="STAGE__2"></p>
								<h2 class="w-popup__heading w-popup__heading--mobile" translate="STAGE__2__HEADING"></h2>
								<div class="w-popup__gallery">
									<div class="w-popup__gallery-container"><img src="/img/plan/full/plan__full--1.jpg" alt="Состав планировочного проекта" class="w-popup__gallery-full"></div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<p class="w-popup__step w-popup__step--desktop" translate="STAGE__2"></p>
								<h2 class="w-popup__heading w-popup__heading--desktop" translate="STAGE__2__HEADING"></h2>
								<div translate="STAGE__2__CONTENT"></div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="popup--project__step3" class="w-popup__content w-popup__content--step">
				<div class="container">
					<div class="center">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<p class="w-popup__step w-popup__step--mobile" translate="STAGE__3"></p>
								<h2 class="w-popup__heading w-popup__heading--mobile" translate="STAGE__3__HEADING"></h2>
								<div class="w-popup__gallery">
									<div class="w-popup__gallery-container"><img src="/img/plan/full/plan__full--0.jpg" alt="Состав планировочного проекта" class="w-popup__gallery-full"></div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<p class="w-popup__step w-popup__step--desktop" translate="STAGE__3"></p>
								<h2 class="w-popup__heading w-popup__heading--desktop" translate="STAGE__3__HEADING"></h2>
								<div translate="STAGE__3__CONTENT"></div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="popup--project__step4" class="w-popup__content w-popup__content--step">
				<div class="container">
					<div class="center">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<p class="w-popup__step w-popup__step--mobile" translate="STAGE__4"></p>
								<h2 class="w-popup__heading w-popup__heading--mobile" TRANSLATE="STAGE__4__HEADING"></h2>
								<div class="w-popup__gallery-carousel js-lightbox--gallery">
									<a href="/img/plan/slider/plan--0.jpg" class="w-popup__gallery-item"><img src="/img/plan/slider/plan--0.jpg" height="335" width="456" alt="Состав планировочного проекта" class="w-popup__gallery-slide"></a>
									<a href="/img/plan/slider/plan--1.jpg" class="w-popup__gallery-item"><img src="/img/plan/slider/plan--1.jpg" height="335" width="456" alt="Состав планировочного проекта" class="w-popup__gallery-slide"></a>
									<a href="/img/plan/slider/plan--2.jpg" class="w-popup__gallery-item"><img src="/img/plan/slider/plan--2.jpg" height="335" width="456" alt="Состав планировочного проекта" class="w-popup__gallery-slide"></a>
									<a href="/img/plan/slider/plan--3.jpg" class="w-popup__gallery-item"><img src="/img/plan/slider/plan--3.jpg" height="335" width="456" alt="Состав планировочного проекта" class="w-popup__gallery-slide"></a>
									<a href="/img/plan/slider/plan--4.jpg" class="w-popup__gallery-item"><img src="/img/plan/slider/plan--4.jpg" height="335" width="456" alt="Состав планировочного проекта" class="w-popup__gallery-slide"></a>
									<a href="/img/plan/slider/plan--5.jpg" class="w-popup__gallery-item"><img src="/img/plan/slider/plan--5.jpg" height="335" width="456" alt="Состав планировочного проекта" class="w-popup__gallery-slide"></a>
									<a href="/img/plan/slider/plan--6.jpg" class="w-popup__gallery-item"><img src="/img/plan/slider/plan--6.jpg" height="335" width="456" alt="Состав планировочного проекта" class="w-popup__gallery-slide"></a>
									<a href="/img/plan/slider/plan--7.jpg" class="w-popup__gallery-item"><img src="/img/plan/slider/plan--7.jpg" height="335" width="456" alt="Состав планировочного проекта" class="w-popup__gallery-slide"></a>
									<a href="/img/plan/slider/plan--8.jpg" class="w-popup__gallery-item"><img src="/img/plan/slider/plan--8.jpg" height="335" width="456" alt="Состав планировочного проекта" class="w-popup__gallery-slide"></a>
									<a href="/img/plan/slider/plan--9.jpg" class="w-popup__gallery-item"><img src="/img/plan/slider/plan--9.jpg" height="335" width="456" alt="Состав планировочного проекта" class="w-popup__gallery-slide"></a>
								</div>
								<div class="w-popup__gallery-bottom clearfix">
									<a href="#" class="w-popup__gallery-nav w-popup__gallery-nav--prev"></a>
									<p class="w-popup__gallery-title" translate="STAGE__4__HEADING"></p>
									<a href="#" class="w-popup__gallery-nav w-popup__gallery-nav--next"></a>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<p class="w-popup__step w-popup__step--desktop" translate="STAGE__4"></p>
								<h2 class="w-popup__heading w-popup__heading--desktop" TRANSLATE="STAGE__4__HEADING"></h2>
								<div translate="STAGE__4__CONTENT"></div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="popup--project__step5" class="w-popup__content w-popup__content--step">
				<div class="container">
					<div class="center">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<p class="w-popup__step w-popup__step--mobile" translate="STAGE__5"></p>
								<h2 class="w-popup__heading w-popup__heading--mobile" translate="STAGE__5__HEADING"></h2>
								<div class="w-popup__gallery">
									<div class="w-popup__gallery-container"><img src="/img/plan/full/plan__full--4.jpg" alt="Состав планировочного проекта" class="w-popup__gallery-full"></div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<p class="w-popup__step w-popup__step--desktop" translate="STAGE__5"></p>
								<h2 class="w-popup__heading w-popup__heading--desktop" translate="STAGE__5__HEADING"></h2>
								<div translate="STAGE__5__CONTENT"></div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="actions w-popup__actions clearfix">
				<a ng-click="popups.showPopup('popup--calc-small', false)" href="#" title="Расчет проекта" data-win="popup--calc" class="actions__btn open-popup" translate="ACTIONS__CALC"></a>
				<a ng-click="popups.showPopup('popup--consult', false)" href="#" title="Консультация" data-win="popup--consult" class="actions__btn actions__btn--dark open-popup" translate="ACTIONS__CONSULT"></a>
			</section>
		</div>
	</div>
</div>
<div id="popup--calc-small" class="w-popup w-popup--small">
	<div class="w-popup__wrapper w-popup__wrapper--small">
		<a href="#" title="Закрыть попап" ng-click="popups.closePopup();" class="w-popup__close"></a>
		<h2 class="w-popup__heading" translate="POPUP__HEADING_1"></h2>
		<form class="w-popup__form clearfix validate">
			<div class="row">
				<div class="col-lg-12">
					<fieldset class="w-popup__fieldset col-lg-6"><input type="text" name="name" placeholder="Имя" translate-attr-placeholder="PLACEHOLDER__NAME" translate class="w-popup__field" data-validation="required"></fieldset>
					<fieldset class="w-popup__fieldset col-lg-6"><input type="email" name="email" placeholder="Email" translate-attr-placeholder="PLACEHOLDER__EMAIL" translate class="w-popup__field" data-validation="required"></fieldset>
					<fieldset class="w-popup__fieldset col-lg-6"><input type="tel" name="phone" placeholder="Телефон" translate-attr-placeholder="PLACEHOLDER__PHONE" translate class="w-popup__field" data-validation="required"></fieldset>
					<fieldset class="w-popup__fieldset col-lg-6"><input type="text" name="area" placeholder="Площадь" translate-attr-placeholder="PLACEHOLDER__AREA" translate class="w-popup__field" data-validation="required"><span class="area-sign">м<sup class="area-sign__square">2</sup></span></fieldset>
				</div>
				<div class="col-lg-12">
					<h3 class="w-popup__form-heading" translate="POPUP__SUBHEADING_TYPE"></h3>
				</div>
				<div class="col-lg-12">
					<fieldset class="w-popup__fieldset w-popup__fieldset--radio col-lg-6"><label class="w-popup__label"><input type="radio" name="object-type" value="Квартира" checked="checked" class="w-popup__radio"><span class="w-popup__faked w-popup__faked--radio"></span><span translate="RADIO__FLAT">Квартира</span></label></fieldset>
					<fieldset class="w-popup__fieldset w-popup__fieldset--radio col-lg-6"><label class="w-popup__label"><input type="radio" name="object-type" value="Загородный дом" class="w-popup__radio"><span class="w-popup__faked w-popup__faked--radio"></span><span translate="RADIO__HOUSE">Загородный дом</span></label></fieldset>
					<fieldset class="w-popup__fieldset w-popup__fieldset--radio col-lg-6"><label class="w-popup__label"><input type="radio" name="object-type" value="Коммерческий объект" class="w-popup__radio"><span class="w-popup__faked w-popup__faked--radio"></span><span translate="RADIO__COMMERCE">Коммерческий объект</span></label></fieldset>
					<fieldset class="w-popup__fieldset w-popup__fieldset--radio col-lg-6"><label class="w-popup__label"><input type="radio" name="object-type" value="Участок под ландшафт" class="w-popup__radio"><span class="w-popup__faked w-popup__faked--radio"></span><span translate="RADIO__LANDSHAFT">Участок под ландшафт</span></label></fieldset>
				</div>
				<div class="col-lg-12">
					<fieldset class="w-popup__fieldset w-popup__fieldset--comment col-lg-12"><input type="text" name="comment" placeholder="Ваш комментарий" translate-attr-placeholder="PLACEHOLDER__COMMENT" translate class="w-popup__field"></fieldset>
				</div>
				<div class="col-lg-12">
					<fieldset class="w-popup__fieldset w-popup__fieldset--submit col-lg-12">
						<p class="w-popup__confidential"><span translate="POPUP__POLICY_TEXT"></span><a class="w-popup__confidential-link" href="#" ng-click="popups.closePopup(); popups.showPopup('popup--confidential', false);" translate="POPUP__POLICY_LINK">Политикой конфиденциальности</a></p>
						<input onclick="_gaq.push(['_trackEvent', 'Расчет проекта (сквозная)', 'click']); yaCounter38272390.reachGoal('Расчет проекта (сквозная)');" type="submit" name="send" value="{{ 'BTN__CALCULATE_PROJECT' | translate }}" class="w-popup__submit btn btn--rounded btn--bordered"></fieldset>
				</div>
			</div>
			<input type="hidden" name="form-name" value="Расчет проекта (сквозная)">
		</form>
	</div>
</div>
<div id="popup--calc" class="w-popup w-popup--wide">
	<div class="w-popup__wrapper w-popup__wrapper--wide">
		<a href="#" title="Закрыть попап" ng-click="popups.closePopup();" class="w-popup__close"></a>
		<h2 class="w-popup__heading" translate="POPUP__HEADING_1"></h2>
		<form class="w-popup__form clearfix validate">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<fieldset class="w-popup__fieldset col-lg-6 col-md-6 col-sm-6 col-xs-12"><input type="text" name="name" placeholder="Имя" translate-attr-placeholder="PLACEHOLDER__NAME" translate class="w-popup__field" data-validation="required"></fieldset>
							<fieldset class="w-popup__fieldset col-lg-6 col-md-6 col-sm-6 col-xs-12"><input type="email" name="email" placeholder="Email" translate-attr-placeholder="PLACEHOLDER__EMAIL" translate class="w-popup__field" data-validation="required"></fieldset>
							<fieldset class="w-popup__fieldset col-lg-6 col-md-6 col-sm-6 col-xs-12"><input type="tel" name="phone" placeholder="Телефон" translate-attr-placeholder="PLACEHOLDER__PHONE" translate class="w-popup__field" data-validation="required"></fieldset>
							<fieldset class="w-popup__fieldset col-lg-6 col-md-6 col-sm-6 col-xs-12"><input type="text" name="area" placeholder="Площадь" translate-attr-placeholder="PLACEHOLDER__AREA" translate class="w-popup__field" data-validation="required"><span class="area-sign">м<sup class="area-sign__square">2</sup></span></fieldset>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<h3 class="w-popup__form-heading" translate="POPUP__SUBHEADING_TYPE"></h3>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<fieldset class="w-popup__fieldset w-popup__fieldset--radio col-lg-6 col-md-6 col-sm-6"><label class="w-popup__label"><input type="radio" name="object-type" value="Квартира" checked="checked" class="w-popup__radio"><span class="w-popup__faked w-popup__faked--radio"></span><span translate="RADIO__FLAT">Квартира</span></label></fieldset>
									<fieldset class="w-popup__fieldset w-popup__fieldset--radio col-lg-6 col-md-6 col-sm-6"><label class="w-popup__label"><input type="radio" name="object-type" value="Загородный дом" class="w-popup__radio"><span class="w-popup__faked w-popup__faked--radio"></span><span translate="RADIO__HOUSE">Загородный дом</span></label></fieldset>
									<fieldset class="w-popup__fieldset w-popup__fieldset--radio col-lg-6 col-md-6 col-sm-6"><label class="w-popup__label"><input type="radio" name="object-type" value="Коммерческий объект" class="w-popup__radio"><span class="w-popup__faked w-popup__faked--radio"></span><span translate="RADIO__COMMERCE">Коммерческий объект</span></label></fieldset>
									<fieldset class="w-popup__fieldset w-popup__fieldset--radio col-lg-6 col-md-6 col-sm-6"><label class="w-popup__label"><input type="radio" name="object-type" value="Участок под ландшафт" class="w-popup__radio"><span class="w-popup__faked w-popup__faked--radio"></span><span translate="RADIO__LANDSHAFT">Участок под ландшафт</span></label></fieldset>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<h3 class="w-popup__form-heading w-popup__form-heading--small-mrg" translate="POPUP__SUBHEADING_ADDITIONAL"></h3>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<fieldset class="w-popup__fieldset w-popup__fieldset--checkbox col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<label class="w-popup__label">
									<input type="checkbox" name="additional" value="Помощь в подборе недвижимости" class="w-popup__checkbox"><span class="w-popup__faked w-popup__faked--checkbox"></span><span translate="CHECKBOX__ADDITIONAL_1">Помощь в подборе недвижимости</span>
								</label>
							</fieldset>
							<fieldset class="w-popup__fieldset w-popup__fieldset--checkbox col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<label class="w-popup__label">
									<input type="checkbox" name="additional" value="Согласование перепланировок, взаимодействие с управляющей компанией" class="w-popup__checkbox"><span class="w-popup__faked w-popup__faked--checkbox"></span><span translate="CHECKBOX__ADDITIONAL_2">Согласование перепланировок, взаимодействие с управляющей компанией</span>
								</label>
							</fieldset>
							<fieldset class="w-popup__fieldset w-popup__fieldset--checkbox col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<label class="w-popup__label">
									<input type="checkbox" name="additional" value="Контроль качества проводимых ремонтных работ и приемка объекта у застройщика (выезды строительного эксперта)" class="w-popup__checkbox"><span class="w-popup__faked w-popup__faked--checkbox"></span><span translate="CHECKBOX__ADDITIONAL_3">Контроль качества проводимых ремонтных работ и приемка объекта у застройщика (выезды строительного эксперта)</span>
								</label>
							</fieldset>
							<fieldset class="w-popup__fieldset w-popup__fieldset--checkbox col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<label class="w-popup__label">
									<input type="checkbox" name="additional" value="Управление закупками и поставками с еженедельной отчетностью" class="w-popup__checkbox"><span class="w-popup__faked w-popup__faked--checkbox"></span><span translate="CHECKBOX__ADDITIONAL_4">Управление закупками и поставками с еженедельной отчетностью</span>
								</label>
							</fieldset>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<fieldset class="w-popup__fieldset w-popup__fieldset--checkbox col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<label class="w-popup__label">
									<input type="checkbox" name="additional" value="Подбор строителей и подрядчиков среди провереных организаций" class="w-popup__checkbox"><span class="w-popup__faked w-popup__faked--checkbox"></span><span translate="CHECKBOX__ADDITIONAL_5">Подбор строителей и подрядчиков среди провереных организаций</span>
								</label>
							</fieldset>
							<fieldset class="w-popup__fieldset w-popup__fieldset--checkbox col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<label class="w-popup__label">
									<input type="checkbox" name="additional" value="Организация и контроль разработки инженерных проектов" class="w-popup__checkbox"><span class="w-popup__faked w-popup__faked--checkbox"></span><span translate="CHECKBOX__ADDITIONAL_6">Организация и контроль разработки инженерных проектов</span>
								</label>
							</fieldset>
							<fieldset class="w-popup__fieldset w-popup__fieldset--checkbox col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<label class="w-popup__label">
									<input type="checkbox" name="additional" value="Услуга авторский надзор (выезды архитектора)" class="w-popup__checkbox"><span class="w-popup__faked w-popup__faked--checkbox"></span><span translate="CHECKBOX__ADDITIONAL_7">Услуга авторский надзор (выезды архитектора)</span>
								</label>
							</fieldset>
							<fieldset class="w-popup__fieldset w-popup__fieldset--checkbox col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<label class="w-popup__label">
									<input type="checkbox" name="additional" value="Декорирование интерьера &quot;под ключ&quot;" class="w-popup__checkbox"><span class="w-popup__faked w-popup__faked--checkbox"></span><span translate="CHECKBOX__ADDITIONAL_8">Декорирование интерьера "под ключ"</span>
								</label>
							</fieldset>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<fieldset class="w-popup__fieldset w-popup__fieldset--comment col-lg-12 col-md-12 col-sm-12 col-xs-12"><input type="text" name="comment" placeholder="Ваш комментарий" translate translate-attr-placeholder="PLACEHOLDER__COMMENT" class="w-popup__field"></fieldset>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<fieldset class="w-popup__fieldset w-popup__fieldset--submit col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<p class="w-popup__confidential"><span translate="POPUP__POLICY_TEXT"></span><a class="w-popup__confidential-link" href="#" ng-click="popups.closePopup(); popups.showPopup('popup--confidential', false);" translate="POPUP__POLICY_LINK">Политикой конфиденциальности</a></p>
						<input onclick="_gaq.push(['_trackEvent', 'Расчет вашего проекта (большой)', 'click']); yaCounter38272390.reachGoal('Расчет вашего проекта (большой)');" type="submit" name="send" value="{{ 'BTN__CALCULATE_PROJECT' | translate }}" class="w-popup__submit btn btn--rounded btn--bordered"></fieldset>
				</div>
			</div>
			<input type="hidden" name="form-name" value="Расчет вашего проекта (большой)">
		</form>
	</div>
</div>
<div id="popup--cooperate" class="w-popup w-popup--small">
	<div class="w-popup__wrapper w-popup__wrapper--small">
		<a href="#" title="Закрыть попап" ng-click="popups.closePopup();" class="w-popup__close"></a>
		<h2 class="w-popup__heading" translate="POPUP__HEADING_2"></h2>
		<form action="/test" method="post" class="w-popup__form clearfix dropzone validate">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<fieldset class="w-popup__fieldset col-lg-6 col-md-6 col-sm-6 col-xs-12"><input type="text" name="name" placeholder="Имя" translate-attr-placeholder="PLACEHOLDER__NAME" translate class="w-popup__field" data-validation="required"></fieldset>
					<fieldset class="w-popup__fieldset col-lg-6 col-md-6 col-sm-6 col-xs-12"><input type="email" name="email" placeholder="Email" translate-attr-placeholder="PLACEHOLDER__EMAIL" translate class="w-popup__field" data-validation="required"></fieldset>
					<fieldset class="w-popup__fieldset col-lg-6 col-md-6 col-sm-6 col-xs-12"><input type="tel" name="phone" placeholder="Телефон" translate-attr-placeholder="PLACEHOLDER__PHONE" translate class="w-popup__field" data-validation="required"></fieldset>
					<fieldset class="w-popup__fieldset col-lg-6 col-md-6 col-sm-6 col-xs-12"><input type="text" name="company" placeholder="Компания" translate-attr-placeholder="PLACEHOLDER__COMPANY" translate class="w-popup__field"></fieldset>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<fieldset class="w-popup__fieldset w-popup__fieldset--comment col-lg-12 col-md-12 col-sm-12 col-xs-12"><input type="text" name="description" placeholder="Опишите ваше предложение" translate-attr-placeholder="PLACEHOLDER__COMPANY" translate class="w-popup__field"></fieldset>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div data-content="+ Прикрепить файл" class="w-popup__dropzone dropzone-previews clearfix" dropzone="dropzoneConfig"></div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<fieldset class="w-popup__fieldset w-popup__fieldset--submit col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<p class="w-popup__confidential"><span translate="POPUP__POLICY_TEXT"></span><a class="w-popup__confidential-link" href="#" ng-click="popups.closePopup(); popups.showPopup('popup--confidential', false);" translate="POPUP__POLICY_LINK">Политикой конфиденциальности</a></p>
						<input onclick="_gaq.push(['_trackEvent', 'Заявка на сотрудничество', 'click']); yaCounter38272390.reachGoal('Заявка на сотрудничество');" type="submit" name="send" value="{{ 'BTN__SEND' | translate }}" class="w-popup__submit btn btn--rounded btn--bordered"></fieldset>
				</div>
			</div>
			<input type="hidden" name="form-name" value="Заявка на сотрудничество">
		</form>
	</div>
</div>
<div id="popup--consult" class="w-popup w-popup--small">
	<div class="w-popup__wrapper w-popup__wrapper--small">
		<a href="#" title="Закрыть попап" ng-click="popups.closePopup();" class="w-popup__close"></a>
		<h2 class="w-popup__heading" translate="POPUP__HEADING_3"></h2>
		<form class="w-popup__form clearfix validate">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<fieldset class="w-popup__fieldset col-lg-6 col-md-6 col-sm-6 col-xs-12"><input type="text" name="name" placeholder="Имя" translate-attr-placeholder="PLACEHOLDER__NAME" translate class="w-popup__field" data-validation="required"></fieldset>
					<fieldset class="w-popup__fieldset col-lg-6 col-md-6 col-sm-6 col-xs-12"><input type="email" name="email" placeholder="Email" translate-attr-placeholder="PLACEHOLDER__EMAIL" translate class="w-popup__field" data-validation="required"></fieldset>
					<fieldset class="w-popup__fieldset col-lg-6 col-md-6 col-sm-6 col-xs-12"><input type="tel" name="phone" placeholder="Телефон" translate-attr-placeholder="PLACEHOLDER__PHONE" translate class="w-popup__field" data-validation="required"></fieldset>
					<fieldset class="w-popup__fieldset col-lg-6 col-md-6 col-sm-6 col-xs-12"><input type="text" name="area" placeholder="Площадь" translate-attr-placeholder="PLACEHOLDER__AREA" translate class="w-popup__field" data-validation="required"><span class="area-sign">м<sup class="area-sign__square">2</sup></span></fieldset>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3 class="w-popup__form-heading" translate="POPUP__SUBHEADING_TYPE"></h3>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<fieldset class="w-popup__fieldset w-popup__fieldset--radio col-lg-6 col-md-6 col-sm-6 col-xs-12"><label class="w-popup__label"><input type="radio" name="object-type" value="Квартира" checked="checked" class="w-popup__radio"><span class="w-popup__faked w-popup__faked--radio"></span><span translate="RADIO__FLAT">Квартира</span></label></fieldset>
					<fieldset class="w-popup__fieldset w-popup__fieldset--radio col-lg-6 col-md-6 col-sm-6 col-xs-12"><label class="w-popup__label"><input type="radio" name="object-type" value="Загородный дом" class="w-popup__radio"><span class="w-popup__faked w-popup__faked--radio"></span><span translate="RADIO__HOUSE">Загородный дом</span></label></fieldset>
					<fieldset class="w-popup__fieldset w-popup__fieldset--radio col-lg-6 col-md-6 col-sm-6 col-xs-12"><label class="w-popup__label"><input type="radio" name="object-type" value="Коммерческий объект" class="w-popup__radio"><span class="w-popup__faked w-popup__faked--radio"></span><span translate="RADIO__COMMERCE">Коммерческий объект</span></label></fieldset>
					<fieldset class="w-popup__fieldset w-popup__fieldset--radio col-lg-6 col-md-6 col-sm-6 col-xs-12"><label class="w-popup__label"><input type="radio" name="object-type" value="Участок под ландшафт" class="w-popup__radio"><span class="w-popup__faked w-popup__faked--radio"></span><span translate="RADIO__LANDSHAFT">Участок под ландшафт</span></label></fieldset>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<fieldset class="w-popup__fieldset w-popup__fieldset--comment col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<input type="text" name="callDate" placeholder="Дата и время" translate-attr-placeholder="PLACEHOLDER__DATE" translate class="w-popup__field w-popup__field--calendar" id="monthly--1__trigger">
						<div class="monthly" id="monthly--1"></div>
					</fieldset>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<fieldset class="w-popup__fieldset w-popup__fieldset--comment col-lg-12 col-md-12 col-sm-12 col-xs-12"><input type="text" name="comment" placeholder="Ваш комментарий" translate-attr-placeholder="PLACEHOLDER__COMMENT" translate class="w-popup__field"></fieldset>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<fieldset class="w-popup__fieldset w-popup__fieldset--submit col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<p class="w-popup__confidential"><span translate="POPUP__POLICY_TEXT"></span><a class="w-popup__confidential-link" href="#" ng-click="popups.closePopup(); popups.showPopup('popup--confidential', false);" translate="POPUP__POLICY_LINK">Политикой конфиденциальности</a></p>
						<input onclick="_gaq.push(['_trackEvent', 'Заявка на консультацию', 'click']); yaCounter38272390.reachGoal('Заявка на консультацию');" type="submit" name="send" value="{{ 'BTN__LEAVE_REQUEST' | translate }}" class="w-popup__submit btn btn--rounded btn--bordered">
					</fieldset>
				</div>
			</div>
			<input type="hidden" name="form-name" value="Заявка на консультацию">
		</form>
	</div>
</div>
<div id="popup--consult-small" class="w-popup w-popup--small">
	<div class="w-popup__wrapper w-popup__wrapper--small">
		<a href="#" title="Закрыть попап" ng-click="popups.closePopup();" class="w-popup__close"></a>
		<h2 class="w-popup__heading" translate="POPUP__HEADING_4"></h2>
		<form class="w-popup__form clearfix validate">
			<div class="row">
				<div class="col-lg-12">
					<fieldset class="w-popup__fieldset col-lg-6"><input type="text" name="name" placeholder="Имя"translate-attr-placeholder="PLACEHOLDER__NAME" translate class ="w-popup__field" data-validation="required"></fieldset>
					<fieldset class="w-popup__fieldset col-lg-6"><input type="email" name="email" placeholder="Email" translate-attr-placeholder="PLACEHOLDER__EMAIL" translate class="w-popup__field" data-validation="required"></fieldset>
					<fieldset class="w-popup__fieldset col-lg-6"><input type="tel" name="phone" placeholder="Телефон" translate-attr-placeholder="PLACEHOLDER__PHONE" translate class="w-popup__field" data-validation="required"></fieldset>
					<fieldset class="w-popup__fieldset col-lg-6"><input type="text" name="area" placeholder="Площадь" translate-attr-placeholder="PLACEHOLDER__AREA" translate class="w-popup__field" data-validation="required"><span class="area-sign">м<sup class="area-sign__square">2</sup></span></fieldset>
				</div>
				<div class="col-lg-12">
					<fieldset class="w-popup__fieldset w-popup__fieldset--comment col-lg-12"><input type="text" name="comment" placeholder="Ваш комментарий" translate-attr-placeholder="PLACEHOLDER__COMMENT" translate class="w-popup__field"></fieldset>
				</div>
				<div class="col-lg-12">
					<fieldset class="w-popup__fieldset w-popup__fieldset--submit col-lg-12">
						<p class="w-popup__confidential"><span translate="POPUP__POLICY_TEXT"></span><a class="w-popup__confidential-link" href="#" ng-click="popups.closePopup(); popups.showPopup('popup--confidential', false);" translate="POPUP__POLICY_LINK">Политикой конфиденциальности</a></p>
						<input onclick="_gaq.push(['_trackEvent', 'Заявка вашего проекта (маленький)', 'click']); yaCounter38272390.reachGoal('Заявка вашего проекта (маленький)');" type="submit" name="send" value="{{ 'BTN__CALCULATE_PROJECT' | translate }}" class="w-popup__submit btn btn--rounded btn--bordered"></fieldset>
				</div>
			</div>
			<input type="hidden" name="form-name" value="Заявка вашего проекта (маленький)">
		</form>
	</div>
</div>
<div id="popup--repair-support" class="w-popup w-popup--small">
	<div class="w-popup__wrapper w-popup__wrapper--small">
		<a href="#" title="Закрыть попап" ng-click="popups.closePopup();" class="w-popup__close"></a>
		<h2 class="w-popup__heading" translate="POPUP__HEADING_5"></h2>
		<form class="w-popup__form clearfix validate">
			<div class="row">
				<div class="col-lg-12">
					<fieldset class="w-popup__fieldset col-lg-6"><input type="text" name="name" placeholder="Имя" translate-attr-placeholder="PLACEHOLDER__NAME" translate class="w-popup__field" data-validation="required"></fieldset>
					<fieldset class="w-popup__fieldset col-lg-6"><input type="email" name="email" placeholder="Email" translate-attr-placeholder="PLACEHOLDER__EMAIL" translate class="w-popup__field" data-validation="required"></fieldset>
					<fieldset class="w-popup__fieldset col-lg-6"><input type="tel" name="phone" placeholder="Телефон" translate-attr-placeholder="PLACEHOLDER__PHONE" translate class="w-popup__field" data-validation="required"></fieldset>
					<fieldset class="w-popup__fieldset col-lg-6"><input type="text" name="area" placeholder="Площадь" translate-attr-placeholder="PLACEHOLDER__AREA" translate class="w-popup__field" data-validation="required"><span class="area-sign">м<sup class="area-sign__square">2</sup></span></fieldset>
				</div>
				<div class="col-lg-12">
					<fieldset class="w-popup__fieldset w-popup__fieldset--comment col-lg-12"><input type="text" name="comment" placeholder="Ваш комментарий" translate-attr-placeholder="PLACEHOLDER__COMMENT" translate class="w-popup__field"></fieldset>
				</div>
				<div class="col-lg-12">
					<fieldset class="w-popup__fieldset w-popup__fieldset--submit col-lg-12">
						<p class="w-popup__confidential"><span translate="POPUP__POLICY_TEXT"></span><a class="w-popup__confidential-link" href="#" ng-click="popups.closePopup(); popups.showPopup('popup--confidential', false);" translate="POPUP__POLICY_LINK">Политикой конфиденциальности</a></p>
						<input onclick="_gaq.push(['_trackEvent', 'Заявка услуги сопровождения ремонта', 'click']); yaCounter38272390.reachGoal('Заявка услуги сопровождения ремонта');" type="submit" name="send" value="{{ 'BTN__LEAVE_REQUEST' | translate }}" class="w-popup__submit btn btn--rounded btn--bordered"></fieldset>
				</div>
			</div>
			<input type="hidden" name="form-name" value="Заявка услуги сопровождения ремонта">
		</form>
	</div>
</div>
<div id="popup--consultation" class="w-popup w-popup--small">
	<div class="w-popup__wrapper w-popup__wrapper--small">
		<a href="#" title="Закрыть попап" ng-click="popups.closePopup();" class="w-popup__close"></a>
		<h2 class="w-popup__heading" translate="POPUP__HEADING_6"></h2>
		<form class="w-popup__form clearfix validate">
			<div class="row">
				<div class="col-lg-12">
					<fieldset class="w-popup__fieldset col-lg-6"><input type="text" name="name" placeholder="Имя" translate-attr-placeholder="PLACEHOLDER__NAME" translate class="w-popup__field" data-validation="required"></fieldset>
					<fieldset class="w-popup__fieldset col-lg-6"><input type="email" name="email" placeholder="Email" translate-attr-placeholder="PLACEHOLDER__EMAIL" translate class="w-popup__field" data-validation="required"></fieldset>
					<fieldset class="w-popup__fieldset col-lg-6"><input type="tel" name="phone" placeholder="Телефон" translate-attr-placeholder="PLACEHOLDER__PHONE" translate class="w-popup__field" data-validation="required"></fieldset>
					<fieldset class="w-popup__fieldset col-lg-6"><input type="text" name="area" placeholder="Площадь" translate-attr-placeholder="PLACEHOLDER__AREA" translate class="w-popup__field" data-validation="required"><span class="area-sign">м<sup class="area-sign__square">2</sup></span></fieldset>
				</div>
				<div class="col-lg-12">
					<fieldset class="w-popup__fieldset w-popup__fieldset--comment col-lg-12"><input type="text" name="comment" placeholder="Ваш комментарий" translate-attr-placeholder="PLACEHOLDER__COMMENT" translate class="w-popup__field"></fieldset>
				</div>
				<div class="col-lg-12">
					<fieldset class="w-popup__fieldset w-popup__fieldset--submit col-lg-12">
						<p class="w-popup__confidential"><span translate="POPUP__POLICY_TEXT"></span><a class="w-popup__confidential-link" href="#" ng-click="popups.closePopup(); popups.showPopup('popup--confidential', false);" translate="POPUP__POLICY_LINK">Политикой конфиденциальности</a></p>
						<input onclick="_gaq.push(['_trackEvent', 'Заявка услуги консультации', 'click']); yaCounter38272390.reachGoal('Заявка услуги консультации');" type="submit" name="send" value="{{ 'BTN__LEAVE_REQUEST' | translate }}" class="w-popup__submit btn btn--rounded btn--bordered"></fieldset>
				</div>
			</div>
			<input type="hidden" name="form-name" value="Заявка услуги консультации">
		</form>
	</div>
</div>
<div id="popup--contacts-check" class="w-popup w-popup--small">
	<div class="w-popup__wrapper w-popup__wrapper--small">
		<a href="#" title="Закрыть попап" ng-click="popups.closePopup();" class="w-popup__close"></a>
		<h2 class="w-popup__heading" translate="POPUP__HEADING_7"></h2>
		<form class="w-popup__form clearfix validate">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<fieldset class="w-popup__fieldset col-lg-6 col-md-6 col-sm-6 col-xs-12"><input type="text" name="name" placeholder="Имя" translate-attr-placeholder="PLACEHOLDER__NAME" translate class="w-popup__field" data-validation="required"></fieldset>
					<fieldset class="w-popup__fieldset col-lg-6 col-md-6 col-sm-6 col-xs-12"><input type="email" name="email" placeholder="Email" translate-attr-placeholder="PLACEHOLDER__EMAIL" translate class="w-popup__field" data-validation="required"></fieldset>
					<fieldset class="w-popup__fieldset col-lg-6 col-md-6 col-sm-6 col-xs-12"><input type="tel" name="phone" placeholder="Телефон" translate-attr-placeholder="PLACEHOLDER__PHONE" translate class="w-popup__field" data-validation="required"></fieldset>
					<fieldset class="w-popup__fieldset col-lg-6 col-md-6 col-sm-6 col-xs-12"><input type="text" name="area" placeholder="Площадь" translate-attr-placeholder="PLACEHOLDER__AREA" translate class="w-popup__field" data-validation="required"><span class="area-sign">м<sup class="area-sign__square">2</sup></span></fieldset>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3 class="w-popup__form-heading" translate="POPUP__SUBHEADING_TYPE"></h3>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<fieldset class="w-popup__fieldset w-popup__fieldset--radio col-lg-6 col-md-6 col-sm-6 col-xs-12"><label class="w-popup__label"><input type="radio" name="object-type" value="Квартира" checked="checked" class="w-popup__radio"><span class="w-popup__faked w-popup__faked--radio"></span><span translate="RADIO__FLAT">Квартира</span></label></fieldset>
					<fieldset class="w-popup__fieldset w-popup__fieldset--radio col-lg-6 col-md-6 col-sm-6 col-xs-12"><label class="w-popup__label"><input type="radio" name="object-type" value="Загородный дом" class="w-popup__radio"><span class="w-popup__faked w-popup__faked--radio"></span><span translate="RADIO__HOUSE">Загородный дом</span></label></fieldset>
					<fieldset class="w-popup__fieldset w-popup__fieldset--radio col-lg-6 col-md-6 col-sm-6 col-xs-12"><label class="w-popup__label"><input type="radio" name="object-type" value="Коммерческий объект" class="w-popup__radio"><span class="w-popup__faked w-popup__faked--radio"></span><span translate="RADIO__COMMERCE">Коммерческий объект</span></label></fieldset>
					<fieldset class="w-popup__fieldset w-popup__fieldset--radio col-lg-6 col-md-6 col-sm-6 col-xs-12"><label class="w-popup__label"><input type="radio" name="object-type" value="Участок под ландшафт" class="w-popup__radio"><span class="w-popup__faked w-popup__faked--radio"></span><span translate="RADIO__LANDSHAFT">Участок под ландшафт</span></label></fieldset>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<fieldset class="w-popup__fieldset w-popup__fieldset--comment col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<input type="text"  name="callDate" placeholder="Дата и время" translate-attr-placeholder="PLACEHOLDER__DATE" translate class="w-popup__field w-popup__field--calendar" id="monthly--2__trigger">
						<div class="monthly" id="monthly--2"></div>
					</fieldset>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<fieldset class="w-popup__fieldset w-popup__fieldset--comment col-lg-12 col-md-12 col-sm-12 col-xs-12"><input type="text" name="comment" placeholder="Ваш комментарий" translate-attr-placeholder="PLACEHOLDER__COMMENT" translate class="w-popup__field"></fieldset>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<fieldset class="w-popup__fieldset w-popup__fieldset--submit col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<p class="w-popup__confidential"><span translate="POPUP__POLICY_TEXT"></span><a class="w-popup__confidential-link" href="#" ng-click="popups.closePopup(); popups.showPopup('popup--confidential', false);" translate="POPUP__POLICY_LINK">Политикой конфиденциальности</a></p>
						<input onclick="_gaq.push(['_trackEvent', 'Заявка на выезд архитектора', 'click']); yaCounter38272390.reachGoal('Заявка на выезд архитектора');" type="submit" name="send" value="{{ 'BTN__ORDER_DEPARTURE' | translate }}" class="w-popup__submit btn btn--rounded btn--bordered">
					</fieldset>
				</div>
			</div>
			<input type="hidden" name="form-name" value="Заявка на выезд архитектора">
		</form>
	</div>
</div>
<div id="popup--service-plan" class="w-popup w-popup--small">
	<div class="w-popup__wrapper w-popup__wrapper--small">
		<a href="#" title="Закрыть попап" ng-click="popups.closePopup();" class="w-popup__close"></a>
		<h2 class="w-popup__heading" translate="POPUP__HEADING_1"></h2>
		<form class="w-popup__form clearfix validate">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<fieldset class="w-popup__fieldset col-lg-6 col-md-6 col-sm-6 col-xs-12"><input type="text" name="name" placeholder="Имя" translate-attr-placeholder="PLACEHOLDER__NAME" translate class="w-popup__field" data-validation="required"></fieldset>
					<fieldset class="w-popup__fieldset col-lg-6 col-md-6 col-sm-6 col-xs-12"><input type="email" name="email" placeholder="Email" translate-attr-placeholder="PLACEHOLDER__EMAIL" translate class="w-popup__field" data-validation="required"></fieldset>
					<fieldset class="w-popup__fieldset col-lg-6 col-md-6 col-sm-6 col-xs-12"><input type="tel" name="phone" placeholder="Телефон" translate-attr-placeholder="PLACEHOLDER__PHONE" translate class="w-popup__field" data-validation="required"></fieldset>
					<fieldset class="w-popup__fieldset col-lg-6 col-md-6 col-sm-6 col-xs-12"><input type="text" name="area" placeholder="Площадь" translate-attr-placeholder="PLACEHOLDER__AREA" translate class="w-popup__field" data-validation="required"><span class="area-sign">м<sup class="area-sign__square">2</sup></span></fieldset>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3 class="w-popup__form-heading" translate="POPUP__SUBHEADING_TYPE"></h3>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<fieldset class="w-popup__fieldset w-popup__fieldset--radio col-lg-6 col-md-6 col-sm-6 col-xs-12"><label class="w-popup__label"><input type="radio" name="object-type" value="Квартира" checked="checked" class="w-popup__radio"><span class="w-popup__faked w-popup__faked--radio"></span><span translate="RADIO__FLAT">Квартира</span></label></fieldset>
					<fieldset class="w-popup__fieldset w-popup__fieldset--radio col-lg-6 col-md-6 col-sm-6 col-xs-12"><label class="w-popup__label"><input type="radio" name="object-type" value="Загородный дом" class="w-popup__radio"><span class="w-popup__faked w-popup__faked--radio"></span><span translate="RADIO__HOUSE">Загородный дом</span></label></fieldset>
					<fieldset class="w-popup__fieldset w-popup__fieldset--radio col-lg-6 col-md-6 col-sm-6 col-xs-12"><label class="w-popup__label"><input type="radio" name="object-type" value="Коммерческий объект" class="w-popup__radio"><span class="w-popup__faked w-popup__faked--radio"></span><span translate="RADIO__COMMERCE">Коммерческий объект</span></label></fieldset>
					<fieldset class="w-popup__fieldset w-popup__fieldset--radio col-lg-6 col-md-6 col-sm-6 col-xs-12"><label class="w-popup__label"><input type="radio" name="object-type" value="Участок под ландшафт" class="w-popup__radio"><span class="w-popup__faked w-popup__faked--radio"></span><span translate="RADIO__LANDSHAFT">Участок под ландшафт</span></label></fieldset>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<h3 class="w-popup__form-heading w-popup__form-heading--small-mrg" translate="POPUP__SUBHEADING_GIFT"></h3>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<fieldset class="w-popup__fieldset w-popup__fieldset--radio col-lg-6 col-md-6 col-sm-6">
								<label class="w-popup__label">
									<input type="radio" name="gift" value="План привязки розеток" checked="checked" class="w-popup__radio"><span class="w-popup__faked w-popup__faked--radio"></span><span translate="RADIO__GIFT_1">План привязки розеток</span>
								</label>
							</fieldset>
							<fieldset class="w-popup__fieldset w-popup__fieldset--radio col-lg-6 col-md-6 col-sm-6">
								<label class="w-popup__label">
									<input type="radio" name="gift" value="План привязки розеток" class="w-popup__radio"><span class="w-popup__faked w-popup__faked--radio"></span><span translate="RADIO__GIFT_2">План привязки розеток</span>
								</label>
							</fieldset>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<fieldset class="w-popup__fieldset w-popup__fieldset--submit col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<p class="w-popup__confidential"><span translate="POPUP__POLICY_TEXT"></span><a class="w-popup__confidential-link" href="#" ng-click="popups.closePopup(); popups.showPopup('popup--confidential', false);" translate="POPUP__POLICY_LINK">Политикой конфиденциальности</a></p>
						<input onclick="_gaq.push(['_trackEvent', 'Заявка на расчет планировочного проекта', 'click']); yaCounter38272390.reachGoal('Заявка на расчет планировочного проекта');" type="submit" name="send" value="{{ 'BTN__LEAVE_REQUEST' | translate }}" class="w-popup__submit btn btn--rounded btn--bordered">
					</fieldset>
				</div>
			</div>
			<input type="hidden" name="form-name" value="Заявка на расчет планировочного проекта">
		</form>
	</div>
</div>
<div id="popup--service-project" class="w-popup w-popup--small">
	<div class="w-popup__wrapper w-popup__wrapper--small">
		<a href="#" title="Закрыть попап" ng-click="popups.closePopup();" class="w-popup__close"></a>
		<h2 class="w-popup__heading" translate="POPUP__HEADING_1"></h2>
		<form class="w-popup__form clearfix validate">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<fieldset class="w-popup__fieldset col-lg-6 col-md-6 col-sm-6 col-xs-12"><input type="text" name="name" placeholder="Имя" translate-attr-placeholder="PLACEHOLDER__NAME" translate class="w-popup__field" data-validation="required"></fieldset>
					<fieldset class="w-popup__fieldset col-lg-6 col-md-6 col-sm-6 col-xs-12"><input type="email" name="email" placeholder="Email" translate-attr-placeholder="PLACEHOLDER__EMAIL" translate class="w-popup__field" data-validation="required"></fieldset>
					<fieldset class="w-popup__fieldset col-lg-6 col-md-6 col-sm-6 col-xs-12"><input type="tel" name="phone" placeholder="Телефон" translate-attr-placeholder="PLACEHOLDER__PHONE" translate class="w-popup__field" data-validation="required"></fieldset>
					<fieldset class="w-popup__fieldset col-lg-6 col-md-6 col-sm-6 col-xs-12"><input type="text" name="area" placeholder="Площадь" translate-attr-placeholder="PLACEHOLDER__AREA" translate class="w-popup__field" data-validation="required"><span class="area-sign">м<sup class="area-sign__square">2</sup></span></fieldset>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3 class="w-popup__form-heading" translate="POPUP__SUBHEADING_TYPE"></h3>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<fieldset class="w-popup__fieldset w-popup__fieldset--radio col-lg-6 col-md-6 col-sm-6 col-xs-12"><label class="w-popup__label"><input type="radio" name="object-type" value="Квартира" checked="checked" class="w-popup__radio"><span class="w-popup__faked w-popup__faked--radio"></span><span translate="RADIO__FLAT">Квартира</span></label></fieldset>
					<fieldset class="w-popup__fieldset w-popup__fieldset--radio col-lg-6 col-md-6 col-sm-6 col-xs-12"><label class="w-popup__label"><input type="radio" name="object-type" value="Загородный дом" class="w-popup__radio"><span class="w-popup__faked w-popup__faked--radio"></span><span translate="RADIO__HOUSE">Загородный дом</span></label></fieldset>
					<fieldset class="w-popup__fieldset w-popup__fieldset--radio col-lg-6 col-md-6 col-sm-6 col-xs-12"><label class="w-popup__label"><input type="radio" name="object-type" value="Коммерческий объект" class="w-popup__radio"><span class="w-popup__faked w-popup__faked--radio"></span><span translate="RADIO__COMMERCE">Коммерческий объект</span></label></fieldset>
					<fieldset class="w-popup__fieldset w-popup__fieldset--radio col-lg-6 col-md-6 col-sm-6 col-xs-12"><label class="w-popup__label"><input type="radio" name="object-type" value="Участок под ландшафт" class="w-popup__radio"><span class="w-popup__faked w-popup__faked--radio"></span><span translate="RADIO__LANDSHAFT">Участок под ландшафт</span></label></fieldset>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<h3 class="w-popup__form-heading w-popup__form-heading--small-mrg" translate="POPUP__SUBHEADING_GIFT"></h3>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<fieldset class="w-popup__fieldset w-popup__fieldset--radio col-lg-6 col-md-6 col-sm-6">
								<label class="w-popup__label">
									<input type="radio" name="gift" value="1 месяц авторского надзора" checked="checked" class="w-popup__radio"><span class="w-popup__faked w-popup__faked--radio"></span><span translate="RADIO__GIFT_3">1 месяц авторского надзора</span>
								</label>
							</fieldset>
							<fieldset class="w-popup__fieldset w-popup__fieldset--radio col-lg-6 col-md-6 col-sm-6">
								<label class="w-popup__label">
									<input type="radio" name="gift" value="Подбор декора" class="w-popup__radio"><span class="w-popup__faked w-popup__faked--radio"></span><span translate="RADIO__GIFT_4">Подбор декора</span>
								</label>
							</fieldset>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<fieldset class="w-popup__fieldset w-popup__fieldset--submit col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<p class="w-popup__confidential"><span translate="POPUP__POLICY_TEXT"></span><a class="w-popup__confidential-link" href="#" ng-click="popups.closePopup(); popups.showPopup('popup--confidential', false);" translate="POPUP__POLICY_LINK">Политикой конфиденциальности</a></p>
						<input onclick="_gaq.push(['_trackEvent', 'Заявка на расчет полного дизайн-проекта', 'click']); yaCounter38272390.reachGoal('Заявка на расчет полного дизайн-проекта');" type="submit" name="send" value="{{ 'BTN__LEAVE_REQUEST' | translate }}" class="w-popup__submit btn btn--rounded btn--bordered">
					</fieldset>
				</div>
			</div>
			<input type="hidden" name="form-name" value="Заявка на расчет полного дизайн-проекта">
		</form>
	</div>
</div>
<div id="popup--confidential" class="w-popup w-popup--small">
	<div class="w-popup__wrapper w-popup__wrapper--small">
		<a href="#" title="Закрыть попап" ng-click="popups.closePopup();" class="w-popup__close"></a>
		<h2 class="w-popup__heading" translate="POPUP__POLICY_HEADING"></h2>
		<div class="w-popup__scrollable" translate="POPUP__POLICY_CONTENT"></div>
	</div>
</div>
<div id="popup--thank" class="w-popup w-popup--full w-popup--transparent w-popup--thank">
	<a href="#" title="Закрыть попап" ng-click="popups.closePopup();" class="w-popup__close w-popup__close--fixed w-popup__close--white"></a>
	<div class="w-popup__wrapper w-popup__wrapper--full w-popup__wrapper--full-fix">
		<div class="w-popup__flexbox w-popup__thank">
			<div class="w-popup__thank-center">
				<h2 class="w-popup__thank-heading">Спасибо за вашу заявку</h2>
				<p class="w-popup__thank-text w-popup__thank-text--big">наш специалист ответит в самое <br/>ближайшее время</p>
			</div>
			<div class="w-popup__thank-bottom">
				<p class="w-popup__thank-text">Следите за нами в социальных сетях</p>
				<p class="w-popup__thank-text">
					<a href="https://www.facebook.com/%D0%94%D0%B8%D0%B7%D0%B0%D0%B9%D0%BD-%D0%B1%D1%8E%D1%80%D0%BE-Archwood-513976712007965/?ref=profile" class="w-popup__thank-social" target="_blank" title="Facebook"><img src="/img/elem/footer__social--fb.png"/></a>
					<a href="https://www.instagram.com/archwood_interiors/" class="w-popup__thank-social" target="_blank" title="Instagram"><img src="/img/elem/footer__social--inst.png"/></a>
					<a href="http://vk.com/archwood" class="w-popup__thank-social" target="_blank" title="Vkontakte"><img src="/img/elem/footer__social--vk.png"/></a>
					<a href="https://www.linkedin.com/company/archwood" class="w-popup__thank-social" target="_blank" title="LinkedIn"><img src="/img/elem/footer__social--li.png"/></a>
				</p>
				<div class="w-popup__thank-row"></div>
				<p class="w-popup__thank-text w-popup__thank-text--big">Посмотрите авторский блог нашего главного архитектора Марины Измайловой</p>
				<a href="http://casual-home.ru/" class="w-popup__thank-link">перейти в блог</a>
			</div>
		</div>
	</div>
</div>