<section id="service" class="service">
	<div class="container">
		<h1 class="service__heading" translate="SERVICE__HEADING">Услуги</h1>
		<p class="service__subheading" translate="SERVICE__SUBHEADING">На протяжении нескольких лет работы мы опрашивали наших клиентов, что мы можем еще сделать для них полезного кроме разработки дизайн-проекта и последующего авторского надзора? На основе их запросов мы создали пакет дополнительных услуг, организующих процесс ремонта и закупок, которые максимально освободят вам руки и время.</p>
		<ul class="service__nav">
			<li class="service__nav-item"><a href="#" ui-sref="service({key: 'interery'})" ui-sref-active="service__nav-link--active" title="Дизайн интерьеров" class="service__nav-link" translate="SERVICE__INTERIORS">Дизайн интерьеров</a></li>
			<li class="service__nav-item"><a href="#" ui-sref="service({key: 'soprovozhdenie-remonta'})" ui-sref-active="service__nav-link--active" title="Управление ремонтом" class="service__nav-link" translate="SERVICE__SUPPORT">Управление ремонтом</a></li>
			<li class="service__nav-item"><a href="#" ui-sref="service({key: 'konsultirovanie'})" ui-sref-active="service__nav-link--active" title="Консультирование" class="service__nav-link" translate="SERVICE__CONSULT">Консультирование</a></li>
		</ul>
	</div>
</section>