section#video.video
    .container
        .center
            h2.video__heading Видео о нас
            .video__container.clearfix
                - for (var i = 0; i < 3; i++) {
                    .video__elem
                        .video__elem-top
                            a(href='#', title='Открыть попап с видео').video__elem-link
                                img(src='../img/video/video__preview--' + i + '.jpg', alt='Интервью Марины Измайловой').video__elem-preview
                        .video__elem-bottom
                            p.video__elem-heading Интервью Марины Измайловой
                            p.video__elem-description Подвал с низким потолком и маленьким окошком переделали в гостиную с барной зоной и мини-кухней.
                - }