<section id="gallery" class="gallery">
	<div id="gallery__gallery" class="royalSlider rsDefault visibleNearby">
		<a ng-repeat="image in projectContent.images" class="rsImg" href="{{ image }}">
			{{ $index + 1 }}/{{ projectContent.images.length }}
		</a>
	</div>
</section>