section#sketches.sketches
    .container
        .center
            h2.sketches__heading Эскизы
            .sketches__gallery
                img(src='../img/sketches/sketches__1.jpg', alt='Эскиз дизайна', height='430', width='625').sketches__gallery-element
                img(src='../img/sketches/sketches__2.jpg', alt='Эскиз дизайна', height='430', width='310').sketches__gallery-element
                img(src='../img/sketches/sketches__3.jpg', alt='Эскиз дизайна', height='430', width='310').sketches__gallery-element
                img(src='../img/sketches/sketches__4.jpg', alt='Эскиз дизайна', height='430', width='625').sketches__gallery-element