<section id="description" class="description">
	<div class="container">
		<a ng-click="goToHash('index', 'works');" title="Закрыть проект" class="description__close"></a>
		<div class="center">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h2 class="description__heading description__heading--mobile" translate="DESCR_TITLE" translate-values="{ newVal: parts.project.title }"></h2>
				</div>
				<div class="description__tech col-lg-3 col-md-3 col-sm-3 col-xs-12 clearfix">
					<div class="description__tech-element">
						<p class="description__tech-label" translate="DESCR_TECH_STYLE_LABEL"></p>
						<p class="description__tech-content" translate="DESCR_TECH_STYLE" translate-values="{ newVal: parts.project.style }"></p>
					</div>
					<div class="description__tech-element">
						<p class="description__tech-label" translate="DESCR_TECH_AREA_LABEL"></p>
						<p class="description__tech-content" translate="DESCR_TECH_AREA" translate-values="{ newVal: parts.project.area }"></p>
					</div>
					<div class="description__tech-element">
						<p class="description__tech-label" translate="DESCR_TECH_DEADLINE_LABEL"></p>
						<p class="description__tech-content" translate="DESCR_TECH_DEADLINE" translate-values="{ newVal: parts.project.deadline }"></p>
					</div>
					<div class="description__tech-element">
						<p class="description__tech-label" translate="DESCR_TECH_STATUS_LABEL"></p>
						<p class="description__tech-content" translate="DESCR_TECH_STATUS" translate-values="{ newVal: parts.project.status }"></p>
					</div>
				</div>
				<div class="description__content description__content--closed col-lg-9 col-md-9 col-sm-9 col-xs-12">
					<h1 class="description__heading" translate="DESCR_TITLE" translate-values="{ newVal: parts.project.title }"></h1>
					<div class="description__top" ng-bind-html="parts.project.descriptionTop"></div>
					<div class="description__cut" ng-bind-html="parts.project.descriptionCut"></div>
					<a ng-click="toggleDescription($event);" href="#" class="description__more description__more--to-display" translate="DESCR_READMORE">читать полностью</a>
				</div>
			</div>
		</div>
	</div>
</section>