<section id="projects" class="projects">
	<div class="container" ng-show="showInter">
		<div class="projects__elem">
			<div class="projects__elem-top">
				<div class="center">
					<div class="projects__elem-header">
						<h3 class="projects__elem-heading" translate="PROJECTS__INTER_LP_TITLE" translate-values="{ newVal: parts.services.interery.layoutProject.title }"></h3>
						<p class="projects__elem-subheading" translate="PROJECTS__INTER_LP_SUBTITLE" translate-values="{ newVal: parts.services.interery.layoutProject.subtitle }"></p>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div ng-bind-html="parts.services.interery.layoutProject.description" class="projects__elem-description projects__editable"></div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div ng-bind-html="parts.services.interery.layoutProject.cost" class="projects__elem-prices"></div>
							<div class="projects__elem-action">
								<p class="projects__elem-bold projects__elem-bold--no-margin" translate="PROJECTS__INTER__LP_ACTION" translate-value-newmonth="{{ dates.month }}" translate-value-newday="{{ dates.day }}">план привязки розеток в подарок! Только до {{ dates.day }} {{ dates.month }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="projects__elem-bottom">
				<div class="center">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-5 col-xs-12"><a ng-click="popups.showPopup('popup--plan', true)" href="#" title="Посмотреть пример проекта" data-size="full" class="projects__elem-example open-popup" translate="PROJECTS__EXAMPLE">Посмотреть пример проекта</a></div>
						<div class="col-lg-6 col-md-6 col-sm-7 col-xs-12"><a ng-click="popups.showPopup('popup--service-plan', false)" href="#" title="Расчет проекта" class="btn btn--rounded btn--yellow btn--bordered projects__elem-btn open-popup" translate="PROJECTS__BTN_CALC">Расчет проекта</a><a ng-click="popups.showPopup('popup--consult', false)" href="#" title="Консультация" data-win="popup--consult" class="btn btn--rounded btn--bordered projects__elem-btn open-popup" translate="PROJECTS__BTN_CONSULT">Консультация</a></div>
					</div>
				</div>
			</div>
		</div>
		<div class="projects__elem">
			<div class="projects__elem-top">
				<div class="center">
					<div class="projects__elem-header">
						<h3 class="projects__elem-heading" translate="PROJECTS__INTER_DP_TITLE" translate-values="{ newVal: parts.services.interery.designProject.title }"></h3>
						<p class="projects__elem-subheading" translate="PROJECTS__INTER_DP_SUBTITLE" translate-values="{ newVal: parts.services.interery.designProject.subtitle }"></p>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<div ng-bind-html="parts.services.interery.designProject.description" class="projects__elem-description projects__editable"></div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div ng-bind-html="parts.services.interery.designProject.cost" class="projects__elem-prices"></div>
							<div class="projects__elem-action">
								<p class="projects__elem-bold" translate="PROJECTS__INTER__DP_ACTION" translate-value-newmonth="{{ dates.month }}" translate-value-newday="{{ dates.day }}">До {{ dates.day }} {{ dates.month }} вам доступна одна из следующих акций:</p>
								<ul class="list list--dotted">
									<li class="list__point">
										<span translate="PROJECTS__INTER__DP_ACTION_1">1 месяц авторского надзора в подарок</span>
										<p class="projects__elem-text"><span translate="PROJECTS__INTER__DP_ACTION_1_1">- 2 выезда архитектора на объект<br>- дистанционное сопровождение проекта)</span></p>
									</li>
									<li class="list__point" translate="PROJECTS__INTER__DP_ACTION_1_2">Подбор декора в подарок</li>
									<li class="list__point" translate="PROJECTS__INTER__DP_ACTION_1_3">Бесплатная он­лайн консультация</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="projects__elem-bottom">
				<div class="center">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-5 col-xs-12"><a ng-click="popups.showPopup('popup--project', true)" href="#" title="Посмотреть пример проекта" data-win="popup--project" data-size="full" class="projects__elem-example open-popup" translate="PROJECTS__EXAMPLE">Посмотреть пример проекта</a></div>
						<div class="col-lg-6 col-md-6 col-sm-7 col-xs-12"><a ng-click="popups.showPopup('popup--service-project', false)" href="#" title="Расчет проекта" class="btn btn--rounded btn--yellow btn--bordered projects__elem-btn open-popup" translate="PROJECTS__BTN_CALC">Расчет проекта</a><a ng-click="popups.showPopup('popup--consult', false)" href="#" title="Консультация" data-win="popup--consult" class="btn btn--rounded btn--bordered projects__elem-btn open-popup" translate="PROJECTS__BTN_CONSULT">Консультация</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container" ng-show="showSupport">
		<div class="projects__elem">
			<div class="projects__elem-top">
				<div class="center">
					<div class="projects__elem-header">
						<h3 class="projects__elem-heading" translate="PROJECTS__REPAIR__CONTROL_TITLE">{{ servicesContent.repairSupport.common_title }}</h3>
						<br/>
						<p class="projects__elem-text">{{ parts.services['soprovozhdenie-remonta'].repairSupport.common_descr }}</p>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<p class="projects__elem-bold" translate="PROJECTS__REPAIR__CONTROL_ALL">{{ servicesContent.repairSupport.all_heading }}</p>
							<div ng-bind-html="parts.services['soprovozhdenie-remonta'].repairSupport.all_html" class="projects__elem-description projects__editable"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="projects__elem">
			<div class="projects__elem-top projects__elem-top--transparent">
				<div class="center">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<p class="projects__elem-bold" translate="PROJECTS__REPAIR__CONTROL_BEFORE">{{ servicesContent.repairSupport.before_heading }}</p>
							<div ng-bind-html="parts.services['soprovozhdenie-remonta'].repairSupport.before_html" class="projects__elem-description projects__editable"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="projects__elem">
			<div class="projects__elem-top">
				<div class="center">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<p class="projects__elem-bold" translate="PROJECTS__REPAIR__CONTROL_AFTER">{{ servicesContent.repairSupport.after_heading }}</p>
							<div class="projects__elem-description projects__editable">
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
										<div ng-bind-html="parts.services['soprovozhdenie-remonta'].repairSupport.after_html.left"></div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
										<div ng-bind-html="parts.services['soprovozhdenie-remonta'].repairSupport.after_html.right"></div>
										<a href="#" class="btn btn--rounded btn--bordered projects__elem-btn open-popup" ng-click="popups.showPopup('popup--calc', false)" translate="PROJECTS__BTN_REQUEST">Оставить заявку</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container" ng-show="showConsult">
		<div class="projects__elem">
			<div class="projects__elem-top">
				<div class="center">
					<div class="projects__elem-header">
						<h3 class="projects__elem-heading" translate="PROJECTS__CONSULT_TITLE"></h3>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div ng-bind-html="parts.services.konsultirovanie.consult.description" class="projects__elem-description projects__editable"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="projects__elem">
			<div class="projects__elem-top projects__elem-top--transparent">
				<div class="center">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="projects__elem-description projects__editable">
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
										<div ng-bind-html="parts.services.konsultirovanie.consult.additional.left"></div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
										<div ng-bind-html="parts.services.konsultirovanie.consult.additional.right"></div>
										<a href="#" class="btn btn--rounded btn--bordered projects__elem-btn open-popup" ng-click="popups.showPopup('popup--consult', false)" translate="PROJECTS__BTN_REQUEST">Оставить заявку</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>