<section id="works" class="works">
	<div class="works__navigation clearfix">
		<div class="works__navigation-side clearfix">
			<ul class="works__navigation-list clearfix">
				<li class="works__navigation-item"><a ui-sref="index({type: 'Все проекты'})" href="#" title="Все проекты" ui-sref-active="works__navigation-link--active" class="works__navigation-link" translate="WORKS__PROJECTS_ALL"></a></li>
				<li class="works__navigation-item"><a ui-sref="index({type: 'Квартиры'})" href="#" title="Квартиры" ui-sref-active="works__navigation-link--active" class="works__navigation-link" translate="WORKS__PROJECTS_FLATS"></a></li>
				<li class="works__navigation-item"><a ui-sref="index({type: 'Коттеджи'})" href="#" title="Коттеджи" ui-sref-active="works__navigation-link--active" class="works__navigation-link" translate="WORKS__PROJECTS_HOUSES"></a></li>
				<li class="works__navigation-item"><a ui-sref="index({type: 'Общественные интерьеры'})" href="#" title="Общественные интерьеры" ui-sref-active="works__navigation-link--active" class="works__navigation-link" translate="WORKS__PROJECTS_PUBLIC"></a></li>
			</ul>
		</div>
		<div class="works__navigation-side clearfix works__navigation-side--grey">
			<ul class="works__navigation-list clearfix">
				<li class="works__navigation-item"><a ui-sref="index({style: 'Все стили'})" href="#" title="Все стили" ui-sref-active="works__navigation-link--active" class="works__navigation-link" translate="WORKS__STYLES_ALL"></a></li>
				<li class="works__navigation-item"><a ui-sref="index({style: 'Классические'})" href="#" title="Классические" ui-sref-active="works__navigation-link--active" class="works__navigation-link" translate="WORKS__STYLES_CLASSIC"></a></li>
				<li class="works__navigation-item"><a ui-sref="index({style: 'Современные'})" href="#" title="Современные" ui-sref-active="works__navigation-link--active" class="works__navigation-link" translate="WORKS__STYLES_MODERN"></a></li>
				<li class="works__navigation-item"><a ui-sref="index({style: 'Другие'})" href="#" title="Другие" ui-sref-active="works__navigation-link--active" class="works__navigation-link" translate="WORKS__STYLES_OTHER"></a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="works__container clearfix">
			<a ng-repeat="work in parts.home track by $index" ui-sref="project({ projectName: '{{ work.url }}' })" title="Перейти к полному описанию" class="works__elem bigEntrance">
				<img src="{{ work.preview }}" alt="{{ work.title }}" class="works__elem-img">
				<div class="works__elem-description">
					<h3 class="works__elem-heading">{{ currLang == 'ru' ? work.title : work.en.title }}</h3>
					<p class="works__elem-subinfo">
						<span translate="WORKS__ELEM_AREA"></span> {{ work.area }} м<sup>2</sup>
						<br>
						<span translate="WORKS__ELEM_RELEASE"></span> {{ work.releaseDate | date : 'yyyy' }}
					</p>
				</div>
			</a>
		</div>
	</div>
</section>