section#special.special
    .container
        .center
            .row
                .special__element-container
                    .special__element.col-lg-6.col-md-6.col-sm-12.col-xs-12
                        h3.special__heading Сопровождение ремонта
                        .special__description
                            p.special__text Позволяет избежать ошибок ремонтных бригад и получить именно тот дизайн, который был проработан архитектором
                            ul.list.list--dashed.special__list
                                li.list__point Помощь в подборе недвижимости
                                li.list__point Подбор строителей и подрядчиков среди провереных организаций
                                li.list__point Согласование перепланировок, взаимодействие с управляющей компанией,
                                li.list__point Организация и контроль разработки инженерных проектов
                                li.list__point Контроль качества проводимых ремонтных работ и приемка объекта у застройщика (выезды строительного эксперта)
                                li.list__point Услуга авторский надзор (выезды архитектора)
                                li.list__point Управление закупками и поставками с еженедельной отчетностью
                                li.list__point Декорирование интерьера " под ключ"
                        a(href='#', title='Оставить заявку', data-win='popup--cooperate').special__btn.btn.btn--bordered.btn--rounded.open-popup Оставить заявку
                    .special__element.col-lg-6.col-md-6.col-sm-12.col-xs-12
                        h3.special__heading Авторский надзор
                        .special__description
                            p.special__text Контроль соответствия проводимых ремонтных работ утверждённому проекту:
                            ul.list.list--dashed.special__list
                                li.list__point Плановые выезды на объект
                                li.list__point Решение вопросов, связанных с проектной документацией, возникающих у Заказчика или подрядчика.
                                li.list__point Выезды в магазины для подбора мебели и материалов и в фирмы, занимающиеся установкой специального оборудования.
                                li.list__point Бесплатно устраиваем тендер среди бригад
                        a(href='#', title='Оставить заявку', data-win='popup--cooperate').special__btn.btn.btn--bordered.btn--rounded.open-popup Оставить заявку