section#service.service
    .container
        h1.service__heading Услуги
        p.service__subheading Для того, чтобы обеспечить поддержку 24/7 для клиентов, а также строить и развивать отношения со своими партнерами. Для этого, компания имеет более 170 офисов в 70 странах по всему миру, в том числе в Москве.
        ul.service__nav
            li.service__nav-item
                a(href='#', title='Интерьеры').service__nav-link.service__nav-link--active Интерьеры
            li.service__nav-item
                a(href='#', title='Экстерьеры').service__nav-link Экстерьеры
            li.service__nav-item
                a(href='#', title='Ландшафты').service__nav-link Ландшафты
            li.service__nav-item
                a(href='#', title='Предметный дизайн').service__nav-link Предметный дизайн
            li.service__nav-item
                a(href='#', title='Консультирование').service__nav-link Консультирование
