section#partners.partners
    .container
        .center
            .partners__description
                h2.partners__heading Наши партнеры
                p.partners__text Скидки от20%, доступ к закрытым акциям
                p.partners__text Главным элементом хоны отдыха стало деревянное кольцо-подиум, напоминающий очаг древнего племени, вокруг которого можно собраться и устроить обсуждение.
            .partners__logos.clearfix
                - for (var i = 0; i < 8; i++) {
                    .partners__logo
                        img(src='../img/partners/partners__' + i + '.png', alt='Логотип').partners__logo-img
                - }