section#promo.promo
    .container
        .promo__container
            h1.promo__heading Создаем&nbsp;
                br
                | стильные интерьеры
            p.promo__subheading За 6 лет работы успешно реализовано&nbsp;
                br
                | более 100 проектов
            a(href='#', title='Расчет проекта').promo__btn.btn.btn--yellow.btn--rounded Расчет проекта