block commonVars
doctype html
html
    head
        meta(charset='UTF-8')
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name='description', content='Description')
        meta(name='keywords', content='keywords')
        link(href='../img/elem/favicon.ico', rel='shortcut icon')
        block title
            title Archwood :: Front-End
        block styles
            link(href='../css/main.min.css', rel='stylesheet')
    body
        include ../header/header.jade
        block content
        include ../footer/footer.jade
        include ../popup/popup.jade
        block scripts
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
            //script(src='http://maps.google.com/maps/api/js')
            script(src='../js/vendor.js')
            script(src='../js/custom.js')