<section id="actions" class="actions clearfix">
    <a ng-click="popups.showPopup('popup--calc-small', false);" href="#" title="Расчет проекта" class="actions__btn open-popup" translate="ACTIONS__CALC"></a>
    <a ng-click="popups.showPopup('popup--consult', false);" href="#" title="Консультация" class="actions__btn actions__btn--dark open-popup" translate="ACTIONS__CONSULT"></a>
</section>