section#projects.projects
    .container
        .projects__elem
            .projects__elem-top
                .center
                    .projects__elem-header
                        h3.projects__elem-heading Планировочный проект
                    .row
                        .col-lg-6.col-md-6.col-sm-12
                            .projects__elem-description
                                p.projects__elem-text Работая совместно с Локальной командой, мы спроектировали зону кафе и отдыха в очень уютном духе, используя некоторые приемы из домашнего интерьера.
                                ul.list.list--dashed.projects__elem-list
                                    li.list__point.projects__elem-point Планировочное решение
                                    li.list__point.projects__elem-point План расстановки мебели
                                    li.list__point.projects__elem-point Схема возводимых и демонтируемых конструкций
                                    li.list__point.projects__elem-point План после перепланировки (подходит для БТИ)
                                    li.list__point.projects__elem-point План расстановки розеток и теплых полов
                                    li.list__point.projects__elem-point Помощь в подборе подрядчиков бесплатно
                        .col-lg-6.col-md-6.col-sm-12
                            .projects__elem-prices
                                p.projects__elem-bold стоимость
                                p.projects__elem-text.projects__elem-text--dark.projects__elem-text--big.projects__elem-text--no-margin 350 руб / м
                                    sup 2
                                p.projects__elem-text.projects__elem-text--dark (общая стоимость не менее 40 тыс.р.)
                                p.projects__elem-text Если в дальнейшем Вы решите заказать полный дизайн­проект, то стоимость планировочного проекта будет включена в стоимость полного проекта
                            .projects__elem-action
                                p.projects__elem-bold.projects__elem-bold--no-margin план привязки розеток в подарок! Только до 17 апреля
            .projects__elem-bottom
                .center
                    .row
                        .col-lg-6.col-md-6.col-sm-5.col-xs-12
                            a(href='#', title='Посмотреть пример проекта', data-win='popup--plan', data-size='full').projects__elem-example.open-popup Посмотреть пример проекта
                        .col-lg-6.col-md-6.col-sm-7.col-xs-12
                            a(href='#', title='Расчет проекта', data-win='popup--calc').btn.btn--rounded.btn--yellow.btn--bordered.projects__elem-btn.open-popup Расчет проекта
                            a(href='#', title='Консультация', data-win='popup--consult').btn.btn--rounded.btn--bordered.projects__elem-btn.open-popup Консультация
        .projects__elem
            .projects__elem-top
                .center
                    .projects__elem-header
                        h3.projects__elem-heading Полный дизайн­-проект
                        p.projects__elem-subheading включает "Планировочный проект"
                    .row
                        .col-lg-6.col-md-6
                            .projects__elem-description
                                p.projects__elem-text.projects__elem-text--subheading Разработка планировочного решения
                                ul.list.list--dashed.projects__elem-list
                                    li.list__point.projects__elem-point 2­3 варианта планировок
                                p.projects__elem-text.projects__elem-text--subheading Прорисовка помещений в эскизах
                                ul.list.list--dashed.projects__elem-list
                                    li.list__point.projects__elem-point Идея и образ проекта, основные стилевые решения
                                p.projects__elem-text.projects__elem-text--subheading Фотореалистичная 3D визуализация
                                ul.list.list--dashed.projects__elem-list
                                    li.list__point.projects__elem-point Возможность увидеть будущее помещение при реальном освещении и материалах
                                p.projects__elem-text.projects__elem-text--subheading Разработка рабочих чертежей
                                ul.list.list--dashed.projects__elem-list
                                    li.list__point.projects__elem-point обмерочный план,
                                    li.list__point.projects__elem-point план перепланировки,
                                    li.list__point.projects__elem-point план расстановки мебели,
                                    li.list__point.projects__elem-point план после перепланировки,
                                    li.list__point.projects__elem-point схема возводимых и демонтируемых конструкций,
                                    li.list__point.projects__elem-point план полов,
                                    li.list__point.projects__elem-point план потолков,
                                    li.list__point.projects__elem-point план привязки осветительных приборов и выключателей,
                                    li.list__point.projects__elem-point план привязки розеток и электорооборудования,
                                    li.list__point.projects__elem-point план привязки сантехники,
                                    li.list__point.projects__elem-point развертки стен,
                                    li.list__point.projects__elem-point раскладки плитки в санузлах,
                                    li.list__point.projects__elem-point детали и элементы,
                                    li.list__point.projects__elem-point схемы монтажа сантехники
                                p.projects__elem-text.projects__elem-text--subheading Разработка сметы
                                ul.list.list--dashed.projects__elem-list
                                    li.list__point.projects__elem-point Прописаны все наименования, бренды, артикулы, стоимость и количество всех материалов, которые используются в проекте
                        .col-lg-6.col-md-6
                            .projects__elem-prices
                                p.projects__elem-bold стоимость
                                .projects__elem-vars
                                    .row
                                        .projects__elem-item.projects__elem-item--left.col-lg-4.col-md-4.col-sm-4.col-xs-6
                                            p.projects__elem-size до 62 м
                                                sup 2
                                        .projects__elem-item.projects__elem-item--right.col-lg-8.col-md-8.col-sm-8.col-xs-6
                                            p.projects__elem-range 1800 - 2000 руб / м
                                                sup 2
                                    .row
                                        .projects__elem-item.projects__elem-item--left.col-lg-4.col-md-4.col-sm-4.col-xs-6
                                            p.projects__elem-size от 62 до 150 м
                                                sup 2
                                        .projects__elem-item.projects__elem-item--right.col-lg-8.col-md-8.col-sm-8.col-xs-6
                                            p.projects__elem-range 1500 - 1800 руб / м
                                                sup 2
                                    .row
                                        .projects__elem-item.projects__elem-item--left.col-lg-4.col-md-4.col-sm-4.col-xs-6
                                            p.projects__elem-size от 150 до 400 м
                                                sup 2
                                        .projects__elem-item.projects__elem-item--right.col-lg-8.col-md-8.col-sm-8.col-xs-6
                                            p.projects__elem-range 1300 - 1500 руб / м
                                                sup 2
                                    .row
                                        .projects__elem-item.projects__elem-item--left.col-lg-4.col-md-4.col-sm-4.col-xs-6
                                            p.projects__elem-size от 400 м
                                                sup 2
                                        .projects__elem-item.projects__elem-item--right.col-lg-8.col-md-8.col-sm-8.col-xs-6
                                            p.projects__elem-range 1000 - 1300 руб / м
                                                sup 2
                                p.projects__elem-text Стоимость проектов общественных интерьеров и помещений в стилях, требующих особой детализации (ампир, классицизм, модерн и др.), рассчитывается индивидуально.
                                p.projects__elem-text Бесплатно устраиваем тендер среди бригад
                            .projects__elem-action
                                p.projects__elem-bold До 17 апреля вам доступна одна из следующих акций:
                                ul.list.list--dotted
                                    li.list__point 1 месяц авторского надзора в подарок
                                        p.projects__elem-text - 2 выезда архитектора на объект
                                            br
                                            | - дистанционное сопровождение проекта)
                                    li.list__point Подбор декора в подарок
                                    li.list__point Бесплатная он­лайн консультация
            .projects__elem-bottom
                .center
                    .row
                        .col-lg-6.col-md-6.col-sm-5.col-xs-12
                            a(href='#', title='Посмотреть пример проекта', data-win='popup--project', data-size='full').projects__elem-example.open-popup Посмотреть пример проекта
                        .col-lg-6.col-md-6.col-sm-7.col-xs-12
                            a(href='#', title='Расчет проекта', data-win='popup--calc').btn.btn--rounded.btn--yellow.btn--bordered.projects__elem-btn.open-popup Расчет проекта
                            a(href='#', title='Консультация', data-win='popup--consult').btn.btn--rounded.btn--bordered.projects__elem-btn.open-popup Консультация
