footer#footer.footer
    .container
        .footer__top.clearfix
            .footer__logo-container.clearfix
                a(href='#', title='На главную').footer__logo
                    | ArchWood
            .footer__menu-container
                .footer__menu
                    .footer__menu-row.clearfix
                        .footer__menu-column
                            h3.footer__menu-heading Портфолио
                            ul.footer__menu-list
                                li.footer__menu-item
                                    a(href='#', title='Интерьеры').footer__menu-link Интерьеры
                                li.footer__menu-item
                                    a(href='#', title='Архитектура').footer__menu-link Архитектура
                                li.footer__menu-item
                                    a(href='#', title='Ландшафт').footer__menu-link Ландшафт
                        .footer__menu-column
                            h3.footer__menu-heading Услуги
                            ul.footer__menu-list
                                li.footer__menu-item
                                    a(href='#', title='Интерьеры').footer__menu-link Интерьеры
                                li.footer__menu-item
                                    a(href='#', title='Экстерьеры').footer__menu-link Экстерьеры
                                li.footer__menu-item
                                    a(href='#', title='Ландшафт').footer__menu-link Ландшафт
                                li.footer__menu-item
                                    a(href='#', title='Предметный дизайн').footer__menu-link Предметный дизайн
                                li.footer__menu-item
                                    a(href='#', title='Консультирование').footer__menu-link Консультирование
                        .footer__menu-column
                            h3.footer__menu-heading О студии
                            ul.footer__menu-list
                                li.footer__menu-item
                                    a(href='#', title='Публикации').footer__menu-link Публикации
                                li.footer__menu-item
                                    a(href='#', title='Наши партнеры').footer__menu-link Наши партнеры
                                li.footer__menu-item
                                    a(href='#', title='Вакансии').footer__menu-link Вакансии
            .footer__social-container
                .footer__social
                    a(href='#', title='Archwood в Facebook').footer__social-link.footer__social-link--fb
                        img(src='../img/elem/footer__social--fb.png').footer__social-icon
                    a(href='#', title='Archwood в Vkontakte').footer__social-link.footer__social-link--twitter
                        img(src='../img/elem/footer__social--vk.png').footer__social-icon
                    a(href='#', title='Archwood на YouTube').footer__social-link.footer__social-link--youtube
                        img(src='../img/elem/footer__social--yt.png').footer__social-icon
                    a(href='#', title='Archwood в Instagram').footer__social-link.footer__social-link--youtube
                        img(src='../img/elem/footer__social--inst.png').footer__social-icon
        .footer__bottom.clearfix
            .footer__contacts-container
                p.footer__bottom-text.footer__bottom-text--contacts Телефон: +7 (495) 545-74-30
                    br
                    | E-mail:&nbsp;
                    a(href='mailto:d-archwood@yandex.ru').footer__bottom-link d-archwood@yandex.ru
                    br
                    | 109431, г. Москва, ул.Привольная, 57/2/62
            .footer__copyrights-container
                p.footer__bottom-text.footer__bottom-text--copyright
                    | &copy; ООО Архвуд 2006—2016
            .footer__author-container
                p.footer__bottom-text.footer__bottom-text--author
                    | Дизайн и разработка сайта
                    br
                    a(href='#', title='Перейти на сайт веб-студии').footer__bottom-link.footer__bottom-text--big M8 DIGITAL