section#works.works
    .container
        .works__navigation.clearfix
            .works__navigation-side.clearfix
                ul.works__navigation-list.clearfix
                    li.works__navigation-item
                        a(href='#', title='Все проекты').works__navigation-link Все проекты
                    li.works__navigation-item
                        a(href='#', title='Интерьеры').works__navigation-link.works__navigation-link--active Интерьеры
                    li.works__navigation-item
                        a(href='#', title='Архитектура').works__navigation-link Архитектура
                    li.works__navigation-item
                        a(href='#', title='Ландшафт').works__navigation-link Ландшафт
            .works__navigation-side.clearfix.works__navigation-side--grey
                ul.works__navigation-list.clearfix
                    li.works__navigation-item
                        a(href='#', title='Все стили').works__navigation-link.works__navigation-link--active Все стили
                    li.works__navigation-item
                        a(href='#', title='Классические').works__navigation-link Классические
                    li.works__navigation-item
                        a(href='#', title='Современные').works__navigation-link Современные
                    li.works__navigation-item
                        a(href='#', title='Другие').works__navigation-link Другие
        .works__container.clearfix
            a(href='#', title='Перейти к полному описанию').works__elem
                img(src='../img/works/works__1.jpg', alt='Фотография выполненной работы').works__elem-img
                .works__elem-description
                    h3.works__elem-heading Проект однакомнатной квартиры серии П-3М
                    p.works__elem-subinfo Площадь: 37 м2&nbsp;
                        br
                        | Год создания: 2009
            a(href='#', title='Перейти к полному описанию').works__elem
                img(src='../img/works/works__2.jpg', alt='Фотография выполненной работы').works__elem-img
                .works__elem-description
                    h3.works__elem-heading Проект однакомнатной квартиры серии П-3М
                    p.works__elem-subinfo Площадь: 37 м2&nbsp;
                        br
                        | Год создания: 2009
            a(href='#', title='Перейти к полному описанию').works__elem
                img(src='../img/works/works__3.jpg', alt='Фотография выполненной работы').works__elem-img
                .works__elem-description
                    h3.works__elem-heading Проект однакомнатной квартиры серии П-3М
                    p.works__elem-subinfo Площадь: 37 м2&nbsp;
                        br
                        | Год создания: 2009
            a(href='#', title='Перейти к полному описанию').works__elem
                img(src='../img/works/works__4.jpg', alt='Фотография выполненной работы').works__elem-img
                .works__elem-description
                    h3.works__elem-heading Проект однакомнатной квартиры серии П-3М
                    p.works__elem-subinfo Площадь: 37 м2&nbsp;
                        br
                        | Год создания: 2009
            a(href='#', title='Перейти к полному описанию').works__elem
                img(src='../img/works/works__5.jpg', alt='Фотография выполненной работы').works__elem-img
                .works__elem-description
                    h3.works__elem-heading Проект однакомнатной квартиры серии П-3М
                    p.works__elem-subinfo Площадь: 37 м2&nbsp;
                        br
                        | Год создания: 2009
            a(href='#', title='Перейти к полному описанию').works__elem
                img(src='../img/works/works__6.jpg', alt='Фотография выполненной работы').works__elem-img
                .works__elem-description
                    h3.works__elem-heading Проект однакомнатной квартиры серии П-3М
                    p.works__elem-subinfo Площадь: 37 м2&nbsp;
                        br
                        | Год создания: 2009
            a(href='#', title='Перейти к полному описанию').works__elem
                img(src='../img/works/works__7.jpg', alt='Фотография выполненной работы').works__elem-img
                .works__elem-description
                    h3.works__elem-heading Проект однакомнатной квартиры серии П-3М
                    p.works__elem-subinfo Площадь: 37 м2&nbsp;
                        br
                        | Год создания: 2009
            a(href='#', title='Перейти к полному описанию').works__elem
                img(src='../img/works/works__8.jpg', alt='Фотография выполненной работы').works__elem-img
                .works__elem-description
                    h3.works__elem-heading Проект однакомнатной квартиры серии П-3М
                    p.works__elem-subinfo Площадь: 37 м2&nbsp;
                        br
                        | Год создания: 2009
            a(href='#', title='Перейти к полному описанию').works__elem
                img(src='../img/works/works__9.jpg', alt='Фотография выполненной работы').works__elem-img
                .works__elem-description
                    h3.works__elem-heading Проект однакомнатной квартиры серии П-3М
                    p.works__elem-subinfo Площадь: 37 м2&nbsp;
                        br
                        | Год создания: 2009