section#plans.plans
    .container
        .center
            .plans__info
                h2.plans__info-heading Планировочные решения
                p.plans__info-text Работая совместно с Локальной командой, мы спроектировали зону кафе и отдыха в очень уютном духе, используя некоторые приемы из домашнего интерьера. Главным элементом хоны отдыха стало деревянное кольцо-подиум, напоминающий очаг древнего племени, вокруг которого можно собраться и устроить обсуждение.
            .plans__prints.clearfix
                .plans__prints-elem
                    img(src='../img/plans/plans__1.jpg', alt='План проекта').plans__prints-img
                .plans__prints-elem
                    img(src='../img/plans/plans__2.jpg', alt='План проекта').plans__prints-img