section#actions.actions.clearfix
    a(href='#', title='Расчет проекта', data-win='popup--calc').actions__btn.open-popup Расчет проекта
    a(href='#', title='Консультация', data-win='popup--consult').actions__btn.actions__btn--dark.open-popup Консультация