/* --- About --- */
.about {
  margin-top: 50px;
  padding: 70px 0 0;

  @media #{$br-md} {
    padding: 30px 0 0;
  }

  &__heading {
    margin: 0 0 35px;
    font-size: 48px;
    font-weight: $bold;

    @media #{$br-sm} {
      font-size: 40px;
      margin: 0 0 30px;
    }
  }

  &__promo {
    position: relative;
    margin-bottom: -115px;

    @media #{$br-md} {
      margin-bottom: 0;
    }

    @media #{$br-xs} {
      &:before {
        content: '';
        display: block;
        height: 290px;
        width: 100%;
        background-image: url('../img/elem/about__promo-img.jpg');
        background-position: center bottom;
        background-size: cover;
      }
    }

    &-img {
      display: block;
      line-height: 1;

      @media #{$br-md} {
        width: 100%;
      }

      @media #{$br-xs} {
        display: none;
      }
    }
    
    &-text {
      position: absolute;
      right: 0;
      bottom: -47px;
      max-width: 720px;
      padding: 45px;
      background-color: $dark;
      color: $muted;
      font-size: 14px;
      font-weight: $reg;
      line-height: 1.3;

      @media #{$br-md} {
        bottom: 0;
        padding: 30px 20px;
        transform: translateY(100%);
      }

      @media #{$br-sm} {
        position: relative;
        transform: translateY(0);
      }
    }
  }
}