/* --- Actions --- */
.actions {
  &__btn {
    display: block;
    width: 50%;
    padding: 45px 0;
    background-color: $light;
    color: $dark;
    line-height: 1;
    font-size: 14px;
    font-weight: $bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    @include transition(background-color, 0.2s, ease);
    float: left;

    &:hover,
    &:focus {
      color: $dark;
      background-color: $yellow--hover;
      text-decoration: inherit;
    }

    &--dark {
      background-color: #ebebeb;
    }

    @media #{$br-sm} {
      width: 100%;
      float: none;
    }

    @media #{$br-xs} {
      padding: 30px;
    }
  }
}