/* --- Project additional --- */
.additional {
  padding: 25px 0 60px;

  @media #{$br-xs} {
    padding: 5px 0 10px;
  }

  &__container {
    width: 960px;
    margin: 0 auto;
  }

  &__side {
    counter-reset: list;

    &:nth-child(even) {
      padding-left: 45px;
      border-left: 2px #f5f5f5 solid;

      @media #{$br-sm} {
        padding: 25px 12px 0;
      }
    }
  }

  &__heading {
    margin: 0 0 20px;
    font-size: 14px;
    font-weight: $bold;
    text-transform: uppercase;
  }

  &__text,
  &__partners p {
    margin: 0 0 20px;
    font-size: 14px;
    font-weight: $reg;
    line-height: 1.2;

    strong {
      font-weight: $bold;
    }
  }

  &__list {
    &-item {
      font-size: 14px;
      line-height: 1.7;

      &:before {
        content: counter(list) '. ';
        counter-increment: list;
        font-size: 14px;
        font-weight: $reg;
        color: $muted;
      }
    }

    &-link {
      color: $dark;
      font-weight: $reg;
      text-decoration: underline;

      &:hover,
      &:focus {
        color: $yellow--hover;
        font-weight: $bold;
        text-decoration: none;
      }
    }
  }
}