/* --- Buttons --- */
.btn {
  max-height: 50px;
  line-height: 1;
  padding: 15px 45px;
  -moz-appearance: none;
  -webkit-appearance: none;
  @include box-sizing(border-box);

  &--yellow {
    background-color: $yellow;
    text-decoration: none;
    color: $dark;
    @include transition(background-color, 0.2s, ease);

    &:hover,
    &:focus {
      background-color: $yellow--hover;
      text-decoration: inherit;
      color: $dark;
    }
  }

  &--rounded {
    border-radius: 30px;
  }

  &--bordered {
    padding: 13px 44px;
    border: 2px $yellow solid;
    color: $dark;
    @include transition(background-color, 0.2s, ease);

    &:hover,
    &:focus {
      color: inherit;
      text-decoration: none;
      background-color: $yellow--hover;
      border-color: $yellow--hover
    }
  }
}