/* --- Contacts --- */
.contacts {
  margin-top: 50px;

  &__heading {
    margin: 70px 0;
    font-size: 48px;
    font-weight: $bold;

    @media #{$br-sm} {
      margin-bottom: 45px;
      font-size: 40px;
    }
  }

  &__container {
    margin: 0 auto 70px;

    @media #{$br-xs} {
      margin: 0 auto 40px;
    }
  }

  &__side {
    height: 100%;

    &:nth-child(even) {
      padding-left: 45px;
      border-left: 2px #f6f6f6 solid;
    }

    @media #{$br-sm} {
      &:nth-child(even) {
        padding-top: 30px;
        padding-left: 12px;
        margin-top: 30px;
        border-left: none;
        border-top: 2px #f6f6f6 solid;
      }
    }

    &-heading {
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: $bold;
      text-transform: uppercase;
    }

    &-label {
      margin-bottom: 0;
      font-size: 14px;
      font-weight: $reg;
      color: $muted;
    }
    
    &-info {
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: $reg;
      color: $dark;
    }

    &-btn {
      display: inline-block;
      padding: 17px 45px;
      font-size: 13px;
      font-weight: $bold;
      color: $dark;
      text-transform: uppercase;
    }
  }

  &__action {
    padding: 45px;
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-position: 50% 65%;
    background-image: url('../img/elem/contacts__action-bg.jpg');

    @media #{$br-sm} {
      padding: 30px;
      background-size: cover;
    }

    @media #{$br-xs} {
      padding: 30px 20px;
      background-size: 170%;
      background-position: 70% 50%;
    }

    &-text {
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 1.2;
      font-weight: $bold;

      @media #{$br-sm} {
        br {
          display: none;
        }
      }

      @media #{$br-xs} {
        margin-bottom: 15px;
      }
    }
    
    &-btn {
      display: inline-block;
      padding: 15px 45px;
      color: inherit;
      font-size: 13px;
      font-weight: $bold;
      text-transform: uppercase;
    }
  }
}