/* --- Project description --- */
.description {
  margin-top: 50px;
  padding: 40px 0 50px;

  @media #{$br-xs} {
    padding: 30px 0;
  }

  &__close {
    display: block;
    height: 20px;
    width: 20px;
    position: fixed;
    top: 87px;
    right: 45px;
    margin-left: auto;
    margin-bottom: 15px;
    z-index: 10;
    cursor: pointer;

    &:before,
    &:after {
      content: '';
      display: block;
      height: 2px;
      width: 26px;
      position: absolute;
      top: 9px;
      left: -2px;
      background-color: $muted;
      @include transition(background-color, 0.2s, ease);
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

    &:hover,
    &:focus {
      &:before,
      &:after {
        background-color: $dark;
      }
    }

    @media #{$br-md} {
      right: 15px;
      //top: 15px;
      top: 80px;
      z-index: 101;
    }
  }

  &__content {
    &--opened {
      .description__text {
        display: block;
        opacity: 1;
      }
    }
    
    @media #{$br-xs} {
      padding-top: 12px;
    }
  }

  &__tech {
    &-element {
      margin-bottom: 20px;
      line-height: 1.2;

      @media #{$br-sm} {
        width: 50%;
        float: left;
      }

      @media #{$br-xs} {
        margin-bottom: 15px;
      }
    }

    &-label {
      font-size: 14px;
      font-weight: $reg;
      color: $muted;
    }
    
    &-content {
      font-size: 14px;
      font-weight: $bold;
      line-height: 1.3;
      color: $dark;
      text-transform: uppercase;
    }
  }

  &__heading {
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: $bold;
    line-height: 1.2;

    @media #{$br-sm} {
      display: none;
    }
    
    &--mobile {
      display: none;

      @media #{$br-sm} {
        display: block;
      }
    }
  }
  
  &__text,
  &__content p {
    font-size: 14px;
    font-weight: $reg;
    line-height: 1.2;
    color: $muted;
    margin-bottom: 20px;
  }

  &__cut {
    @media #{$br-sm} {
      display: none;
    }
  }
  
  &__more {
    display: none;
    font-size: 14px;
    font-weight: $bold;
    color: $muted;
    text-transform: uppercase;
    
    &:after {
      content: '';
      display: inline-block;
      height: 10px;
      width: 12px;
      margin-left: 5px;
      background-image: url('../img/elem/description__more.png');
      background-repeat: no-repeat;
      background-position: center;
      transition: transform 0.2s ease;
    }

    &:hover,
    &:focus {
      color: $muted;
      text-decoration: none;
    }

    &--to-hide {
      &:after {
        transform: rotate(180deg);
      }
    }

    @media #{$br-sm} {
      display: block;
    }
  }
}