/* --- Footer --- */
.footer {
  padding: 70px 0;
  background-color: #000;
  color: rgba($muted, 0.7);

  @media #{$br-sm} {
    padding: 45px 0;
  }

  & .container {
    width: 100%;
    padding: 0 45px;

    @media #{$br-md} {
      padding: 0 12px;
    }
  }

  &__top {
    padding-bottom: 45px;
  }

  &__logo {
    font-size: 18px;
    font-weight: $lig;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5.5px;
    text-shadow: 0 0 0 currentColor;
    color: #666666;
    float: left;
    @include transition(color, 0.2s, ease);

    &:hover,
    &:focus {
      color: $yellow--hover;
      text-decoration: inherit;
    }
    
    &-container {
      width: 17%;
      float: left;

      @media #{$br-md} {
        width: 100%;
        margin-bottom: 40px;
        float: none;
      }
    }
  }

  &__social {
    float: right;

    @media #{$br-xs} {
      float: none;
    }
    
    &-container {
      width: 17%;
      float: right;

      @media #{$br-md} {
        width: 20%;
      }

      @media #{$br-sm} {
        width: calc(100% - 320px);
      }

      @media #{$br-xs} {
        width: 100%;
      }
    }

    &-link {
      display: inline-block;
      min-width: 20px;
      text-align: center;
      vertical-align: bottom;
      margin-left: 15px;
      opacity: 0.35;
      @include transition(opacity, 0.2s, ease);

      &:hover,
      &:focus {
        opacity: 1;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__menu {
    text-align: center;

    @media #{$br-md} {
      text-align: left;
    }
    
    &-container {
      width: 66%;
      float: left;

      @media #{$br-md} {
        width: 80%;
      }

      @media #{$br-sm} {
        width: 320px;
      }

      @media #{$br-xs} {
        width: 296px;
        margin-bottom: 45px;
      }
    }
    
    &-row {
      display: inline-block;
    }
    
    &-column {
      text-align: left;
      margin-right: 90px;
      float: left;

      &:last-child {
        margin-right: 0;
      }

      @media #{$br-sm} {
        &:nth-child(2) {
          margin-right: 0;
        }
      }

      @media #{$br-xs} {
        margin-right: 45px;
        margin-bottom: 25px;
      }
    }

    &-heading {
      font-size: 14px;
      font-weight: $bold;
      color: #666;
      text-transform: uppercase;
      margin: 0 0 10px;
    }

    &-title {
      text-decoration: none;
      color: #666;
      cursor: pointer;

      &:hover,
      &:focus {
        text-decoration: none;
        color: #666;
      }
    }

    &-list {
      @media #{$br-sm} and (orientation : landscape) {
        margin-bottom: 20px;
        margin-right: 20px;
      }
    }

    &-item {
      display: block;
      margin-bottom: 7px;

      &:last-child {
        margin-bottom: 0;
      }

      @media #{$br-xs} {
        width: 90%;
      }
    }

    &-link {
      font-size: 14px;
      color: #727272;
      font-weight: $reg;

      &:hover,
      &:focus {
        text-decoration: none;
        color: $yellow--hover;
      }
    }
  }

  &__bottom {
    padding-top: 45px;
    border-top: 1px #5c5c5c solid;
    font-weight: $reg;

    &-link {
      color: inherit;
      text-decoration: underline;
      @include transition(color, 0.2s, ease);

      &:hover,
      &:focus {
        color: $yellow--hover;
        text-decoration: underline;
      }
    }

    &-text {
      font-size: 12px;
      line-height: 1.7;

      @media #{$br-xs} {
        padding-top: 0;
        margin-bottom: 20px;
      }

      &--big {
        font-weight: $bold;
        font-size: 14px;
        line-height: 1;
        text-decoration: none;
      }

      &--contacts {
        text-align: left;
      }

      &--copyright {
        padding-top: 60px;
        text-align: center;

        @media #{$br-sm} {
          text-align: left;
        }

        @media #{$br-xs} {
          padding-top: 0;
        }
      }

      &--author {
        padding-top: 40px;
        text-align: right;

        @media #{$br-sm} {
          text-align: left;
        }

        @media #{$br-xs} {
          padding-top: 0;
          margin-bottom: 0;
        }
      }
    }
  }
  
  &__contacts {
    &-container {
      width: 25%;
      float: left;

      @media #{$br-sm} {
        width: 100%;
        float: none;
      }
    }
  }

  &__copyrights {
    &-container {
      width: 50%;
      float: left;

      @media #{$br-sm} {
        width: 100%;
        float: none;
      }
    }
  }

  &__author {
    &-container {
      width: 25%;
      float: left;

      @media #{$br-sm} {
        width: 100%;
        float: none;
      }
    }
  }
}