/* --- Project gallery --- */
.gallery {
  padding: 45px 0 90px;
  background-color: $dark;

  @media #{$br-sm} {
    padding: 18px 0 65px;
  }

  &__counter {
    font-size: 16px;
    font-weight: $reg;
    color: $muted;
    text-align: center;
  }

  .rsGCaption {
    @media #{$br-sm} {
      position: static;
    }
  }
}