/* --- Header --- */
.header {
  //box-shadow: 0 1px 3px 1px rgba(black, 0.05);
  //border-bottom: 1px $light solid;
  width: 100%;
  position: fixed;
  height: 65px;
  background-color: white;
  border-bottom: 1px solid #F5F5F5;
  top: 0;
  left: 0;
  z-index: 100;
  transition: left 0.2s ease,
              background-color 0.2s ease,
              padding-bottom 0.2s ease,
              position 0.2s ease,
              transform 0.36s ease;

  &--moved.header--white {
    left: 282px;
  }

  &--hidden {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  &__container {
    padding: 0 45px;
    color: $dark;
    width: 100%;

    @media #{$br-sm} {
      padding: 0 15px;
    }
  }

  &__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__menu {
    position: relative;
    margin-top: 28px;
    color: $dark;
    line-height: 1;
    font-size: 14px;
    font-weight: $bold;
    text-transform: uppercase;
    text-decoration: none;
    justify-self: flex-start;
    transition: color 0.2s ease, left 0.2s ease, margin-top 0.2s ease;
    display: none;
    
    &:hover {
      text-decoration: none;
      color: $dark;

      .header__menu-line {
        background-color: $yellow--hover;
      }
    }

    &:focus {
      text-decoration: none;
    }

    &-icon {
      display: inline-block;
      width: 15px;
      margin-right: 15px;
      vertical-align: -1px;

      &--opened {
        span:first-child {
          transform: rotate(45deg) translateY(7px);
        }

        span:nth-child(2) {
          opacity: 0;
        }

        span:last-child {
          transform: rotate(-45deg) translateY(-7px);
        }
      }
    }

    &-line {
      display: block;
      height: 2px;
      width: 100%;
      margin-bottom: 3px;
      background-color: $dark;
      transition: background-color 0.2s ease, opacity 0.2s ease, transform 0.2s ease;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-text {
      color: $dark;
      text-decoration: none;

      @media #{$br-xs} {
        display: none;
      }
    }

    @media #{$br-md} {
      display: block;
    }

  }

  &__menulist {
    margin-top: 25px;
    &-item {
      display: inline-block;
      margin-right: 25px;
      &:last-child {
        margin-right: 0;
      }
    }
    &-link {
      color: #000;
      font-size: 14px;
      font-weight: $black;
      text-transform: uppercase;
      &--active, &:hover, &:focus {
        color: $yellow--hover;
        text-decoration: none;
      }
    }

    @media #{$br-md} {
      display: none;
    }
  }

  &__btn {
    display: inline-block;
    color: #000;
    font-size: 14px;
    font-weight: $black;
    text-transform: uppercase;
    background-color: $light;
    height: 65px;
    padding: 25px 45px 0;
    transition: all .3s ease;
    &:hover, &:focus {
      text-decoration: none;
      color: $yellow--hover;
    }
    
    @media #{$br-lg} {
      display: none;
    }
  }

  &__logo {
    display: block;
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
    line-height: 1;
    font-size: 24px;
    font-weight: $lig;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 7px;
    text-shadow: 0 0 0 currentColor;
    color: inherit;
    transition: color 0.2s ease, margin-top 0.2s ease;
    justify-self: flex-start;

    &:hover,
    &:focus {
      color: $yellow--hover;
      text-decoration: inherit;
    }

    @media #{$br-md} {
      transform: translateX(10px);
    }

    @media #{$br-sm} {
      margin-top: 22px;

      img {
        width: 160px;
      }
    }

    @media #{$br-xs} {
      transform: translateX(5px);
    }
  }

  &__right {
    margin-top: 26px;
    justify-self: flex-end;
  }

  &__languages {
    text-align: center;
    float: left;

    &-elem {
      display: inline-block;
      margin-right: 10px;
      color: $muted;
      font-weight: $bold;
      text-transform: uppercase;
      @include transition(color, 0.2s, ease);

      &:last-child {
        margin-right: 0;
      }

      @media #{$br-xs} {
        color: $dark;
      }
      
      &--active {
        color: $dark;
      }

      &:hover {
        text-decoration: none;
        color: $yellow--hover;
      }

      &:focus {
        text-decoration: none;
        color: inherit;
        outline-color: $yellow--hover;
      }
    }
  }
  
  &__phone {
    display: block;
    margin-right: 25px;
    color: inherit;
    font-weight: $reg;
    float: left;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $dark;
    }

    @media #{$br-sm} {
      display: none;
    }
  }
}