/* --- Jobs --- */
.jobs {
  padding: 70px 0 90px;
  background-color: white;

  @media #{$br-md} {
    padding: 45px 0;
  }

  @media #{$br-sm} {
    padding: 30px 0;
  }

  &__heading {
    margin-bottom: 15px;
    font-size: 35px;
    font-weight: $bold;

    @media #{$br-sm} {
      margin-bottom: 10px;
      font-size: 32px;
    }
  }
  
  &__subtext {
    font-weight: $reg;
    color: $muted;

    @media #{$br-sm} {
      br {
        display: none;
      }
    }
  }

  &__container {
    margin-top: 40px;
  }
}

.job {
  &:last-child {
    border-bottom: 1px #ebebeb solid;
  }

  &--closed {
    .job__header {
      border-bottom: none;
    }

    .job__content {
      display: none;
      height: 0;
      padding: 0;
      visibility: hidden;
      overflow: hidden;
    }
  }

  &--opened {
    .job__header {
      background-color: $light;
      border-bottom-color: $light;

      &-btn {
        background-color: #ebebeb;

        &:after {
          transform: rotate(0deg);
        }
      }
    }

    .job__content {
      display: block;
      padding-top: 10px;
    }
  }

  &__header {
    position: relative;
    padding: 20px 25px;
    border-bottom: 1px #ebebeb solid;

    &:first-child {
      border-top: 1px #ebebeb solid;
    }

    @media #{$br-xs} {
      padding: 15px 20px;
    }

    &-text {
      height: 30px;
      width: calc(100% - 50px);
      white-space: nowrap;
      font-size: 20px;
      font-weight: $reg;
      line-height: 30px;
      text-overflow: ellipsis;
      overflow: hidden;
      float: left;

      @media #{$br-sm} {
        font-size: 16px;
      }
    }
    
    &-btn {
      display: block;
      height: 30px;
      width: 30px;
      position: relative;
      border-width: 2px;
      border-color: #ebebeb;
      border-style: solid;
      border-radius: 50%;
      @include transition(border-color, 0.2s, ease);
      float: right;

      &:before,
      &:after {
        content: '';
        display: block;
        height: 2px;
        width: 10px;
        position: absolute;
        top: 12px;
        left: 8px;
        background-color: $dark;
      }

      &:after {
        transform: rotate(90deg);
      }

      &:hover,
      &:focus {
        border-color: $yellow--hover;
      }
    }
  }
  
  &__content {
    padding: 25px;
    background-color: $light;

    @media #{$br-xs} {
      padding: 10px 20px;
    }
    
    &-editable {
      color: $muted;
      font-size: 14px;
      font-weight: $reg;
    }

    &-heading {
      margin-bottom: 20px;
      text-transform: uppercase;
      font-weight: $bold;
    }

    &-list,
    &-editable ul {
      margin-bottom: 30px;
      line-height: 1.4;
    }

    &-text,
    &-editable p {
      margin-bottom: 20px;
    }

    &-header {
      font-size: 18px;
      font-weight: $bold;
      margin-bottom: 15px;
    }
    
    &-form {
      position: relative;
    }

    &-fieldset {
      width: 25%;
      padding: 0 20px 0 0;
      margin: 0;
      border: none;
      float: left;

      &:nth-child(4n+4) { padding: 0; }

      @media #{$br-sm} {
        width: 50%;
      }

      @media #{$br-xs} {
        width: 100%;
        margin-bottom: 10px;
        padding-right: 0;
        float: none;
      }

      &--submit {
        //margin-left: 75%;
        padding-right: 0;
        float: right;

        @media #{$br-sm} and (orientation : landscape) {
          width: 160px;
          float: none;
        }

        @media #{$br-xs} {
          float: none;
        }
      }
    }
    
    &-dropzone {
      width: 75%;
      padding: 20px 0;
      float: left;
      z-index: 5;

      @media #{$br-xs} {
        width: 100%;
        padding: 0;
        float: none;
      }
    }

    &-field {
      height: 40px;
      width: 100%;
      border-top: none;
      border-right: none;
      border-bottom: 1px $dark solid;
      border-left: none;
      background-color: transparent;
      font-family: $font;
      font-size: 14px;
      font-weight: $reg;
      color: $dark;
      @include transition(border-bottom, 0.2s, ease);

      &:focus {
        border-bottom: 1px $yellow--hover solid;
      }
    }

    &-submit {
      display: block;
      height: 50px;
      width: 160px;
      margin: 20px 0 0 auto;
      font-size: 13px;
      font-weight: $black;
      text-transform: uppercase;
      color: $dark;
      background-color: transparent;
      @include transition(background-color, 0.2s, ease);

      &:hover,
      &:focus {
        border-color: $yellow--hover;
        background-color: $yellow--hover;
      }

      @media #{$br-xs} {
        float: left;
      }
    }
  }

  &__dropzone {
    position: relative;
    min-height: 54px;
    padding-top: 44px;
    cursor: pointer;
    z-index: 10;

    @media #{$br-xs} {
      padding-top: 54px;
    }

    &:before {
      content: attr(data-content);
      display: block;
      width: 100%;
      position: absolute;
      top: 0;
      padding: 15px 0 10px;
      border: none;
      text-transform: uppercase;
      text-align: left;
      font-weight: $bold;
      font-size: 14px;
      color: $dark;
      cursor: pointer;
      @include box-sizing(border-box);
    }

    /*&:hover {
        &:before {
            background-color: $light;
        }
    }*/

    &-placeholder {
      text-transform: uppercase;
      text-align: center;
      line-height: 47px;
      font-weight: $reg;
      z-index: 5;
    }
  }
}