/* --- Map --- */
.map {
  background-color: $light;

  &__heading {
    padding: 27px;
    color: $dark;
    font-size: 18px;
    font-weight: $bold;
    line-height: 1.2;
    text-align: center;

    @media #{$br-sm} {
      padding: 20px 10px;
    }
  }

  &__element {
    height: 580px;
    background-color: $light;

    @media #{$br-sm} {
      height: 250px;
    }
  }

  &__baloon {
    line-height: 1.3;
    font-size: 14px;
    font-weight: $reg;
    font-family: $font;
    color: $dark;

    &-text {
      &--description {
        margin-top: 5px;
      }
    }

    &-heading {
      margin-bottom: 5px;
      font-weight: $bold;
    }
  }
}