/* --- Partners --- */
.partners {
  background-color: $light;

  &__description {
    width: 285px;
    margin-top: -45px;
    padding: 45px;
    background-color: $dark;
    float: left;

    @media #{$br-md} {
      width: 100%;
      float: none;
    }

    @media #{$br-xs} {
      padding: 30px 20px;
    }
  }

  &__heading {
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: $bold;
    line-height: 1.2;
    color: white;

    @media #{$br-sm} {
      margin-bottom: 15px;
      font-size: 24px;
    }
  }
  
  &__text {
    color: $muted;
    font-weight: $reg;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__logos {
    width: 675px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-left: 45px;
    float: left;

    &:before {
      content: attr(data-more);
      width: 100%;
      position: absolute;
      bottom: -10px;
      text-align: center;
      color: $muted;
      font-weight: $reg;
    }

    @media #{$br-md} {
      width: 100%;
      padding-left: 0;
      margin-top: 30px;
      margin-bottom: 30px;
      float: none;

      &:before {
        bottom: 0;
      }
    }

    @media #{$br-sm} {
      margin-bottom: 50px;

      &:before {
        bottom: -15px;
      }
    }

    @media #{$br-xs} {
      &:before {
        bottom: -20px;
      }
    }
  }
  
  &__logo {
    @include flexbox(row, center, center);
    height: 100px;
    width: 25%;
    text-align: center;
    float: left;

    @media #{$br-sm} {
      width: 50%;
    }

    @media #{$br-xs} {
      height: 80px;
    }
    
    &-img {
      display: inline-block;
    }
  }
}