/* --- Project plans --- */
.plans {
  padding: 60px 0 0;

  &__info {
    width: 290px;
    position: relative;
    margin-top: -125px;
    padding: 65px 45px;
    background-color: #f8f8f8;
    float: left;

    @media #{$br-md} {
      width: 100%;
      float: none;
    }

    @media #{$br-xs} {
      padding: 30px 20px;
    }
    
    &-heading {
      margin-bottom: 15px;
      line-height: 1.2;
      font-size: 24px;
      font-weight: $bold;
      color: $dark;
    }

    &-text {
      font-size: 14px;
      font-weight: $reg;
      line-height: 1.2;
      color: $muted;
    }
  }
  
  &__prints {
    @include flexbox(row, space-around, flex-start);
    width: 625px;
    margin-left: 45px;
    float: left;

    @media #{$br-md} {
      width: 100%;
      margin: 30px 0 0;
      float: none;
    }

    @media #{$br-xs} {
      margin: 15px 0 0;
    }

    &-elem {
      @media #{$br-sm} {
        width: 50%;
        float: left;
      }
    }

    &-img {
      max-height: 250px;
      max-width: 300px;

      @media #{$br-sm} {
        height: auto;
        max-width: 100%;
      }
    }
  }
}