/* Popup section */
.w {
	&-overlay {
		display: none;
		width: 100%;
		height: 100%;
		position: fixed;
		background: rgba($light, 0.9);
		top: 0;
		left: 0;
		z-index: 999;

		&--dark {
			background: rgba($dark, 0.9);
		}
	}

	&-popup {
		display: none;
		position: fixed;
		top: 50%;
		left: 50%;
		color: $dark;
		box-shadow: 0 0 30px 10px rgba(black, 0.1);
		background-color: white;
		z-index: 1000;

		&--full {
			height: 100vh;
			width: 100%;
			top: -100%;
			left: 0 !important;
			//margin-top: -25% !important;
			margin-left: 0 !important;
		}

		&--transparent {
			background-color: transparent;
		}
		
		&--thank {
			color: white;
		}

		&--small {
			@media #{$br-sm} and (orientation : landscape) {
				width: 100%;
				max-height: 100vh;
				overflow-y: scroll;
				top: 0 !important;
				left: 0 !important;
				margin: 0 !important;
			}

			@media #{$br-xs} {
				width: 100%;
				max-height: 100vh;
				overflow-y: scroll;
				top: 0 !important;
				left: 0 !important;
				margin: 0 !important;
			}
		}

		&--wide {
			@media #{$br-md} {
				width: 100%;
				max-height: 100vh;
				overflow-y: scroll;
				top: 0 !important;
				left: 0 !important;
				margin: 0 !important;
			}
		}

		&__wrapper {
			width: 620px;
			zoom: 1;
			position: relative;
			-webkit-overflow-scrolling: touch;

			&--small {
				width: 520px;
				padding: 45px;

				@media #{$br-sm} and (orientation : landscape) {
					width: 100%;
					padding: 30px 20px;
				}

				@media #{$br-xs} {
					width: 100%;
					padding: 30px 20px;
				}
			}

			&--wide {
				width: 980px;
				padding: 45px;

				@media #{$br-md} {
					width: 100%;
					padding: 30px 20px;
				}
			}

			&--full {
				height: 100%;
				width: 100%;
				overflow-y: scroll;
				
				&-fix {
					overflow: hidden;
				}
			}

			&-inner {
				min-height: 100%;
				height: auto;
				position: relative;
				padding-bottom: 104px;

				@media #{$br-sm} {
					padding-bottom: 208px;
				}

				@media #{$br-xs} {
					padding-bottom: 148px;
				}
			}
		}

		&__close {
			display: block;
			height: 20px;
			width: 20px;
			position: absolute;
			top: 35px;
			right: 35px;
			margin-left: auto;
			margin-bottom: 15px;
			z-index: 101;

			&:before,
			&:after {
				content: '';
				display: block;
				height: 2px;
				width: 26px;
				position: absolute;
				top: 9px;
				left: -2px;
				background-color: $muted;
				@include transition(background-color, 0.2s, ease);
			}

			&:before {
				transform: rotate(45deg);
			}

			&:after {
				transform: rotate(-45deg);
			}

			&:hover,
			&:focus {
				&:before,
				&:after {
					background-color: $dark;
				}
			}

			&--white {
				&:hover,
				&:focus {
					&:before,
					&:after {
						background-color: white;
					}
				}
			}

			&--fixed {
				position: fixed;
				top: 35px;
				right: 45px;
				transform: translate3d(0,0,0);
				-webkit-backface-visibility: hidden;
				transition: none;
			}

			@media #{$br-sm} {
				top: 15px;
				right: 15px;
			}
		}

		&__heading {
			margin-bottom: 25px;
			font-size: 24px;
			font-weight: $bold;
			line-height: 1.3;
			color: $dark;

			@media #{$br-sm} {
				font-size: 20px;
				margin-bottom: 15px;
			}

			&--huge {
				padding: 25px 0 0;
				margin-top: 0;
				font-size: 36px;
				font-weight: $bold;

				@media #{$br-sm} {
					padding: 0 30px 0 0;
					font-size: 28px;
				}
			}

			&--margin {
				margin-bottom: 78px;
			}

			&--project {
				@media #{$br-md} {
					margin-bottom: 0;
				}

				@media #{$br-sm} {
					padding-top: 25px;
				}

				@media #{$br-xs} {
					padding-top: 50px;
				}
			}

			&--mobile {
				display: none;

				@media #{$br-md} {
					display: block;
				}
			}

			&--desktop {
				display: block;

				@media #{$br-md} {
					display: none;
				}
			}
		}

		&__form {
			display: block;

			&-heading {
				margin: 20px 0;
				font-size: 18px;
				font-weight: $bold;

				&--small-mrg {
					margin: 10px 0 20px;
				}
			}
		}

		&__fieldset {
			border: none;
			margin: 0 0 10px;
			padding: 0;

			&:nth-child(odd) { padding-right: 15px; }
			&:nth-child(even) { padding-left: 15px; }

			&--comment {
				margin-top: 15px;
			}

			&--submit {
				margin-top: 25px;
				margin-bottom: 0;
			}

			&--checkbox {
				&:nth-child(odd) { padding-right: 0; }
				&:nth-child(even) { padding-left: 0; }
			}

			@media #{$br-sm} {
				&:nth-child(odd) { padding-right: 0; }
				&:nth-child(even) { padding-left: 0; }
			}
		}

		&__field {
			height: 40px;
			width: 100%;
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: 1px $dark solid;
			background-color: transparent;
			font-family: $font;
			font-weight: $reg;
			font-size: 14px;
			color: $dark;
			@include transition(border-bottom, 0.2s, ease);

			&:focus {
				outline: none;
				border-bottom: 1px $yellow--hover solid;
			}
		}
		
		&__label {
			display: block;
			position: relative;
			padding-left: 25px;
			color: $muted;
			font-size: 14px;
			font-weight: $reg;
		}
		
		&__radio {
			display: none;
			opacity: 0;
			visibility: hidden;

			&:checked + span {
				&:before {
					background-color: rgba($dark, 1);
				}
			}
		}

		&__checkbox {
			display: none;
			opacity: 0;
			visibility: hidden;

			&:checked + span {
				&:before {
					opacity: 1;
				}
			}
		}

		&__faked {
			display: inline-block;
			height: 15px;
			width: 15px;
			position: absolute;
			top: 1px;
			left: 0;
			margin-right: 10px;
			border: 2px #ebebeb solid;
			vertical-align: bottom;

			&:before {
				content: '';
				display: block;
				height: 5px;
				width: 5px;
				position: absolute;
				top: 3px;
				left: 3px;
			}

			&--radio {
				border-radius: 50%;
				cursor: pointer;
				@include transition(border-color, 0.2s, ease);

				&:before {
					border-radius: 50%;
					background-color: rgba($dark, 0);
					@include transition(background-color, 0.2s, ease);
				}

				&:hover,
				&:focus {
					border-color: $yellow--hover;
				}
			}

			&--checkbox {
				cursor: pointer;
				@include transition(border-color, 0.2s, ease);

				&:before {
					height: 9px;
					width: 12px;
					top: 2px;
					left: 0;
					background-image: url('../img/elem/checkbox.png');
					background-repeat: no-repeat;
					background-position: center;
					opacity: 0;
					@include transition(opacity, 0.2s, ease);
				}

				&:hover,
				&:focus {
					border-color: $yellow--hover;
				}
			}
		}

		&__submit {
			display: block;
			height: 50px;
			width: 220px;
			font-family: $font;
			font-size: 13px;
			font-weight: $bold;
			text-transform: uppercase;
			background-color: transparent;
			@include transition(background-color, 0.2s, ease);

			&:hover,
			&:focus {
				background-color: $yellow--hover;
				border-color: $yellow--hover;
				cursor: pointer;
			}
		}

		&__text {
			margin-bottom: 15px;
			font-size: 14px;
			font-weight: $reg;
			color: $muted;
			line-height: 1.2;
		}

		&__list {
			margin-bottom: 15px;
			font-size: 14px;
			color: $muted;
			line-height: 1.4;
		}

		&__gallery {
			//margin-bottom: 25px;

			&-carousel {
				border: 1px #ccc solid;
			}

			&-item {
				display: block;
				text-decoration: none;
				line-height: 1;
				text-align: center;
			}

			&-slide {
				margin: 0 auto;

				@media #{$br-xs} {
					height: auto;
					min-width: 294px;
					width: 100%;
				}
			}

			&-container {
				margin-bottom: 10px;
				text-align: left;
			}

			&-full {
				display: inline-block;
				height: auto;
				width: calc(100% - 10px);

				@media #{$br-md} {
					max-width: 100%;
					width: 100%;
				}
			}

			&-previews {
				max-width: 486px;

				@media #{$br-xs} {
					max-width: none;
					@include flexbox(row, space-between, center);
					flex-wrap: wrap;
					
					&:before,
					&:after {
						display: none;
					}
				}
			}

			&-preview {
				width: 25%;
				padding-bottom: 10px;
				padding-right: 10px;
				opacity: 0.3;
				cursor: pointer;
				transition: opacity 0.2s ease;
				float: left;

				&--active {
					opacity: 1;
				}

				@media #{$br-xs} {
					width: calc((100% - 30px) / 4);
					padding-right: 0;

					&:nth-child(4n+4) {
						padding-right: 0;
					}
				}
			}

			&-thumbnail {
				width: 100%;
				max-width: 100%;
			}

			&-bottom {
				margin: 15px 0;
			}

			&-nav {
				display: block;
				height: 12px;
				width: 39px;
				background-image: url('../img/elem/popup__carousel-nav.png');
				background-repeat: no-repeat;
				float: left;

				&--prev { background-position: center left; }
				&--next { background-position: center right; }
			}

			&-title {
				width: calc(100% - 78px);
				padding: 0 15px;
				color: $dark;
				font-size: 14px;
				font-weight: $bold;
				text-align: center;
				float: left;
			}
		}

		&__content {
			&--step {
				padding: 45px 0;
				border-bottom: 1px $light solid;

				@media #{$br-sm} {
					padding: 30px 0;
				}
			}

			&--full {
				padding: 45px 0 35px;

				@media #{$br-sm} {
					padding: 30px 0;
				}
			}
		}

		&__full {
			&-text {
				margin-bottom: 20px;
				font-size: 18px;
				font-weight: $bold;
				line-height: 1.3;
				text-align: center;
			}

			&-btn {
				display: inline-block;
				padding: 15px 48px;
				color: $dark;
				font-size: 13px;
				font-weight: $black;
				text-transform: uppercase;

				@media #{$br-xs} {
					display: block;
					width: 100%;
					padding: 15px;
				}
			}
		}

		&__actions {
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 0;
		}

		&__step {
			margin-bottom: 15px;
			font-size: 14px;
			font-weight: $black;
			text-transform: uppercase;

			@media #{$br-md} {
				margin-bottom: 5px;
			}
			
			&--desktop {
				display: block;

				@media #{$br-md} {
					display: none;
				}
			}
			
			&--mobile {
				display: none;

				@media #{$br-md} {
					display: block;
				}
			}
		}

		&__side {
			@media #{$br-md} {
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		
		&__navigation {
			display: block;
			width: 100%;
			margin-top: 30px;
			transition-duration: 0.2s;
			transition-timing-function: ease;
			transition-property: background-color, position, padding, margin, width;

			&--min {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				padding: 23px 0;
				margin-top: 0;
				background-color: $light;
				text-align: center;
				z-index: 10;
			}

			@media #{$br-md} {
				display: none;
			}
			
			&-item {
				display: inline-block;
				border-radius: 25px;
				transition: background-color 0.2s ease;

				&:hover,
				&:focus,
				&--active {
					background-color: #ebebeb;
				}
			}

			&-link {
				display: inline-block;
				padding: 15px 25px;
				font-size: 13px;
				font-weight: $bold;
				color: $dark;
				text-decoration: none;
				cursor: pointer;

				&:hover,
				&:focus {
					color: inherit;
					text-decoration: inherit;
				}
			}
		}

		&__dropzone {
			position: relative;
			min-height: 54px;
			padding-top: 44px;
			cursor: pointer;
			z-index: 10;

			&:before {
				content: attr(data-content);
				display: block;
				width: 100%;
				position: absolute;
				top: 0;
				padding: 15px 0 10px;
				border: none;
				text-transform: uppercase;
				text-align: left;
				font-weight: $bold;
				font-size: 14px;
				color: $dark;
				cursor: pointer;
				@include box-sizing(border-box);
			}

			/*&:hover {
				&:before {
					background-color: $light;
				}
			}*/

			&-placeholder {
				text-transform: uppercase;
				text-align: center;
				line-height: 47px;
				font-weight: $reg;
				z-index: 5;
			}
		}

		&__flexbox {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			height: 100vh;
			width: 100%;
		}

		&__thank {
			text-align: center;

			@media #{$br-sm} {
				padding: 0 12px;
				
				br {
					display: none;
				}
			}

			&-heading {
				margin-bottom: 10px;
				font-size: 48px;
				font-weight: $bold;
				line-height: 1.35;

				@media #{$br-sm} {
					font-size: 40px;
					line-height: 1.16;
				}
			}

			&-text {
				font-weight: $reg;

				&--big {
					font-size: 20px;
					font-weight: $bold;

					@media #{$br-sm} {
						font-size: 18px;
					}
				}
			}

			&-social {
				display: inline-block;
				margin: 15px 15px 0 0;
				vertical-align: middle;
				opacity: 0.35;
				transition: opacity 0.2s ease;

				&:last-child {
					margin: 15px 0 0;
				}

				&:hover,
				&:focus {
					opacity: 1;
				}
			}

			&-row {
				height: 1px;
				width: 95%;
				margin: 30px auto;
				background-color: rgba(white, 0.1);

				@media #{$br-sm} {
					width: 100%;
				}
			}

			&-link {
				display: block;
				margin: 20px 0 45px;
				color: white;
				font-size: 13px;
				font-weight: $bold;
				text-transform: uppercase;
				text-decoration: none;

				&:after {
					content: '';
					display: inline-block;
					height: 12px;
					width: 39px;
					margin-left: 5px;
					opacity: 0.7;
					vertical-align: -2px;
					background-image: url('../img/elem/works__elem-arrow.png');
					background-repeat: no-repeat;
					background-position: center;
					transition: opacity 0.2s ease, margin-left 0.2s ease;
				}

				&:hover,
				&:focus {
					color: inherit;
					text-decoration: inherit;

					&:after {
						margin-left: 15px;
						opacity: 1;
					}
				}

				@media #{$br-sm} {
					margin: 25px 0;
				}
			}

			&-center {
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				justify-self: center;
			}

			&-bottom {
				width: 100%;
				justify-self: flex-end;
			}
		}

		&__confidential {
			max-width: 43%;
			font-size: 10px;
			font-weight: $reg;
			color: $muted;
			float: right;

			@media #{$br-xs} {
				max-width: 100%;
				margin-bottom: 15px;
				float: none;
			}

			&-link {
				color: $muted;
				text-decoration: underline;

				&:hover,
				&:focus {
					color: inherit;
					text-decoration: none;
				}
			}
		}

		&__scrollable {
			height: 465px;
			padding-top: 15px;
			border-top: 1px #ebebeb solid;
			overflow-y: scroll;

			@media #{$br-xs} {
				height: calc(100vh - 60px - 67px);
			}

			&-text {
				margin-bottom: 15px;
				font-weight: $reg;
				color: $muted;

				&--small {
					font-size: 12px;
				}
			}
		}
	}
}

span.help-block.form-error {
	display: none;
    max-height: 100%;
    max-width: 110px;
    padding: 8px 13px;
    position: absolute;
    top: 10px;
    bottom: 0;
    right: 15px;
    color: #fff;
    font-size: 12px;
    line-height: 1.2;
    text-align: right;
}
