/* --- Projects --- */
.projects {
  padding: 25px 0 0;

  &__elem {
    margin-bottom: 25px;

    &-top {
      padding: 45px 0 25px;
      margin-bottom: 1px;
      background-color: $light;

      &--transparent {
        background-color: transparent;
      }

      @media #{$br-lg} {
        padding: 45px 30px;
      }

      @media #{$br-md} {
        padding: 30px 30px;
      }

      @media #{$br-xs} {
        padding: 30px 20px;
      }
    }

    &-bottom {
      padding: 30px 0;
      background-color: $light;

      @media #{$br-lg} {
        padding: 30px;
      }

      @media #{$br-md} {
        padding: 20px 30px;
      }

      @media #{$br-xs} {
        padding: 30px 20px;
      }
    }

    .center {
      @media #{$br-lg} {
        width: 100%;
      }
    }

    &-header {
      margin: 0 0 20px;
    }

    &-heading {
      font-size: 24px;
      line-height: 1.1;
      font-weight: $bold;
    }

    &-subheading {
      font-size: 14px;
      color: inherit !important;
      font-weight: $reg;
    }

    &-description {
      padding-right: 11px;
    }

    &-prices {
      padding-left: 11px;

      @media #{$br-md} {
        padding-left: 0;
      }

      @media #{$br-md} {
        margin-top: 30px;
      }
    }

    &-action {
      position: relative;
      padding-left: 11px;
      padding-top: 20px;
      margin-top: 30px;

      &:before {
        content: '';
        display: block;
        height: 2px;
        width: 70px;
        position: absolute;
        top: 0;
        left: 11px;
        background-color: $yellow;

        @media #{$br-md} {
          left: 0;
        }
      }

      @media #{$br-md} {
        padding-left: 0;
      }
    }

    &-text {
      font-weight: $reg;
      line-height: 1.3;
      color: #919191;
      margin-bottom: 20px;

      /*&:last-child {
        margin-bottom: 0;
      }*/
      
      &--dark {
        color: $dark;
      }

      &--big {
        font-size: 20px;
      }

      &--no-margin {
        margin-bottom: 0;
      }

      &--subheading {
        margin-bottom: 3px;
        font-weight: $bold;
      }
    }

    &-list {
      margin-bottom: 15px;
    }

    &-point {}

    &-bold {
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: $bold;
      text-transform: uppercase;

      &--no-margin {
        margin-bottom: 0;
      }
    }

    &-btn {
      display: block;
      margin-right: 10px;
      font-size: 13px;
      font-weight: $bold;
      line-height: 0.8;
      color: $dark;
      text-transform: uppercase;
      float: left;

      @media #{$br-md} {
        display: inline-block;
        width: calc(50% - 10px);
        padding-left: 0;
        padding-right: 0;
        text-align: center;
      }

      @media #{$br-xs} {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-example {
      display: block;
      position: relative;
      margin-top: 14px;
      font-weight: $bold;
      color: $dark;
      text-transform: uppercase;

      &:before {
        content: '';
        display: inline-block;
        height: 14px;
        width: 20px;
        margin-right: 10px;
        position: relative;
        top: 2px;
        left: 0;
        background-image: url('../img/elem/projects__elem-example.png');
        background-position: top left;
        background-repeat: no-repeat;
      }
      
      &:hover,
      &:focus {
        color: $yellow--hover;
        text-decoration: none;

        &:before {
          background-position: bottom left;
        }
      }

      @media #{$br-md} {
        display: block;
        margin-top: 15px;
      }

      @media #{$br-sm} {
        margin-top: 0;
        margin-bottom: 30px;
        text-align: center;
      }
    }

    &-vars {
      margin-bottom: 20px;
    }

    &-item {
      &--left {
        @media #{$br-xs} {
          padding-right: 0;
        }
      }

      &--right {
        @media #{$br-xs} {
          padding-left: 0;
        }
      }
    }
    
    &-size {
      margin-bottom: 10px;
      color: #919191;
      font-weight: $bold;
      text-transform: uppercase;

      @media #{$br-xs} {
        font-size: 13px;
      }
    }

    &-range {
      font-weight: $reg;
      color: $dark;

      @media #{$br-xs} {
        font-size: 13px;
      }
    }
  }

  &__editable {
    /* Tag styles*/
    p {
      font-weight: $reg;
      line-height: 1.3;
      color: #919191;
      margin-bottom: 20px;

      /*&:last-child {
        margin-bottom: 0;
      }*/
    }

    h4 {
      font-weight: $bold;
      line-height: 1.3;
      color: #919191;
      margin-bottom: 3px;
    }

    ul {
      padding-left: 10px;
      margin-bottom: 15px;
      line-height: 1.4;

      li {
        position: relative;
        font-weight: $reg;
        color: #919191;

        &:before {
          content: '-';
          position: absolute;
          top: 0;
          left: -10px;
        }
      }
    }
  }
}