/* --- Promo --- */
.promo-video {
  display: flex;
  flex-direction:column;
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  margin-bottom: 45px;
  &__inf {
    position: absolute;
    top: 40px;
    left: 0;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    z-index: 3;
    height: 100%;
    padding-left: 45px;

    @media #{$br-sm} {
      padding: 0 15px;
    }
  }
  &__title {
    color: #fff;
    font-size: 60px;
    font-weight: $bold;
    line-height: 60px;
    display: block;
    margin-bottom: 30px;
    max-width: 680px;

    @media #{$br-lg} {
      font-size: 50px;
      line-height: 50px;
    }

    @media #{$br-sm} {
      font-size: 30px;
      line-height: 30px;
    }

    @media #{$br-xs} {
      font-size: 20px;
      line-height: 20px;
    }
  }
  &__subtitle {
    color: #fff;
    font-size: 24px;
    font-weight: $bold;
    display: block;
    margin-bottom: 40px;
    max-width: 450px;

    @media #{$br-sm} {
      font-size: 20px;
    }

    @media #{$br-xs} {
      font-size: 16px;
    }
  }
  video {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    top: 0;

    @media #{$br-sm} {
      display: none;
    }
  }
  img {
  	display: none;
  	min-height: 345px;
  	width: 768px;
  	@media #{$br-sm} {
  	  display: block;
  	}
  }
  &__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, .3);
  }
}

.promo__scroll {
  display: block;
  height: 13px;
  width: 24px;
  position: absolute;
  top: -115px;
  left: calc(50% - 12px);
  background: transparent url('../img/elem/promo__scroll.png') no-repeat center left;
  z-index: 10;
  cursor: pointer;

  &:hover,
  &:focus {
    background-position: center right;
  }

  &-container {
    position: relative;
  }

  @media #{$br-md} {
    top: -100px;
  }

  @media #{$br-sm} {
    display: none;
  }
}