/* --- Publications --- */
.publications {
  padding: 70px 0 100px;
  background-color: white;

  @media #{$br-sm} {
    padding: 30px 0 72px;
  }

  &__heading {
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: $bold;

    @media #{$br-sm} {
      font-size: 32px;
    }
  }

  &__container {
    @media #{$br-md} {
      display: none;
    }
  }

  &__carousel {
    &-item {
      opacity: 0.5;
      @include transition(opacity, 0.2s, ease);

      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }

  &__elem {
    display: block;
    max-width: 110px;
    margin: 0 10px 10px 0;
    float: left;

    &-img {
      opacity: 0.5;
      filter: gray;
      filter: grayscale(1);
      -webkit-filter: grayscale(1);
      @include transition(opacity, 0.2s, ease);

      &:hover,
      &:focus {
        opacity: 1;
        filter: none;
        -webkit-filter: grayscale(0);
      }
    }
  }
}

#publications__carousel {
  display: none;

  @media #{$br-md} {
    display: block;
  }
}