/* --- Service --- */
.service {
  padding: 120px 0 25px;
  background-image: url('../img/elem/service__bg--small.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #6d3c2b;
  background-size: cover;
  color: white;

  @media #{$br-md} {
    padding: 75px 0 45px;
  }

  @media #{$br-sm} {
    padding: 75px 0 15px;
  }

  @media #{$br-xs} {
    background-image: url('../img/elem/service__bg--mobile.jpg');
  }

  &__heading {
    margin: 0 0 15px;
    font-size: 48px;
    font-weight: $bold;
    line-height: 1.2;

    @media #{$br-sm} {
      font-size: 40px;
    }
  }

  &__subheading {
    max-width: 450px;
    margin-bottom: 80px;
    font-size: 14px;
    font-weight: $reg;
    line-height: 1.3;
    color: rgba(white, 0.6);

    @media #{$br-md} {
      margin-bottom: 45px;
    }

    @media #{$br-sm} {
      max-width: 100%;
    }
  }
  
  &__nav {
    &-item {
      display: inline-block;
      margin-right: 35px;

      @media #{$br-md} {
        margin-right: 20px;
      }

      @media #{$br-sm} {
        display: block;
        margin-right: 0;
        margin-bottom: 15px;
      }
    }

    &-link {
      font-size: 14px;
      font-weight: $bold;
      line-height: 1.2;
      color: rgba(white, 0.6);
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 1px;
      @include transition(color, 0.2s, ease);

      &:hover,
      &:focus,
      &--active {
        color: rgba(white, 1);
        text-decoration: inherit;
      }
    }
  }
}