/* --- Sidebar --- */
.sidebar {
  display: inline-block;
  height: 100vh;
  width: auto;
  position: fixed;
  top: 0;
  left: 0;
  padding: 45px;
  background-color: $dark;
  z-index: 150;
  transition: transform 0.2s ease;

  @media #{$br-xs} {
    padding: 30px 45px;
  }

  @media #{$br-sm} and (orientation : landscape) {
    padding: 15px 45px;
  }

  &--closed {
    transform: translateX(-100%);
  }

  &--opened {
    min-width: 282px;
  }

  &__flex {
    height: 100%;;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__menu {
    justify-self: flex-start;
    color: white;

    &-item {
      display: block;
      margin-bottom: 20px;

      @media #{$br-sm} and (orientation : landscape) {
        margin-bottom: 7px;
      }
    }

    &-link {
      font-size: 24px;
      font-weight: $reg;
      color: inherit;
      text-decoration: none;
      @include transition(color, 0.2s, ease);
      
      &:hover,
      &:focus,
      &--active {
        text-decoration: inherit;
        color: $yellow--hover;
      }

      @media #{$br-xs} {
        font-size: 22px;
      }

      @media #{$br-sm} and (orientation : landscape) {
        font-size: 18px;
      }
    }
  }

  &__phone {
    display: block;
    width: 100%;
    margin-top: auto;
    margin-bottom: 30px;
    justify-self: flex-end;
    font-size: 14px;
    font-weight: $reg;
    text-align: center;
    text-decoration: none;
    color: white;
    line-height: 1;
    @include transition(color, 0.2s, ease);

    &:hover,
    &:focus {
      text-decoration: inherit;
      color: $yellow--hover;
    }

    @media #{$br-sm} and (orientation : landscape) {
      margin-bottom: 10px;
    }

    &-underline {
      @media #{$br-sm} {
        border-bottom: 1px rgba(white, 0.15) solid;
      }
    }
  }

  &__btn {
    justify-self: flex-end;
    font-size: 13px;
    font-weight: $bold;
    text-transform: uppercase;
    color: white;
  }
}