/* --- Project sketches --- */
.sketches {
  padding: 45px 0;

  @media #{$br-xs} {
    padding: 30px 0 15px;
  }

  &__heading {
    font-size: 24px;
    font-weight: $bold;
    margin: 0 0 25px;

    @media #{$br-xs} {
      margin: 0 0 20px;
    }
  }

  &__gallery {

    @media #{$br-xs} {
      height: auto !important;
    }

    &-item {
      display: inline-block;
      line-height: 1;
      overflow: hidden;

      @media #{$br-xs} {
        display: block;
        height: auto !important;
        width: 100% !important;
        position: static !important;
        opacity: 1 !important;
        margin-bottom: 15px;

        img {
          width: 100%;
        }
      }
    }
  }

  /*&__gallery {
    @include flexbox(row, space-between, flex-start);
    flex-wrap: wrap;

    @media #{$br-md} {
      @include flexbox(row, space-around, center);
    }

    &-element {
      display: block;
      margin-bottom: 25px;

      @media #{$br-sm} {
        height: 200px;
        width: auto;
      }

      @media #{$br-xs} {
        height: 195px;
        margin-bottom: 10px;
      }
    }
  }*/
}