/* --- Special --- */
.special {
  padding: 20px 0 75px;

  @media #{$br-md} {
    padding: 30px 0 15px;
  }

  &__description {
    padding-right: 15px;
  }

  &__element {
    @media #{$br-md} {
      margin-bottom: 45px;
    }

    &-container {
      @include flexbox(row, flex-start, flex-start);
      flex-wrap: wrap;
    }
  }

  &__heading {
    font-size: 24px;
    font-weight: $bold;
    margin: 0 0 20px;
  }

  &__subheading {
    margin: 0 0 20px;
    font-size: 14px;
    font-weight: $bold;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: $reg;
    line-height: 1.3;
    color: #919191;
  }

  &__btn {
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: $bold;
    line-height: 0.8;

    @media #{$br-xs} {
      width: 100%;
      margin: 15px auto 0 auto;
      text-align: center;
    }

    &:nth-child(2n) {
      margin-left: 10px;

      @media #{$br-xs} {
        margin: 15px auto 0 auto;
      }
    }
  }

  &__list {
    margin-bottom: 20px;
  }
}