/* --- Supervision --- */
.supervision {
  background-color: $light;
  padding: 200px 0 0;

  @media #{$br-md} {
    padding: 140px 0 0;
  }

  @media #{$br-sm} {
    padding: 30px 0 0;
  }

  &__heading {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: $bold;
  }
  
  &__text {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: $reg;
    line-height: 1.3;
    color: $muted;
  }

  &__architect {
    margin-top: 40px;

    &-about {
      @media #{$br-sm} {
        padding: 0 12px 30px;
      }
    }

    &-photo {
      display: block;
      margin-right: 45px;
      float: left;

      @media #{$br-md} {
        width: 200px;
        margin: 0 30px 0 0;
      }

      @media #{$br-sm} {
        width: 100px;
        margin: 0 15px 0 0;
      }

      @media #{$br-xs} {
        width: 80px;
        margin: 0 10px 0 0;
      }
    }
    
    &-quote {
      padding-top: 25px;
      color: $dark;
      font-weight: $reg;

      @media #{$br-md} {
        padding-top: 15px;
      }

      @media #{$br-sm} {
        padding-top: 0;
      }
    }

    &-text {
      font-size: 18px;
      font-weight: $reg;
      line-height: 1.3;
      margin-top: 40px;
      margin-bottom: 25px;

      &:before { content: '« '; }
      &:after { content: ' »'; }

      @media #{$br-md} {
        font-size: 16px;
        margin-top: 25px;
        margin-bottom: 20px;
      }

      @media #{$br-sm} {
        margin-top: 0;
      }

      @media #{$br-xs} {
        font-size: 14px;
      }
    }

    &-author {
      margin-bottom: 0;
      font-size: 20px;
      line-height: 1;
      font-weight: $bold;

      @media #{$br-sm} {
        font-size: 18px;
      }
    }

    &-profession {
      font-size: 14px;
      font-weight: $bold;
    }
  }
}