/* --- Videos --- */
.videos {
  padding: 70px 0 45px;
  background-color: white;
  border-bottom: 1px $light solid;

  @media #{$br-sm} {
    padding: 30px 0;
  }

  @media #{$br-xs} {
    padding: 30px 0;
  }

  &__heading {
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: $bold;

    @media #{$br-sm} {
      font-size: 32px;
    }
  }

  &__elem {
    width: 300px;
    margin: 0 30px 30px 0;
    float: left;

    &:nth-child(3n+3) {
      margin: 0 0 30px 0;
    }

    @media #{$br-md} {
      width: calc((100% - 60px) / 3);
    }

    @media #{$br-xs} {
      width: 100%;
      margin: 0 0 20px 0;
      float: none;

      &:nth-child(3n+3) {
        margin: 0 0 20px 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-bottom {
      padding-top: 10px;
    }

    &-link {
      display: block;
      position: relative;
      line-height: 1;
      background-color: $dark;

      &:before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($dark, 0.6);
        background-image: url('../img/elem/video__preview-icon.png');
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.7;
        z-index: 3;
        @include transition(background-color, 0.2s, ease);
      }

      &:hover,
      &:focus {
        &:before {
          background-color: rgba($dark, 0);
        }
      }
    }

    &-preview {
      display: block;
      width: 100%;
    }

    &-heading {
      margin-bottom: 5px;
      font-weight: $bold;
      font-size: 20px;
      line-height: 1.2;

      @media #{$br-sm} {
        font-size: 18px;
      }
    }
    
    &-description {
      color: $muted;
      font-weight: $reg;
    }
  }
}