/* --- Works --- */
.works {
  padding: 0 0 45px;

  @media #{$br-xs} {
    padding: 0 0 20px;
  }

  &__navigation {
    background-color: $dark;
    text-transform: uppercase;
    font-weight: $black;
    color: $muted;

    &-side {
      padding: 30px 45px 15px;
      float: left;

      &--grey {
        background-color: $light;
        float: right;
        
        .works__navigation-link {
          &:hover,
          &:focus {
            color: rgba($dark, 0.6);
          }

          &--active {
            color: $dark;

            &:hover,
            &:focus {
              color: rgba($dark, 1);
            }
          }
        }
      }

      @media #{$br-lg} {
        width: 100%;
        float: none;
      }

      @media #{$br-xs} {
        padding: 20px 20px 5px;
      }
    }

    &-list {
      line-height: 1;
    }

    &-item {
      display: inline-block;
      margin-right: 35px;
      margin-bottom: 15px;
      line-height: inherit;

      &:last-child {
        margin-right: 0;
      }

      @media #{$br-xs} {
        display: block;
        width: 50%;
        margin-right: 0;
        float: left;
      }
    }

    &-link {
      display: inline-block;
      line-height: inherit;
      color: $muted;

      &:hover,
      &:focus {
        color: rgba(white, 0.7);
        text-decoration: none;
      }

      &--active {
        color: white;

        &:hover,
        &:focus {
          color: rgba(white, 1);
        }
      }
    }
  }

  &__elem {
    height: 270px;
    width: calc((100% - 50px) / 3);
    position: relative;
    margin-top: 25px;
    margin-right: 25px;
    color: white;
    overflow: hidden;
    float: left;

    &:before {
      content: '';
      display: block;
      height: 12px;
      width: 39px;
      position: absolute;
      bottom: 40px;
      left: 45px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('../img/elem/works__elem-arrow.png');
      opacity: 0;
      z-index: 5;
      @include transition(opacity, 0.2s, ease);

      @media #{$br-lg} {
        left: 25px;
      }

      @media #{$br-xs} {
        left: 20px;
        bottom: 25px;
      }
    }

    &:nth-child(3n+3) {
      margin-right: 0;
    }

    &:hover,
    &:focus {
      color: white;
      text-decoration: none;
      background-color: $dark;

      img {
        opacity: 0.4;
      }

      .works__elem-description {
        opacity: 1;
      }

      &:before {
        opacity: 1;
      }
    }

    @media #{$br-lg} {
      height: auto;
    }

    @media #{$br-md} {
      width: calc(50% - 13px);
      margin-right: 26px;

      &:nth-child(3n+3) {
        margin-right: 26px;
      }

      &:nth-child(2n+2) {
        margin-right: 0;
        //margin-left: 13px;
      }
    }

    @media #{$br-sm} {
      width: 100%;
      margin: 10px 0 0;

      &:nth-child(2n+2),
      &:nth-child(3n+3) {
        margin-right: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-img {
      min-width: 100%;
      width: 100%;
      position: relative;
      top: 0;
      left: 0;
      z-index: 2;
      @include transition(opacity, 0.2s, ease);

      @media #{$br-lg} {
        width: 100%;
        min-height: unset;
        height: auto;
      }
    }

    &-description {
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      padding: 45px;
      opacity: 0;
      z-index: 5;
      @include transition(opacity, 0.2s, ease);

      @media #{$br-lg} {
        padding: 25px 45px 25px 25px;
      }

      @media #{$br-xs} {
        padding: 25px 45px 20px 20px;
      }
    }

    &-heading {
      margin-bottom: 15px;
      font-size: 24px;
      font-weight: $bold;
      line-height: 1.2;

      @media #{$br-lg} {
        font-size: 18px;
      }
    }

    &-subinfo {
      font-size: 14px;
      font-weight: $reg;
      line-height: 1.2;
    }
  }
}