section#about.about
    .container
        .center
            h1.about__heading О студии
            .about__promo
                img(src='../img/elem/about__promo-img.jpg', alt='О студии').about__promo-img
                p.about__promo-text В архитектуре и дизайне интерьера-это своеобразная повторяющаяся схема построения элементов пространства, которая помогает воспринимать интерьер в движении. Ритм является одним из связующих элементов и может присутствовать как в планировке пространства, так и в декоративных элементах.