<section ng-show="{{ !!projectContent.mockups.length }}" id="sketches" class="sketches">
	<div class="container">
		<div class="center">
			<h2 class="sketches__heading" translate="SKETCHES__TITLE"></h2>
			<div id="sketches__gallery" class="sketches__gallery js-lightbox--gallery">
				<a ng-repeat="sketch in projectContent.mockups" href="{{ sketch }}" class="item sketches__gallery-item"><img src="{{ sketch }}" alt="Эскиз дизайна" class="sketches__gallery-element"></a>
			</div>
		</div>
	</div>
</section>