section#publications.publications
    .container
        .center
            h2.publications__heading Публикации
            .publications__container.clearfix
                - for (var i = 0; i < 15; i++) {
                    a(href='#', title='Открыть в полном размере').publications__elem
                        img(src='../img/publications/publications__0.jpg', alt='Публикация', height='150', width='110').publications__elem-img
                - }