// Default styles
body, html {
	color: $dark;
	font-family: $font;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	font-smooth: always;
	line-height: 1.2;
	background-color: #fff;
	overflow-x: hidden;
}

.arch{
	position: relative;
	left: 0;
	transition: left 0.2s ease;

	&--moved {
		left: 282px;
		overflow: hidden;
	}
}

.noscroll {
	overflow: hidden !important;
	z-index: -10;
	-webkit-overflow-scrolling: auto;

	&-y {
		overflow: visible;
		overflow-y: hidden;
	}

	&-x {
		overflow: visible;
		overflow-x: hidden;
	}
}

* {
	@include box-sizing(border-box);
}

.clearfix:after,
.center:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.text {
	&--left { text-align: left; }
	&--center { text-align: center; }
	&--right { text-align: right; }
}

.center {
	width: 960px;
	position: relative;
	margin: 0 auto;

	&--wide {
		width: 1300px;
		padding: 0 12px;

		@media only screen and (max-width: 1300px) {
			width: 100%;
		}
	}

	@media #{$br-md} {
		width: auto;
	}
}

input {
	outline: none;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.list {
	padding-left: 10px;
	line-height: 1.4;

	&__point {
		position: relative;
		font-weight: $reg;
		color: #919191;
	}

	&--dashed {
		.list__point {
			&:before {
				content: '-';
				position: absolute;
				top: 0;
				left: -10px;
			}
		}
	}

	&--dotted {
		.list__point {
			margin-bottom: 15px;
			font-weight: $bold;

			&:before {
				content: '';
				display: block;
				height: 4px;
				width: 4px;
				position: absolute;
				top: 8px;
				left: -10px;
				border-radius: 50%;
				background-color: $yellow;
			}
		}
	}
}

.area-sign {
	position: absolute;
	right: 10px;
	bottom: 12px;
	font-size: 14px;
	font-weight: $bold;
	color: $dark;

	&__square {
		font-size: 9px;
	}
}

.monthly {
	width: 240px;
	color: white;
}