/* --- Fonts --- */

// Light
@font-face {
	font-family: 'Harmonia Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Harmonia Sans light'),
	local('HarmoniaSansRegular'),
	local('HarmoniaSans'),
	url('../fonts/HarmoniaSansProCyr/HarmoniaSansProCyr-Light.otf') format('opentype');
}

// Light Italic
@font-face {
	font-family: 'Harmonia Sans';
	font-style: italic;
	font-weight: 400;
	src: local('Harmonia Sans light Italic'),
	local('HarmoniaSansItalic'),
	url('../fonts/HarmoniaSansProCyr/HarmoniaSansProCyr-LightItalic.otf') format('opentype');
}

// Regular
@font-face {
	font-family: 'Harmonia Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Harmonia Sans Regular'),
		 local('HarmoniaSansRegular'),
		 local('HarmoniaSans'),
		 url('../fonts/HarmoniaSansProCyr/HarmoniaSansProCyr-Regular.otf') format('opentype');
}

// Regular Italic
@font-face {
	font-family: 'Harmonia Sans';
	font-style: italic;
	font-weight: 600;
	src: local('Harmonia Sans Italic'),
		 local('HarmoniaSansItalic'),
		 url('../fonts/HarmoniaSansProCyr/HarmoniaSansProCyr-Italic.otf') format('opentype');
}

// Bold
@font-face {
	font-family: 'Harmonia Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Harmonia Sans Bold'),
		 local('HarmoniaSansBold'),
		 url('../fonts/HarmoniaSansProCyr/HarmoniaSansProCyr-Bold.otf') format('opentype');
}

// Bold Italic
@font-face {
	font-family: 'Harmonia Sans';
	font-style: italic;
	font-weight: 700;
	src: local('Harmonia Sans BoldItalic'),
		 local('HarmoniaSans BoldItalic'),
		 url('../fonts/HarmoniaSansProCyr/HarmoniaSansProCyr-BoldItalic.otf') format('opentype');
}

// Black
@font-face {
	font-family: 'Harmonia Sans';
	font-style: normal;
	font-weight: 800;
	src: local('Harmonia Sans  Black'),
		 local('HarmoniaSans Black'),
		 url('../fonts/HarmoniaSansProCyr/HarmoniaSansProCyr-Black.otf') format('opentype');
}

// Black Italic
@font-face {
	font-family: 'Harmonia Sans';
	font-style: italic;
	font-weight: 800;
	src: local('Harmonia Sans BlacItalic'),
		 local('HarmoniaSansBlacItalic'),
		 url('../fonts/HarmoniaSansProCyr/HarmoniaSansProCyr-BlackItalic.otf') format('opentype');
}