//- Variables

//- Colors:
$dark: #1a1a1a;
$yellow: #ffd457;
$yellow--hover: #ffc92d;
$muted: #919191;
$light: #f5f5f5;

//- Font vars
$font: 'Harmonia Sans', sans-serif;
$lig: 500;
$reg: 600;
$bold: 700;
$black: 800;

//- Break points
$br-lg: "only screen and (max-width: 1276px)";
$br-md: "only screen and (max-width: 992px)";
$br-sm: "only screen and (max-width: 768px)";
$br-xs: "only screen and (max-width: 480px)";